{"swagger":"2.0","info":{"version":"0.0.1","title":"iQIES Enforcement Service","description":"The enforcement microservice provides data related to when a provider is out of compliance and ends with the provider being back in compliance."},"x-service":"enforcements","host":"enforcement.service.consul:32768","basePath":"","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/v1/sanction-types":{"parameters":[],"get":{"description":"get all sanction types","tags":["referenceData"],"parameters":[{"name":"stateId","in":"query","type":"number","format":"int32"},{"name":"isFed","in":"query","description":"flag to return federal sanction types","type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/EnforcementReferenceData"}}}}}},"/v1/sanction-not-in-effect-reasons":{"parameters":[],"get":{"description":"get all sanction not in effect reasons","summary":"get all sanction not in effect reasons","tags":["referenceData"],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/EnforcementReferenceData"}}}}}},"/v1/sanction-in-effect-statuses":{"parameters":[],"get":{"description":"get all sanction in effect statuses","summary":"get all sanction in effect statuses","tags":["referenceData"],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/EnforcementReferenceData"}}}}}},"/v1/pingDb":{"parameters":[],"get":{"description":"db connection health check endpoint","summary":"db connection health check endpoint","tags":["health-check"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}}}},"/v1/ping":{"parameters":[],"get":{"description":"health check endpoint","summary":"health check endpoint","tags":["health-check"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}}}},"/v1/legal-action-outcomes":{"parameters":[],"get":{"description":"get all legal outcome types.","summary":"get all legal outcome types.","tags":["referenceData"],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/EnforcementReferenceData"}}}}}},"/v1/hearingOrganizations":{"parameters":[],"get":{"description":"get all hearing organizations","summary":"get all hearing organizations","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/EnforcementReferenceData"}}}}}},"/v1/hearing-settlement-status":{"parameters":[],"get":{"description":"get all hearing settlement statuses","summary":"get all hearing settlement statuses","tags":["reference data"],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/EnforcementReferenceData"}}}}}},"/v1/government-attorneys":{"parameters":[],"get":{"consumes":["application/json"],"produces":["application/json"],"description":"get all government attorneys by stateId","summary":"get all government attorneys by stateId","parameters":[{"in":"query","name":"stateId","description":"ID of the provider state corresponding to government attorney.","required":true,"type":"integer"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/"}}}}}},"/v1/enforcements":{"parameters":[],"get":{"description":"get all enforcements","summary":"get all enforcements","tags":["enforcement"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"offset","in":"query","description":"Starting point for results","type":"integer","default":0},{"name":"limit","in":"query","description":"Results per Page","type":"integer","default":10},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"cycleStartDate"},{"name":"providerId","in":"query","type":"number","format":"int32","required":true},{"name":"surveyId","in":"query","type":"number","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/EnforcementCollection"}}}},"post":{"description":"create enforcement","summary":"create enforcement","tags":["enforcement"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"enforcement details","required":true,"schema":{"$ref":"#/definitions/Enforcement"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Enforcement"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"summary":"update citations on appealed survey","description":"update citations on appealed survey","security":[{"Bearer":[]}],"parameters":[{"name":"body","in":"body","description":"survey id and citation ids were updated on","schema":{"$ref":"#/definitions/EnforcementPut"},"required":true}],"responses":{"204":{"description":"Success","schema":{}},"404":{"description":"No Attachment found for this enforcement.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/enforcement-statuses":{"parameters":[],"get":{"description":"get all enforcement types","summary":"get all enforcement types","tags":["referenceData"],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/EnforcementReferenceData"}}}}}},"/v1/enforcement-attachments":{"parameters":[],"get":{"description":"get all enforcement attachments by providerId","summary":"get all enforcement attachments by providerId.","parameters":[{"name":"providerId","in":"query","description":"Id of provider","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/Attachment"}}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/cmp-ineffect-statuses":{"parameters":[],"get":{"description":"get all civil money penalty ineffect status types","summary":"get all civil money penalty ineffect status types","tags":["referenceData"],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/EnforcementReferenceData"}}}}}},"/v1/civil-money-penalties":{"parameters":[],"get":{"description":"get all civil money penalties by surveyId or citationIds","summary":"get all civil money penalties","tags":["civil money penalty"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"surveyId","in":"query","description":"surveyId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/CivilMoneyPenalty"}}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/basis-for-appeal":{"parameters":[],"get":{"description":"get all basis for appeal","summary":"get all basis for appeals","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/EnforcementReferenceData"}}}}}},"/v1/appealTypes":{"parameters":[],"get":{"description":"get all appeal types","summary":"get all appeal types","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/EnforcementReferenceData"}}}}}},"/v1/appealed-to-list":{"parameters":[],"get":{"description":"get all appealed To types.","summary":"get all appealed To types.","tags":["referenceData"],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/EnforcementReferenceData"}}}}}},"/v1/appealed-by-list":{"parameters":[],"get":{"description":"get all appealed By types.","summary":"get all appealed By types.","tags":["referenceData"],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/EnforcementReferenceData"}}}}}},"/v1/enforcements/{enforcementId}/surveys":{"parameters":[],"get":{"description":"get all surveys for an enforcement","summary":"get all surveys for an enforcement","tags":["enforcement-survey"],"parameters":[{"name":"enforcementId","in":"path","description":"Id of enforcement","required":true,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer","default":10},{"name":"offset","in":"query","description":"offset.","type":"integer","default":0},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"createdAt"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/EnforcementSurvey"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/enforcements/{enforcementId}/sanctions/{sanctionId}":{"parameters":[],"get":{"description":"get enforcement sanctions by sanctionId.","summary":"get enforcement sanctions by sanctionId.","tags":["sanction"],"parameters":[{"name":"enforcementId","in":"path","description":"Id of enforcement","required":true,"type":"integer","format":"int64"},{"name":"sanctionId","in":"path","description":"sanction Id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Sanction"}},"404":{"description":"No sanctions found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"description":"update sanction","summary":"update sanction","tags":["sanction"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sanctionId","in":"path","description":"sanction Id","required":true,"type":"integer","format":"int64"},{"in":"body","name":"body","description":"sanction details","required":true,"schema":{"$ref":"#/definitions/Sanction"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Sanction"}},"404":{"description":"Not found"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"delete":{"summary":"delete enforcement sanction by sanctionId","description":"delete enforcement sanction by sanctionId","tags":["sanction"],"parameters":[{"name":"enforcementId","in":"path","description":"Id of enforcement","required":true,"type":"integer","format":"int64"},{"name":"sanctionId","in":"path","description":"sanctions Id","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"Success","schema":{}},"404":{"description":"No sanctions found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/enforcements/{enforcementId}/sanctions":{"parameters":[],"post":{"description":"create sanction","summary":"create sanction","tags":["sanction"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"enforcementId","in":"path","description":"enforcement Id","required":true,"type":"integer","format":"int64"},{"in":"body","name":"body","description":"sanction details","required":true,"schema":{"$ref":"#/definitions/Sanction"}}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/Sanction"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"get":{"description":"get all sanctions for an enforcement","summary":"get all sanctions for an enforcement","tags":["sanction"],"parameters":[{"name":"enforcementId","in":"path","description":"Id of enforcement","required":true,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer","default":10},{"name":"offset","in":"query","description":"offset.","type":"integer","default":0},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"stateRecommendedEffectiveDate"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Sanction"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/enforcements/{enforcementId}/responsible-staffs/{staffId}":{"parameters":[],"delete":{"summary":"delete enforcement responsible staff","description":"delete enforcement responsible staff","parameters":[{"name":"enforcementId","in":"path","description":"Id of enforcement","required":true,"type":"integer","format":"int64"},{"name":"staffId","in":"path","description":"Id of staff","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{}},"404":{"description":"No staff found for this enforcement.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"summary":"toggle primary enforcement responsible staff","description":"toggle enforcement responsible staff","parameters":[{"name":"enforcementId","in":"path","description":"Id of enforcement","required":true,"type":"integer","format":"int64"},{"name":"staffId","in":"path","description":"Id of staff","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["primary"],"properties":{"primary":{"type":"boolean"}}}}],"responses":{"200":{"description":"Success","schema":{}},"404":{"description":"No staff found for this enforcement.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/enforcements/{enforcementId}/responsible-staffs":{"parameters":[],"get":{"description":"get all responsible Staff for an enforcement","summary":"get all responsible Staff for an enforcement","tags":["enforcement-staff"],"parameters":[{"name":"enforcementId","in":"path","description":"Id of enforcement","required":true,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer"},{"name":"offset","in":"query","description":"offset.","type":"integer","default":0},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"createdAt"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ResponsibleStaff"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"post":{"description":"this end point to add Staff responsible for enforcement","summary":"this end point to add Staff responsible for enforcement","parameters":[{"name":"enforcementId","in":"path","description":"Id of enforcement","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["staffIds"],"properties":{"staffIds":{"type":"array","items":{"type":"integer"}}}}}],"responses":{"201":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ResponsibleStaff"}}},"400":{"description":"Validation Error","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Enforcement id not found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/enforcements/{enforcementId}/notes/{noteId}":{"parameters":[],"get":{"description":"get enforcement notes by noteId.","summary":"get enforcement notes by noteId.","tags":["enforcement-note"],"parameters":[{"name":"enforcementId","in":"path","description":"Id of enforcement","required":true,"type":"integer","format":"int64"},{"name":"noteId","in":"path","description":"note Id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/EnforcementNote"}},"404":{"description":"No Notes found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"delete":{"summary":"delete enforcement notes","description":"delete enforcement notes","tags":["enforcement-note"],"parameters":[{"name":"enforcementId","in":"path","description":"Id of enforcement","required":true,"type":"integer","format":"int64"},{"name":"noteId","in":"path","description":"Id of notes","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{}},"404":{"description":"No Notes found for this enforcement.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"description":"updates note for enforcement","summary":"updates note for enforcement","tags":["enforcement-note"],"parameters":[{"name":"enforcementId","in":"path","description":"Id of enforcement","required":true,"type":"integer","format":"int64"},{"name":"noteId","in":"path","description":"Id of note","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/EnforcementNote"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/EnforcementNote"}},"400":{"description":"Validation Error","schema":{"$ref":"#/definitions/ErrorResponse"}},"403":{"description":"user not authorized to update this Note","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Note not exists.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/enforcements/{enforcementId}/notes":{"parameters":[],"get":{"description":"get all notes for an enforcement","summary":"get all notes for an enforcement","tags":["enforcement-note"],"parameters":[{"name":"enforcementId","in":"path","description":"Id of enforcement","required":true,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer","default":10},{"name":"offset","in":"query","description":"offset.","type":"integer","default":0},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"createdAt"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/EnforcementNote"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"post":{"description":"this end point adds note to enforcement","summary":"add note to enforcement","tags":["enforcement-note"],"parameters":[{"name":"enforcementId","in":"path","description":"Id of enforcement","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["note"],"properties":{"note":{"type":"string"}}}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/EnforcementNote"}},"400":{"description":"Validation Error","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/enforcements/{enforcementId}/civilmoneypenalties/{civilmoneypenaltyId}/waivers":{"parameters":[],"put":{"description":"update civil money penalty waiver section","summary":"update civil money penalty waiver section","tags":["civil money penalty"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"enforcementId","in":"path","description":"enforcement Id","required":true,"type":"integer","format":"int64"},{"name":"civilmoneypenaltyId","in":"path","description":"civil money penalty Id","required":true,"type":"integer","format":"int64"},{"in":"body","name":"body","description":"enforcement details","required":true,"schema":{"$ref":"#/definitions/CmpWaiver"}}],"responses":{"204":{"description":"Success","schema":{}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Not found"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/enforcements/{enforcementId}/civilmoneypenalties/{civilmoneypenaltyId}":{"parameters":[],"get":{"description":"get civil money penalty details","summary":"get civil money penalty details","tags":["civil money penalty"],"parameters":[{"name":"enforcementId","in":"path","description":"enforcement Id","required":true,"type":"integer","format":"int64"},{"name":"civilmoneypenaltyId","in":"path","description":"civil money penalty Id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CivilMoneyPenalty"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/ErrorResponseList"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"delete":{"summary":"delete civil money penalty","description":"delete civil money penalty","tags":["civil money penalty"],"parameters":[{"name":"enforcementId","in":"path","description":"enforcement Id","required":true,"type":"integer","format":"int64"},{"name":"civilmoneypenaltyId","in":"path","description":"civil money penalty Id","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"Success","schema":{}},"404":{"description":"No civil money penalty found for this enforcement.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"description":"update civil money penalty","summary":"update civil money penalty","tags":["civil money penalty"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"enforcementId","in":"path","description":"enforcement Id","required":true,"type":"integer","format":"int64"},{"name":"civilmoneypenaltyId","in":"path","description":"civil money penalty Id","required":true,"type":"integer","format":"int64"},{"in":"body","name":"body","description":"enforcement details","required":true,"schema":{"$ref":"#/definitions/CivilMoneyPenalty"}}],"responses":{"204":{"description":"Success","schema":{}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponseList"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/enforcements/{enforcementId}/civilmoneypenalties":{"parameters":[],"post":{"description":"create civil money penalty","summary":"create civil money penalty","tags":["civil money penalty"],"parameters":[{"name":"enforcementId","in":"path","description":"enforcement Id","required":true,"type":"integer","format":"int64"},{"in":"body","name":"body","description":"enforcement details","required":true,"schema":{"$ref":"#/definitions/CivilMoneyPenalty"}}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/CivilMoneyPenalty"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponseList"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"get":{"description":"get all civil money penalties","summary":"get all civil money penalties","tags":["civil money penalty"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"enforcementId","in":"path","description":"enforcement Id","required":true,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"Starting point for results","type":"integer","default":0},{"name":"limit","in":"query","description":"Results per Page","type":"integer"},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"createdAt"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/CivilMoneyPenalty"}}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/enforcements/{enforcementId}/attachments/{attachmentId}/signedurls/{operation}":{"parameters":[],"get":{"tags":["attachments"],"summary":"Get signed url for a given s3 operation and s3 object key.","description":"Get signed url for a given s3 operation and s3 object key.","parameters":[{"name":"operation","in":"path","description":"S3 operation - getObject etc","required":true,"type":"string","enum":["getObject"]}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SignedUrl"}},"404":{"description":"Key not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/enforcements/{enforcementId}/attachments/{attachmentId}":{"parameters":[],"delete":{"summary":"delete enforcement attachment","description":"delete enforcement attachment","security":[{"Bearer":[]}],"parameters":[{"name":"enforcementId","in":"path","description":"ID of enforcement","required":true,"type":"integer","format":"int64"},{"name":"attachmentId","in":"path","description":"ID of attachment","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{}},"404":{"description":"No Attachment found for this enforcement.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"summary":"update enforcement attachment description","description":"update enforcement attachment description","security":[{"Bearer":[]}],"parameters":[{"name":"enforcementId","in":"path","description":"ID of enforcement","required":true,"type":"integer","format":"int64"},{"name":"attachmentId","in":"path","description":"ID of attachment","required":true,"type":"integer","format":"int64"},{"name":"attachment","in":"body","description":"new attachment description","required":true,"schema":{"type":"object","required":["description"],"properties":{"description":{"type":"string"}}}}],"responses":{"204":{"description":"Success","schema":{}},"404":{"description":"No Attachment found for this enforcement.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/enforcements/{enforcementId}/attachments":{"parameters":[],"get":{"description":"get attachments for an enforcement","summary":"get attachments for an enforcement","security":[{"Bearer":[]}],"parameters":[{"name":"enforcementId","in":"path","description":"ID of enforcement","required":true,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer"},{"name":"offset","in":"query","description":"offset.","type":"integer","default":0},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"createdAt"},{"name":"citationAttachments","in":"query","description":"flag to include associated citation attachments","type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/Attachment"}}}}},"404":{"description":"No enforcement found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"post":{"description":"Add attachement to a enforcement","summary":"Add attachement to a enforcement","security":[{"Bearer":[]}],"consumes":["multipart/form-data"],"parameters":[{"name":"enforcementId","in":"path","description":"ID of enforcement","required":true,"type":"integer","format":"int64"},{"name":"enforcementAttachment","in":"formData","type":"file","description":"File to be attached to a enforcement","required":true},{"in":"formData","name":"attachmentDescription","type":"string","description":"attached file description","required":true}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/Attachment"}},"400":{"description":"Bad request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"403":{"description":"This file contains a virus. Please upload a valid file.","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"enforcement not found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/enforcements/{enforcementId}/appeals/{appealId}/surveys/{surveyId}":{"parameters":[],"get":{"description":"get an appealed enforcement survey","summary":"get an appealed enforcement survey","tags":["appeals"],"parameters":[{"name":"enforcementId","in":"path","description":"Id of enforcement","required":true,"type":"integer","format":"int64"},{"name":"surveyId","in":"path","description":"Id of appealed enforcement survey","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AppealCase"}},"204":{"description":"No appeal found"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"description":"update an appealed enforcement survey","summary":"update an appealed enforcement survey","tags":["appeals"],"parameters":[{"name":"enforcementId","in":"path","description":"Id of enforcement","required":true,"type":"integer","format":"int64"},{"name":"surveyId","in":"path","description":"Id of appealed enforcement survey","required":true,"type":"integer","format":"int64"},{"in":"body","name":"body","description":"appealed enforcement survey details","required":true,"schema":{"$ref":"#/definitions/AppealedEnforcementSurvey"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AppealedEnforcementSurvey"}},"204":{"description":"No appeal found"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/enforcements/{enforcementId}/appeals/{appealId}/legalactions":{"parameters":[],"post":{"description":"Create a new appeal legal action.","summary":"Create a new appeal legal action.","consumes":["application/json"],"produces":["application/json"],"tags":["appeals"],"parameters":[{"in":"path","name":"enforcementId","description":"ID of the enforcement corresponding to this appeal.","required":true,"type":"integer"},{"in":"path","name":"appealId","description":"ID of appeal.","required":true,"type":"integer"},{"in":"body","name":"body","description":"appeals legal action details.","required":true,"schema":{"$ref":"#/definitions/LegalAction"}}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/LegalAction"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponseList"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"get":{"description":"get legal actions for an appeal","summary":"get legal actions for an appeal","tags":["appeals"],"parameters":[{"in":"path","name":"enforcementId","description":"ID of the enforcement corresponding to this appeal.","required":true,"type":"integer"},{"in":"path","name":"appealId","description":"ID of appeal.","required":true,"type":"integer"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/LegalAction"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/enforcements/{enforcementId}/appeals/{appealId}/{legalActionId}/{legalActionId}":{"parameters":[],"get":{"description":"get legal action for an appeal","summary":"get legal action for an appeal","tags":["appeals"],"parameters":[{"in":"path","name":"enforcementId","description":"ID of the enforcement corresponding to this appeal.","required":true,"type":"integer"},{"in":"path","name":"appealId","description":"ID of appeal.","required":true,"type":"integer"},{"in":"path","name":"legalActionId","description":"ID of legal action.","required":true,"type":"integer"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/LegalAction"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"delete":{"summary":"delete legal action","description":"delete legal action","tags":["appeal"],"parameters":[{"in":"path","name":"enforcementId","description":"ID of the enforcement corresponding to this appeal.","required":true,"type":"integer"},{"in":"path","name":"appealId","description":"ID of appeal.","required":true,"type":"integer"},{"in":"path","name":"legalActionId","description":"ID of legal action.","required":true,"type":"integer"}],"responses":{"204":{"description":"Success","schema":{}},"404":{"description":"No legal action found for this appeal.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"description":"update legal action for an Appeal","summary":"update legal action for an Appeal","tags":["appeals"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"path","name":"enforcementId","description":"ID of the enforcement corresponding to this appeal.","required":true,"type":"integer"},{"in":"path","name":"appealId","description":"ID of appeal.","required":true,"type":"integer"},{"in":"path","name":"legalActionId","description":"ID of legal action.","required":true,"type":"integer"}],"responses":{"204":{"description":"Success","schema":{}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponseList"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/enforcements/{enforcementId}/appeals/{appealId}":{"parameters":[],"put":{"description":"updates appeal for enforcement","summary":"updates appeal for enforcement","tags":["appeals"],"parameters":[{"name":"enforcementId","in":"path","description":"Id of enforcement","required":true,"type":"integer","format":"int64"},{"name":"appealId","in":"path","description":"Id of appeal","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/AppealCase"}}],"responses":{"204":{"description":"Success"},"400":{"description":"Validation Error","schema":{"$ref":"#/definitions/ErrorResponse"}},"403":{"description":"user not authorized to update this Appeal","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Appeal does not exist","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/enforcements/{enforcementId}/appeals":{"parameters":[],"post":{"description":"Create an a new appeal","summary":"Create an a new appeal","consumes":["application/json"],"produces":["application/json"],"tags":["appeals"],"parameters":[{"in":"path","name":"enforcementId","description":"ID of the enforcement corresponding to this appeal.","required":true,"type":"integer"},{"in":"body","name":"body","description":"appeals details ","required":true,"schema":{"$ref":"#/definitions/AppealCase"}}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/AppealCase"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"get":{"description":"get appeal for an enforcement","summary":"get appeal for an enforcement","tags":["appeals"],"parameters":[{"name":"enforcementId","in":"path","description":"Id of enforcement","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AppealCase"}},"204":{"description":"No appeal found"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/enforcements/{enforcementId}":{"parameters":[],"get":{"description":"get enforcement by Id","summary":"get enforcement by Id","tags":["enforcement"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"enforcementId","in":"path","description":"ID of enforcement to return enforcement information","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/EnforcementGet"}},"404":{"description":"enforcement not found","schema":{"$ref":"#/definitions/NotFoundResponse"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"description":"update enforcement","summary":"update enforcement","tags":["enforcement"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"enforcementId","in":"path","description":"enforcement Id","required":true,"type":"integer","format":"int64"},{"in":"body","name":"body","description":"enforcement details","required":true,"schema":{"$ref":"#/definitions/Enforcement"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Enforcement"}},"404":{"description":"Not found"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}}},"definitions":{"EnforcementReferenceData":{"type":"object","properties":{"id":{"type":"integer"},"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"}}},"Enforcement":{"type":"object","required":["providerId","isFed","surveys"],"properties":{"id":{"type":"integer","format":"int64"},"transferredToRoDate":{"type":["string","null"],"format":"date"},"providerId":{"type":"integer"},"cycleStartDate":{"type":["string","null"],"format":"date"},"isFed":{"type":"boolean","default":false},"enforcementStatusId":{"type":"integer"},"surveys":{"type":"array","items":{"type":"object","properties":{"surveyId":{"type":"integer"},"isStarting":{"type":"boolean"}}}}}},"EnforcementGet":{"type":"object","required":["providerId","isFed","surveys"],"properties":{"id":{"type":"integer","format":"int64"},"transferredToRoDate":{"type":["string","null"],"format":"date"},"providerId":{"type":"integer"},"cycleStartDate":{"type":["string","null"],"format":"date"},"isFed":{"type":"boolean","default":false},"enforcementStatusId":{"type":"integer"},"surveys":{"type":"array","items":{"type":"object","properties":{"surveyId":{"type":"integer"},"isStarting":{"type":"boolean"}}}},"hasCmpSanction":{"type":"boolean","default":false},"hasSanction":{"type":"boolean","default":false}}},"EnforcementPut":{"type":"object","required":["citationIds","surveyId"],"properties":{"surveyId":{"type":"integer"},"citationIds":{"type":"array","items":{"type":"integer"}}}},"EnforcementCollection":{"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/definitions/Enforcement"}},"numPages":{"type":"number","format":"int32"},"offset":{"type":"number","format":"int32"},"page":{"type":"number","format":"int32"},"totalResults":{"description":"total results from filter","type":"number","format":"int32"},"limit":{"type":"number","format":"int32"}}},"Sanction":{"type":"object","required":["sanctionInEffectStatusId","sanctionTypeId"],"properties":{"id":{"type":"integer","format":"int64"},"stateRecommendedEffectiveDate":{"type":["string","null"],"format":"date"},"startDate":{"type":["string","null"],"format":"date"},"endDate":{"type":["string","null"],"format":"date"},"isAddedByRo":{"type":"boolean"},"sanctionInEffectStatusId":{"type":"integer"},"sanctionTypeId":{"type":"integer"},"sanctionNotInEffectReasonId":{"type":"integer"}}},"EnforcementNote":{"type":"object","required":["note"],"properties":{"id":{"type":"integer"},"enforcementId":{"type":"integer"},"note":{"type":"string"},"writtenBy":{"type":"integer"},"writtenOnDate":{"type":["string","null"],"format":"date"},"createdBy":{"type":"integer"},"updatedBy":{"type":"integer"},"createdAt":{"type":["string","null"],"format":"date"},"updatedAt":{"type":["string","null"],"format":"date"}}},"ResponsibleStaff":{"type":"object","required":["id","enforcementId","staffId"],"properties":{"id":{"type":"integer"},"enforcementId":{"type":"integer"},"staffId":{"type":"integer"},"primary":{"type":"boolean"}}},"GovernmentAttorney":{"type":"object","required":["id","governmentAttorneyName","stateId"],"properties":{"id":{"type":"integer"},"governmentAttorneyName":{"type":"string"},"stateId":{"type":"integer"}}},"EnforcementSurvey":{"type":"object","required":["enforcementId"],"properties":{"id":{"type":"integer"},"surveyId":{"type":"integer"},"isStarting":{"type":"boolean"},"enforcementId":{"type":"integer"}}},"AppealedEnforcementSurvey":{"type":"object","properties":{"id":{"type":"integer"},"surveyId":{"type":"integer"},"isStarting":{"type":"boolean"},"enforcementId":{"type":["string","null"]},"revised2567Date":{"type":["string","null"],"format":"date"},"basisForAppealId":{"type":["integer","null"]},"appealRelatedCitations":{"type":["array","null"],"items":{"type":"object","properties":{"citationId":{"type":"integer"},"hearingSettlementStatusId":{"type":"integer"}}}}}},"CivilMoneyPenalty":{"type":"object","required":["isPerInstance","amount","enforcementSurveyId","inEffectStatusId","citationIds"],"properties":{"id":{"type":"integer"},"isPerInstance":{"type":"boolean"},"instanceDate":{"type":["string","null"],"format":"date"},"amount":{"type":"number","format":"double"},"impositionNoticeDate":{"type":["string","null"],"format":"date"},"startDate":{"type":["string","null"],"format":"date"},"endDate":{"type":["string","null"],"format":"date"},"enforcementSurveyId":{"type":"integer"},"inEffectStatusId":{"type":"integer"},"citationIds":{"type":"array","items":{"type":"integer"}},"isAddedByRo":{"type":"boolean"},"totalAmount":{"type":"number","format":"double"},"sanctionId":{"type":"integer","description":"This parameter exists only in response."},"cmpRelatedCitations":{"type":"object","description":"This object exists only in civil money penality search end point`s result.","properties":{"citationId":{"type":"integer"}}},"cmpWaiver":{"type":"object","description":"This object exists only in get response","$ref":"#/definitions/CmpWaiver"}}},"CmpWaiver":{"type":"object","required":["appealWaiverDueDate","isAppealWaiverReceived"],"properties":{"appealWaiverDueDate":{"type":"string","format":"date"},"isAppealWaiverReceived":{"type":"boolean","default":false},"appealWaiverReceivedDate":{"type":["string","null"],"format":"date"},"reductionAmount":{"type":"number","format":"double","description":"This parameter exists only in response."},"netAmount":{"type":"number","format":"double","description":"This parameter exists only in response."}}},"AppealCase":{"type":"object","properties":{"id":{"type":"integer"},"acknowledgedToFacilityDate":{"type":["string","null"],"format":"date"},"forwardedToDABDate":{"type":["string","null"],"format":"date"},"initialRequestReceivedDate":{"type":["string","null"],"format":"date"},"isSeekingFedInjunction":{"type":["boolean","null"]},"injunctionGrantedDate":{"type":["string","null"],"format":"date"},"lastDateOfInjunction":{"type":["string","null"],"format":"date"},"appealTypeId":{"type":["integer","null"]},"hearingOrganizationId":{"type":["integer","null"]},"enforcementId":{"type":"integer"},"appealedSurveyIds":{"type":"array","items":{"type":"integer"}},"appealedSanctionIds":{"type":"array","items":{"type":"integer"}},"sanctions":{"type":"array","description":"This parameter exists only in response.","items":{"$ref":"#/definitions/Sanction"}}}},"LegalAction":{"required":["appealedToId","appealedById","appealDate"],"properties":{"id":{"type":"integer","format":"int64"},"appealDate":{"type":"string","format":"date"},"docketCaseNumber":{"type":["string","null"]},"beginDate":{"type":["string","null"],"format":"date"},"settleWithdrawDate":{"type":["string","null"],"format":"date"},"finalDecisionDate":{"type":["string","null"],"format":"date"},"appealedToId":{"type":"integer"},"appealedById":{"type":"integer"},"legalActionOutcomeId":{"type":["integer","null"]},"governmentAttorneyId":{"type":["integer","null"]},"governmentAttorneyStateId":{"type":["string","null"]},"governmentAttorneyName":{"type":["string","null"]},"stateId":{"type":["integer","null"]}}},"Attachment":{"properties":{"id":{"type":"integer","format":"int64"},"originalFileName":{"type":"string"},"attachmentDesc":{"type":"string"},"s3Location":{"type":"string"},"fileSize":{"type":"string"},"enforcementId":{"type":"integer","format":"int64"}}},"ErrorResponse":{"required":["message"],"properties":{"message":{"type":"string"}}},"ErrorResponseList":{"properties":{"message":{"type":"array","items":{"type":"string"}}}},"PingResponse":{"required":["message"],"properties":{"message":{"type":"string"}}}},"tags":[{"name":"referenceData"},{"name":"health-check"},{"name":"reference data"},{"name":"enforcement"},{"name":"civil money penalty"},{"name":"enforcement-survey"},{"name":"sanction"},{"name":"enforcement-staff"},{"name":"enforcement-note"},{"name":"attachments"},{"name":"appeals"},{"name":"appeal"}]}