{"swagger":"2.0","info":{"version":"0.0.2","title":"iQIES Intake Service","description":"The Intake microservice provides provider's complaints and incidents data"},"x-service":"Intake","host":"intake.service.consul:32769","basePath":"","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/v1/types":{"parameters":[],"get":{"description":"get all intake types","operationId":"get types","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/triage-actions":{"parameters":[],"get":{"description":"get all triage actions","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/sub-types":{"parameters":[],"get":{"description":"get all intake types","operationId":"get types","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/statuses":{"parameters":[],"get":{"description":"get all intake statuses","operationId":"get statuses","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/sources":{"parameters":[],"get":{"description":"get all intake sources","operationId":"get sources","parameters":[{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer"},{"name":"offset","in":"query","description":"offset.","type":"integer","default":0}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/referral-levels":{"parameters":[],"get":{"description":"get all referral levels","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/referral-agencies":{"parameters":[],"get":{"description":"get all referral agencies","parameters":[{"name":"stateId","in":"query","type":"number","format":"int32","required":true}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/priority-reasons":{"parameters":[],"get":{"description":"get all intake priority reasons","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/priorities":{"parameters":[],"get":{"description":"get all intake priorities","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/pingDb":{"parameters":[],"get":{"description":"db connection health check endpoint","summary":"db connection health check endpoint","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}}}},"/v1/ping":{"parameters":[],"get":{"description":"health check endpoint","summary":"health check endpoint","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}}}},"/v1/methods":{"parameters":[],"get":{"description":"get all intake methods","operationId":"get methods","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/involvement-types":{"parameters":[],"get":{"description":"get all person involvement types","summary":"get all person involvement types","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/intakes/allegations":{"parameters":[],"put":{"description":"associates citations and Allegations","summary":"associates citations and Allegations","parameters":[{"name":"body","in":"body","required":true,"schema":{"required":["sourceId","targetAssociationIds","source"],"properties":{"sourceId":{"type":"integer"},"targetAssociationIds":{"type":"array","items":{"type":"integer"}},"source":{"type":"string","enum":["ALLEGATION","CITATION"]}}}}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"type":"object","properties":{"citationId":{"type":"integer"},"allegationId":{"type":"integer"}}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"post":{"description":"get allegations and citation associations by critera","summary":"get allegations and citation associations by critera","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","required":true,"schema":{"properties":{"intakeIds":{"description":"intakeIds to get allegations belongs to it","type":"array","items":{"type":"integer"}},"citationIds":{"description":"citationIds to get allegation and citation associations belongs to it","type":"array","items":{"type":"integer"}},"allegationIds":{"description":"allegationIds to get allegation and citation associations belongs to it","type":"array","items":{"type":"integer"}},"surveyId":{"description":"surveyId to get allegations belongs to it","type":"integer"},"isSubstantiated":{"description":"parameters to get allegations by substantiation.","type":"boolean"},"limit":{"description":"number of rows to return in search results.","type":"integer"},"offset":{"description":"offset.","type":"integer"},"sortDir":{"description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},"sortBy":{"description":"field to order results by","type":"string","default":"createdAt"}}}}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Allegation"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/intakes":{"parameters":[],"get":{"description":"get all intakes","summary":"get all intakes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"offset","in":"query","description":"Starting point for results","type":"integer","default":0},{"name":"limit","in":"query","description":"Results per Page","type":"integer","default":10},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"surveyDueDate"},{"name":"providerId","in":"query","type":"number","format":"int32"},{"name":"surveyId","in":"query","type":"number","format":"int32"},{"name":"intakeStatusIds","description":"Array of status Id","in":"query","type":"array","items":{"type":"integer"}},{"name":"intakePriorityIds","description":"Array of priority Ids","in":"query","type":"array","items":{"type":"integer"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/IntakeCollection"}}}},"post":{"description":"Add a intake details with basic information","summary":"Add a intake details with basic information","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"intake or complaints details","required":true,"schema":{"$ref":"#/definitions/IntakeBasic"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/IntakeBasicResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/intake-search":{"parameters":[],"post":{"description":"get all intakes","summary":"get all intakes","tags":["search"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"intake advance search criteria","required":true,"schema":{"$ref":"#/definitions/SearchCriteria"}}],"responses":{"200":{"description":"Success","schema":{}},"400":{"description":"invalid search criteria","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/intake-attachments":{"parameters":[],"get":{"description":"get all intake attachments by providerId","summary":"get all intake attachments by providerId.","parameters":[{"name":"providerId","in":"query","description":"Id of provider","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/Attachment"}}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/gender-types":{"parameters":[],"get":{"description":"get gender types","summary":"get gender types","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/alleged-perpetrator-titles":{"parameters":[],"get":{"description":"get all alleged perpetrator titles","summary":"get all alleged perpetrator titles","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/alleged-perpetrator-roles":{"parameters":[],"get":{"description":"get all alleged perpetrator roles","summary":"get all alleged perpetrator roles","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/allegation-unsubstantiated-reasons":{"parameters":[],"get":{"description":"get allegation UnSubstantiated Reasons","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/allegation-sub-categories":{"parameters":[],"get":{"description":"get allegation sub-categories","operationId":"get allegation sub-categories","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/allegation-seriousness-types":{"parameters":[],"get":{"description":"get allegation seriousness","operationId":"get allegation seriousness","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/allegation-categories":{"parameters":[],"get":{"description":"get allegation categories","operationId":"get allegation categories","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/intakes/{intakeId}/survey":{"parameters":[],"put":{"description":"updates note for intake","summary":"updates note for intake","parameters":[{"name":"intakeId","in":"path","description":"Id of intake","required":true,"type":"integer","format":"int64"},{"in":"body","name":"body","description":"intake survey","required":true,"schema":{"$ref":"#/definitions/IntakeSurveyUpdate"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/IntakeBasicResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/intakes/{intakeId}/responsible-staffs/{staffId}":{"parameters":[],"delete":{"summary":"delete intake responsible staff","description":"delete intake responsible staff","parameters":[{"name":"intakeId","in":"path","description":"Id of intake","required":true,"type":"integer","format":"int64"},{"name":"staffId","in":"path","description":"Id of staff","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{}},"404":{"description":"No staff found for this intake.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/intakes/{intakeId}/responsible-staffs":{"parameters":[],"get":{"description":"get all responsible staffs for an intake","summary":"get all responsible staffs for an intake","parameters":[{"name":"intakeId","in":"path","description":"Id of intake","required":true,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer"},{"name":"offset","in":"query","description":"offset.","type":"integer","default":0},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"createdAt"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ResponsibleStaff"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"post":{"description":"this end point to add staffs responsible for intake","summary":"this end point to add staffs responsible for intake","parameters":[{"name":"intakeId","in":"path","description":"Id of intake","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["staffIds"],"properties":{"staffIds":{"type":"array","items":{"type":"integer"}}}}}],"responses":{"201":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ResponsibleStaff"}}},"400":{"description":"Validation Error","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Intake id not found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/intakes/{intakeId}/parties-involved/{personIntakeId}":{"parameters":[],"delete":{"description":"this end point deletes involved person association with intake.","summary":"delete intake person association.","tags":["parties-involved"],"parameters":[{"name":"intakeId","in":"path","description":"Id of intake","required":true,"type":"integer","format":"int64"},{"name":"personIntakeId","in":"path","description":"Id of person intake association.","type":"integer","format":"int64","required":true}],"responses":{"204":{"description":"Success","schema":{}},"404":{"description":"No person intake Association found.","schema":{"$ref":"#/definitions/PersonIntake"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"description":"this end point updates involved person details","summary":"update involved person details","tags":["parties-involved"],"parameters":[{"name":"intakeId","in":"path","description":"Id of intake","required":true,"type":"integer","format":"int64"},{"name":"personIntakeId","in":"path","description":"Id of person intake association.","type":"integer","format":"int64","required":true},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/PersonIntake"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PersonIntake"}},"400":{"description":"Validation Error","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No person found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"get":{"description":"this end point gets person details","summary":"get involved person details.","tags":["parties-involved"],"parameters":[{"name":"intakeId","in":"path","description":"Id of intake","required":true,"type":"integer","format":"int64"},{"name":"personIntakeId","in":"path","description":"Id of person intake association.","type":"integer","format":"int64","required":true}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PersonIntake"}},"404":{"description":"No person found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/intakes/{intakeId}/parties-involved":{"parameters":[],"post":{"description":"this end point adds involved person to intake","summary":"add involved person to intake","tags":["parties-involved"],"parameters":[{"name":"intakeId","in":"path","description":"Id of intake","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/PersonIntake"}}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/PersonIntake"}},"400":{"description":"Validation Error","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"get":{"description":"get all involved people by intake Id.","summary":"get all involved people belongs to specific intake.","tags":["parties-involved"],"parameters":[{"name":"intakeId","in":"path","description":"Id of intake","type":"integer","format":"int64","required":true},{"name":"isAnonymous","in":"query","description":"anonymous person flag","type":"boolean"},{"name":"involvementTypeId","in":"query","description":"Id of people involvementType","type":"integer","format":"int64"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer"},{"name":"offset","in":"query","description":"offset.","type":"integer","default":0},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"createdAt"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PersonIntakeCollection"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/intakes/{intakeId}/notes/{noteId}":{"parameters":[],"get":{"description":"get intake notes by noteId.","summary":"get intake notes by noteId.","parameters":[{"name":"intakeId","in":"path","description":"Id of intake","required":true,"type":"integer","format":"int64"},{"name":"noteId","in":"path","description":"note Id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/IntakeNotes"}},"404":{"description":"No Notes found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"delete":{"summary":"delete intake notes","description":"delete intake notes","parameters":[{"name":"intakeId","in":"path","description":"Id of intake","required":true,"type":"integer","format":"int64"},{"name":"noteId","in":"path","description":"Id of notes","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{}},"404":{"description":"No Notes found for this intake.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"description":"updates note for intake","summary":"updates note for intake","parameters":[{"name":"intakeId","in":"path","description":"Id of intake","required":true,"type":"integer","format":"int64"},{"name":"noteId","in":"path","description":"Id of note","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["note"],"properties":{"note":{"type":"string"}}}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/IntakeNotes"}},"400":{"description":"Validation Error","schema":{"$ref":"#/definitions/ErrorResponse"}},"403":{"description":"user not authorized to update this Note","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Note not exists.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/intakes/{intakeId}/notes":{"parameters":[],"get":{"description":"get all notes for an intake","summary":"get all notes for an intake","parameters":[{"name":"intakeId","in":"path","description":"Id of intake","required":true,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer","default":10},{"name":"offset","in":"query","description":"offset.","type":"integer","default":0},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"createdAt"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/IntakeNotesCollection"}},"404":{"description":"No notes found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"post":{"description":"this end point adds note to intake","summary":"add note to intake","parameters":[{"name":"intakeId","in":"path","description":"Id of intake","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["note"],"properties":{"note":{"type":"string"}}}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/IntakeNotes"}},"400":{"description":"Validation Error","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/intakes/{intakeId}/attachments/{attachmentId}/signedurls/{operation}":{"parameters":[],"get":{"summary":"Get signed url for a given s3 operation and s3 object key.","description":"Get signed url for a given s3 operation and s3 object key.","parameters":[{"name":"operation","in":"path","description":"S3 operation - getObject, putObject, etc","required":true,"type":"string","enum":["getObject"]}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SignedUrl"}},"404":{"description":"Key not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/intakes/{intakeId}/attachments/{attachmentId}":{"parameters":[],"delete":{"summary":"delete intake attachment","description":"delete intake attachment","parameters":[{"name":"intakeId","in":"path","description":"Id of intake","required":true,"type":"integer","format":"int64"},{"name":"attachmentId","in":"path","description":"Id of attachment","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{}},"404":{"description":"No Attachment found for this intake.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"summary":"update intake attachment description","description":"update intake attachment description","parameters":[{"name":"intakeId","in":"path","description":"Id of intake","required":true,"type":"integer","format":"int64"},{"name":"attachmentId","in":"path","description":"Id of attachment","required":true,"type":"integer","format":"int64"},{"name":"attachment","in":"body","description":"new attachment description","required":true,"schema":{"type":"object","required":["description"],"properties":{"description":{"type":"string"}}}}],"responses":{"204":{"description":"Success","schema":{}},"404":{"description":"No Attachment found for this intake.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/intakes/{intakeId}/attachments":{"parameters":[],"get":{"description":"get attachments for an intake.","summary":"get attachments for an intake.","parameters":[{"name":"intakeId","in":"path","description":"Id of intake","required":true,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer"},{"name":"offset","in":"query","description":"offset.","type":"integer","default":0},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"createdAt"}],"responses":{"200":{"description":"Success","schema":{"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/Attachment"}}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"post":{"description":"Add attachement to a intake","summary":"Add attachement to a intake","consumes":["multipart/form-data"],"parameters":[{"name":"intakeId","in":"path","description":"Id of intake","required":true,"type":"integer","format":"int64"},{"in":"formData","name":"intakeAttachment","type":"file","description":"File to be attached to an intake","required":true},{"in":"formData","name":"attachmentDescription","type":"string","description":"attached file description","required":true}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/Attachment"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"403":{"description":"This file contains a virus. Please upload a valid file.","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No intake found","schema":{"$ref":"#/definitions/ErrorResponse"}},"409":{"description":"Duplicate file","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/intakes/{intakeId}/allegations/{allegationId}":{"parameters":[],"get":{"description":"get allegation details by Id","summary":"get allegation details by Id","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"intakeId","in":"path","description":"intake id","required":true,"type":"integer","format":"int64"},{"name":"allegationId","in":"path","description":"allegation id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Allegation"}}}},"put":{"description":"update a allegation details of intake","summary":"update a allegation details of intake","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"intakeId","in":"path","description":"Id of intake","required":true,"type":"integer","format":"int64"},{"name":"allegationId","in":"path","description":"allegation id","required":true,"type":"integer","format":"int64"},{"in":"body","name":"body","description":"Allegation detail","required":true,"schema":{"$ref":"#/definitions/Allegation"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Allegation"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"delete":{"summary":"delete intake allegation","description":"delete intake allegation","parameters":[{"name":"intakeId","in":"path","description":"Id of intake","required":true,"type":"integer","format":"int64"},{"name":"allegationId","in":"path","description":"allegation id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{}},"404":{"description":"No allegation found for this intake.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/intakes/{intakeId}/allegations":{"parameters":[],"post":{"description":"update a allegation details of intake","summary":"update a allegation details of intake","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"intakeId","in":"path","description":"Id of intake","required":true,"type":"integer","format":"int64"},{"in":"body","name":"body","description":"Allegation detail","required":true,"schema":{"$ref":"#/definitions/Allegation"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Allegation"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"get":{"description":"get all allegations for a intake","summary":"get all allegations for a intake","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"offset","in":"query","description":"Starting point for results","type":"integer","default":0},{"name":"limit","in":"query","description":"Results per Page","type":"integer","default":10},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"createdAt"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Allegation"}}}}}},"/v1/intakes/{intakeId}":{"parameters":[],"get":{"tags":["intake"],"description":"get all intake by Id","summary":"get all intakes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"intakeId","in":"path","description":"ID of intake to return intake information","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/IntakeBasicResponse"}},"404":{"description":"Intake not found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"description":"update a intake details with basic information","summary":"update a intake details with basic information","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"intakeId","in":"path","description":"intake Id","required":true,"type":"integer","format":"int64"},{"in":"body","name":"body","description":"intake or complaints details","required":true,"schema":{"$ref":"#/definitions/IntakeEditBasic"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/IntakeBasicResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"post":{"description":"update a intake details with partial data","summary":"update a intake details with partial data","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"intakeId","in":"path","description":"intake Id","required":true,"type":"integer","format":"int64"},{"in":"body","name":"body","description":"intake or complaints details","required":true,"schema":{"$ref":"#/definitions/IntakeEditPost"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/IntakeBasicResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}}},"definitions":{"IntakeSurveyUpdate":{"type":"object","properties":{"surveyId":{"type":["integer","null"]}},"additionalProperties":false},"IntakeBasic":{"type":"object","required":["providerId","intakeTypeId","intakeSubTypeId"],"properties":{"providerId":{"type":"integer"},"intakeTypeId":{"type":"integer"},"intakeSubTypeId":{"type":"integer"},"intakeMethodId":{"type":["integer","null"]},"incidentReceiptDate":{"type":["string","null"],"format":"date"},"startDate":{"type":["string","null"],"format":"date"},"startTime":{"type":["string","null"]},"intakeSummary":{"type":["string","null"]},"stateIntakeId":{"type":["string","null"]},"sources":{"type":"array","items":{"type":"integer"}}},"additionalProperties":true},"IntakeCollection":{"type":"object","properties":{"id":{"type":"integer"},"surveyId":{"type":"integer"},"stateIntakeId":{"type":"integer"},"staffIdentifier":{"type":"integer"},"intakeStatusId":{"type":"integer"},"intakePriorityId":{"type":"integer"},"intakeTypeId":{"type":"integer"},"intakeSubTypeId":{"type":"integer"},"startDate":{"type":["string","null"],"format":"date"},"surveyDueDate":{"type":["string","null"],"format":"date"},"allegations":{"type":["string","null"]},"intakeStatusName":{"type":["string","null"]},"intakePriorityName":{"type":["string","null"]}},"additionalProperties":true},"IntakeEditBasic":{"type":"object","required":["providerId","intakeSubTypeId"],"properties":{"providerId":{"type":"integer"},"intakeSubTypeId":{"type":"integer"},"intakeMethodId":{"type":["integer","null"]},"incidentReceiptDate":{"type":["string","null"],"format":"date"},"intakeSummary":{"type":["string","null"]},"stateIntakeId":{"type":["string","null"]},"surveyDueDate":{"type":["string","null"],"format":"date"}},"additionalProperties":true},"IntakeEditPost":{"type":"object","required":["providerId"],"properties":{"providerId":{"type":"integer"},"surveyId":{"type":["integer","null"]},"intakeMethodId":{"type":["integer","null"]},"incidentReceiptDate":{"type":["string","null"],"format":"date"},"intakeSummary":{"type":["string","null"]},"stateIntakeId":{"type":["string","null"]}},"additionalProperties":true},"IntakeBasicResponse":{"type":"object","required":["providerId","intakeTypeId","intakeSubTypeId","intakeMethodId"],"properties":{"providerId":{"type":"integer"},"intakeTypeId":{"type":"integer"},"intakeSubTypeId":{"type":"integer"},"intakeMethodId":{"type":["integer","null"]},"incidentReceiptDate":{"type":["string","null"],"format":"date"},"startDate":{"type":["string","null"],"format":"date"},"startTime":{"type":["string","null"]},"surveyDueDate":{"type":["string","null"],"format":"date"},"intakeSummary":{"type":["string","null"]},"stateIntakeId":{"type":["string","null"]},"staffIdentifier":{"type":["integer","null"]},"intakeStatusId":{"type":"integer"},"intakePriorityId":{"type":["integer","null"]},"intakeSourceBridges":{"type":"array","items":{"$ref":"#/definitions/IntakeSourceBridge"}},"allegations":{"type":"array","items":{"$ref":"#/definitions/Allegation"}},"hasOtherComplainants":{"type":["boolean","null"]},"primaryComplainant":{"type":"object","$ref":"#/definitions/PersonIntake"},"intakeOtherReason":{"type":["string","null"]},"triageCompletionDate":{"type":["string","null"],"format":"date"},"triageCompletionTime":{"type":["string","null"]},"regionalOfficeApprovalDate":{"type":["string","null"],"format":"date"},"regionalOfficeApprovalTime":{"type":["string","null"]},"surveyId":{"type":["integer","null"]},"intakePriorityReasonId":{"type":["integer","null"]},"referralId":{"type":["integer","null"]},"triageActionId":{"type":["integer","null"]}},"additionalProperties":true},"IntakeNotes":{"type":"object","required":["intakeId","note"],"properties":{"id":{"type":"integer"},"intakeId":{"type":"integer"},"note":{"type":"string"},"noteWrittenBy":{"type":"string"},"noteDate":{"type":"string"}},"additionalProperties":true},"IntakeNotesCollection":{"type":"array","items":{"$ref":"#/definitions/IntakeNotes"}},"IntakeSourceBridge":{"type":"object","required":["id","intakeSourceId","intakeId"],"properties":{"id":{"type":"integer"},"intakeSourceId":{"type":"integer"},"intakeId":{"type":"integer"}},"additionalProperties":true},"Allegation":{"type":"object","required":["allegationCategoryId","allegationDetails"],"properties":{"id":{"type":["integer","null"]},"allegationCategoryId":{"type":"integer"},"intakeId":{"type":["integer","null"]},"seriousnessId":{"type":["integer","null"]},"isSubstantiated":{"type":["boolean","null"]},"shift":{"type":["string","null"]},"allegationDate":{"type":["string","null"]},"allegationTime":{"type":["string","null"]},"allegationDetails":{"type":["string"]},"personIntakeIds":{"type":"array","items":{"type":"integer"}},"allegationCitations":{"type":"array","items":{"$ref":"#/definitions/AllegationCitation"}},"personsAffected":{"type":"array","items":{"$ref":"#/definitions/PersonIntake"}},"unSubstantiatedReasonId":{"type":["integer","null"]},"citationIds":{"type":"array","items":{"type":"integer"}}},"additionalProperties":true},"AllegationCitation":{"type":"object","properties":{"id":{"type":"integer"},"citationId":{"type":"integer"},"allegationId":{"type":"integer"}},"additionalProperties":true},"PersonIntake":{"required":["involvementTypeId"],"type":"object","properties":{"involvementTypeId":{"type":"integer"},"isAnonymous":{"type":["boolean","null"]},"isConfidential":{"type":["boolean","null"]},"isPrimary":{"type":["boolean","null"]},"relationshipToPersonAffected":{"type":["string","null"]},"perpetratorLicenseNumber":{"type":["string","null"]},"allegedPerpetratorRoleId":{"type":["integer","null"]},"allegedPerpetratorTitleId":{"type":["integer","null"]},"personAdmittedDate":{"type":["string","null"],"format":"date"},"personDischargeDate":{"type":["string","null"],"format":"date"},"personLocation":{"type":["string","null"]},"personRoom":{"type":["string","null"]},"personAdmittingDiagnosis":{"type":["string","null"]},"isPossibleWitness":{"type":["boolean","null"]},"isProviderContact":{"type":["boolean","null"]},"firstName":{"type":["string","null"]},"middleInitial":{"type":["string","null"]},"lastName":{"type":["string","null"]},"aliasNames":{"type":["string","null"]},"dateOfBirth":{"type":["string","null"],"format":"date"},"addressLine1":{"type":["string","null"]},"addressLine2":{"type":["string","null"]},"city":{"type":["string","null"]},"stateId":{"type":["integer","null"]},"zip":{"type":["string","null"]},"workPhone":{"type":["string","null"]},"homePhone":{"type":["string","null"]},"mobilePhone":{"type":["string","null"]},"email":{"type":["string","null"]},"fax":{"type":["string","null"]},"genderId":{"type":["integer","null"]}},"additionalProperties":true},"PersonIntakeCollection":{"type":"array","items":{"$ref":"#/definitions/PersonIntake"}},"ResponsibleStaff":{"type":"object","required":["id","intakeId","staffId"],"properties":{"id":{"type":"integer"},"intakeId":{"type":"integer"},"staffId":{"type":"integer"}},"additionalProperties":true},"Attachment":{"properties":{"id":{"type":"integer","format":"int64"},"originalFileName":{"type":"string"},"attachmentDesc":{"type":"string"},"s3Location":{"type":"string"},"fileSize":{"type":"string"},"intakeId":{"type":"integer","format":"int64"},"createdBy":{"type":"string"},"createdDate":{"type":"string"}},"additionalProperties":true},"SignedUrl":{"type":"object","required":["signedUrl"],"properties":{"signedUrl":{"type":"string"}},"additionalProperties":true},"RefData":{"type":"object","properties":{"id":{"type":"integer"},"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"}},"additionalProperties":true},"SearchCriteria":{"type":"object","properties":{"intakeId":{"type":"integer"},"statusIds":{"type":["array","null"],"description":"Array of status Id","items":{"type":"integer"}},"triagePriorityIds":{"type":["array","null"],"description":"Array of priority Ids","items":{"type":"integer"}},"stateIds":{"type":["array","null"],"items":{"type":"integer"}},"subTypeIds":{"type":["array","null"],"items":{"type":"integer"}},"offset":{"type":"integer","default":0},"limit":{"type":"integer","default":10},"sortDir":{"type":"string","enum":["asc","desc"],"default":"desc"},"sortBy":{"type":"string","enum":["providerName","id","priority","status","surveyDueDate","intakeStartDate"]}},"additionalProperties":true},"RefDataResponse":{"type":"array","items":{"$ref":"#/definitions/RefData"}},"ErrorResponse":{"required":["message"],"properties":{"message":{"type":"string"}},"additionalProperties":true},"PingResponse":{"required":["message"],"properties":{"message":{"type":"string"}},"additionalProperties":true}},"tags":[{"name":"search"},{"name":"parties-involved"},{"name":"intake"}]}