{"swagger":"2.0","info":{"version":"0.0.2","title":"iQIES Letters Service","description":"The Letters microservice provides provider's survey's intake's, enforcement's letter information."},"x-service":"Letters","host":"letters.service.consul:32770","basePath":"","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/v1/statuses":{"parameters":[],"get":{"description":"get all letter statuses","summary":"get all letter statuses","tags":["reference data"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/pingDB":{"parameters":[],"get":{"description":"db connection health check endpoint","summary":"db connection health check endpoint","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}}}},"/v1/ping":{"parameters":[],"get":{"description":"health check endpoint","summary":"health check endpoint","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}}}},"/v1/letters":{"parameters":[],"post":{"description":"Create a Letter with Basic Details.","summary":"Create a Letter with Basic Details","tags":["letters"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"letter details","required":true,"schema":{"$ref":"#/definitions/Letter"}}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/Letter"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"get":{"description":"Get all letters","summary":"Get all letters","tags":["letters"],"produces":["application/json"],"parameters":[{"name":"offset","in":"query","description":"Starting point for results","type":"integer","default":0},{"name":"limit","in":"query","description":"Results per Page","type":"integer","default":10},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"letterCreatedDate"},{"name":"providerId","in":"query","type":"number","format":"int32"},{"name":"assetId","in":"query","type":"number","format":"int32"},{"name":"assetTypeId","in":"query","type":"number","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/LetterCollection"}}}}},"/v1/distributionMethods":{"parameters":[],"get":{"description":"get all distribution methods","summary":"get all distribution methods","tags":["reference data"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/categories":{"parameters":[],"get":{"description":"get all letter categories","summary":"get all categories","tags":["reference data"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/assetTypes":{"parameters":[],"get":{"description":"get all asset Types","summary":"get all asset Types","tags":["reference data"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"}}}}},"/v1/letters/{letterId}/recipients/{recipientId}":{"parameters":[],"get":{"tags":["recipients"],"description":"Get a particular recipient","summary":"Get a particular recipient.","parameters":[{"name":"letterId","in":"path","description":"Id of letter","required":true,"type":"integer","format":"int64"},{"name":"recipientId","in":"path","description":"Id of recipient","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/Recipient"}},"numPages":{"type":"integer"},"page":{"type":"integer"},"totalResults":{"type":"integer"}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"summary":"update recipient details","description":"update recipient details","security":[{"Bearer":[]}],"tags":["recipients"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"letterId","in":"path","description":"Id of letter","required":true,"type":"integer","format":"int64"},{"name":"recipientId","in":"path","description":"Id of recipient","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/Recipient"}}],"responses":{"200":{"description":"Success","schema":{}},"404":{"description":"No recipient found for this letter.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"delete":{"summary":"delete a letter recipient","description":"delete a letter recipient","tags":["recipients"],"security":[{"Bearer":[]}],"parameters":[{"name":"letterId","in":"path","description":"ID of lettter","required":true,"type":"integer","format":"int64"},{"name":"recipientId","in":"path","description":"ID of recipient","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"Success","schema":{}},"404":{"description":"No recipient found for this letter.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/letters/{letterId}/recipients":{"parameters":[],"get":{"tags":["recipients"],"description":"Get all letter recipients.","summary":"Get all letter recipients.","parameters":[{"name":"letterId","in":"path","description":"Id of letter","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/Recipient"}},"numPages":{"type":"integer"},"page":{"type":"integer"},"totalResults":{"type":"integer"}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"post":{"description":"Create a recipient belonging to a letter","summary":"Create a recipient belonging to a letter","tags":["recipients"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"path","name":"letterId","description":"ID of letter this recipient is being added to.","required":true,"type":"integer"},{"in":"body","name":"body","description":"recipient details","required":true,"schema":{"$ref":"#/definitions/Recipient"}}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/Recipient"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/letters/{letterId}/attachments/{attachmentId}/signedurls/{operation}":{"parameters":[],"get":{"tags":["attachments"],"summary":"Get signed url for a given s3 operation and s3 object key.","description":"Get signed url for a given s3 operation and s3 object key.","parameters":[{"name":"operation","in":"path","description":"S3 operation - getObject etc","required":true,"type":"string","enum":["getObject"]}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SignedUrl"}},"404":{"description":"Key not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/letters/{letterId}/attachments/{attachmentId}":{"parameters":[],"put":{"description":"Update letter attachment description","summary":"Update letter attachment description","tags":["attachments"],"security":[{"Bearer":[]}],"consumes":["application/json"],"parameters":[{"name":"letterId","in":"path","description":"ID of letter","required":true,"type":"integer","format":"int64"},{"name":"attachmentId","in":"path","description":"ID of attachment","required":true,"type":"integer","format":"int64"},{"name":"attachmentDescription","in":"formData","type":"string","description":"Attached file description","required":true}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/undefined"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"delete":{"summary":"delete letter attachment","description":"delete letter attachment","tags":["attachments"],"security":[{"Bearer":[]}],"parameters":[{"name":"letterId","in":"path","description":"ID of letter","required":true,"type":"integer","format":"int64"},{"name":"attachmentId","in":"path","description":"ID of attachment","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{}},"404":{"description":"No Attachment found for this survey.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/letters/{letterId}/attachments":{"parameters":[],"post":{"description":"Add attachment to a letter","summary":"Add attachment to a letter","tags":["attachments"],"security":[{"Bearer":[]}],"consumes":["multipart/form-data"],"parameters":[{"name":"letterId","in":"path","description":"ID of letter","required":true,"type":"integer","format":"int64"},{"name":"letterAttachment","in":"formData","type":"file","description":"File to be attached to a letter","required":true},{"name":"attachmentDescription","in":"formData","type":"string","description":"Attached file description","required":true}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/undefined"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"409":{"description":"Duplicate file","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"get":{"description":"Get all letter attachments.","summary":"Get all letter attachments.","tags":["attachments"],"parameters":[{"name":"letterId","in":"path","description":"Id of letter","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/Attachment"}},"numPages":{"type":"integer"},"page":{"type":"integer"},"totalResults":{"type":"integer"}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/letters/{letterId}":{"parameters":[],"get":{"description":"get letter by id","summary":"get letter by id","tags":["letters"],"parameters":[{"name":"letterId","in":"path","description":"ID of letter to return","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Letter"}},"400":{"description":"Invalid request","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"description":"Update a Letter with Basic Details.","summary":"Update a Letter with Basic Details","tags":["letters"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"letter details","required":true,"schema":{"$ref":"#/definitions/Letter"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Letter"}},"400":{"description":"Invalid request","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"delete":{"description":"delete letter by id","summary":"delete letter by id","tags":["letters"],"parameters":[{"name":"letterId","in":"path","description":"ID of letter to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"Success","schema":{"$ref":"#/definitions/Letter"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/ErrorResponse"}}}}}},"definitions":{"Letter":{"type":"object","required":["letterName","assetTypeId","assetId","letterCategoryIds"],"properties":{"id":{"type":["integer","null"]},"letterName":{"type":"string"},"letterDescription":{"type":["string","null"]},"isFederalLicensure":{"type":["boolean","null"]},"isStateLicensure":{"type":["boolean","null"]},"isLocked":{"type":["boolean","null"]},"letterStatusId":{"type":["integer","null"]},"assetTypeId":{"type":"integer"},"assetId":{"type":"integer"},"letterCategoryIds":{"type":"array","items":{"type":"integer"}},"letterCategoryBridges":{"type":["array","null"],"items":{"$ref":"#/definitions/LetterCategoryBridge"}},"letterCreatedDate":{"type":["string","null"]}}},"LetterCategoryBridge":{"type":"object","properties":{"id":{"type":"integer"},"letterId":{"type":"integer"},"categoryId":{"type":"integer"}}},"LetterCollection":{"type":"array","items":{"$ref":"#/definitions/Letter"}},"Attachment":{"properties":{"id":{"type":"integer","format":"int64"},"letterId":{"type":"integer","format":"int64"},"attachmentFilename":{"type":"string"},"attachmentDescription":{"type":"string"},"s3Location":{"type":"string"},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date"}}},"Recipient":{"type":"object","properties":{"id":{"type":["integer","null"]},"letterId":{"type":"integer"},"recipientFirstName":{"type":["string","null"]},"recipientLastName":{"type":["string","null"]},"addressLine1":{"type":["string","null"]},"addressLine2":{"type":["string","null"]},"city":{"type":["string","null"]},"stateId":{"type":["integer","null"]},"email":{"type":["string","null"]},"letterSentDate":{"type":["string","null"],"format":"date"},"letterSender":{"type":["string","null"]},"isReceiptAcknowledged":{"type":["boolean","null"]},"trackingId":{"type":["string","null"]},"distributionMethodId":{"type":["integer","null"]}}},"SignedUrl":{"type":"object","required":["signedUrl"],"properties":{"signedUrl":{"type":"string"}}},"RefData":{"type":"object","properties":{"id":{"type":"integer"},"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"}}},"RefDataResponse":{"type":"array","items":{"$ref":"#/definitions/RefData"}},"ErrorResponse":{"required":["message"],"properties":{"message":{"type":"string"}}},"PingResponse":{"required":["message"],"properties":{"message":{"type":"string"}}}},"tags":[{"name":"reference data"},{"name":"letters"},{"name":"recipients"},{"name":"attachments"}]}
