{"swagger":"2.0","info":{"version":"0.0.2","title":"iQIES Location Service","description":"This Location MicroService for returning common lookup data  returns list of states, regions etc."},"x-service":"location","host":"location.service.consul:32770","basePath":"","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/v1/states":{"parameters":[],"get":{"tags":["location-referenceData"],"summary":"fetch list of states","description":"fetch list of states","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/State"}},"examples":{"value":[{"id":7,"code":"NJ","name":"New Jersey","description":"New Jersey","ssaStateCode":"31","regionId":2,"cmsStateOrganization":"NJ","providerTypeIds":[1,11,5,8,10,6,3,9,9,13,16,12,14,2,4,15,7],"childType":"stateRegion","children":[{"id":94,"description":"NEW JERSEY"},{"id":211,"description":"LABORATORIES"}]},{"id":35,"code":"NM","name":"New Mexico","description":"New Mexico","ssaStateCode":"32","regionId":6,"cmsStateOrganization":"NM","providerTypeIds":[6,1,13,4,7,9,12,10,15,14,9,3,5,16,8,11,2],"childType":"stateRegion","children":[{"id":212,"description":"LABORATORIES"},{"id":95,"description":"NEW MEXICO"}]}]}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/state-regions":{"parameters":[],"get":{"tags":["location-referenceData"],"summary":"fetch list of state regions","description":"fetch list of state regions","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/StateRegionResponse"},"examples":{"value":[{"id":1,"description":"ALABAMA"},{"id":2,"description":"ALASKA"},{"id":3,"description":"PHOENIX"}]}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/regions":{"parameters":[],"get":{"tags":["location-referenceData"],"summary":"fetch list of regions","description":"fetch list of regions","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefDataResponse"},"examples":{"value":[{"id":4,"description":"Atlanta","createdAt":"2018-03-27T20:44:04.835Z","updatedAt":"2018-03-27T20:44:04.835Z","childType":"state","children":[{"id":21,"code":"GA","ssaStateCode":"11","description":"Georgia","regionId":4,"createdAt":"2018-03-27T20:44:04.927Z","updatedAt":"2018-03-27T20:44:04.927Z"},{"id":22,"code":"KY","ssaStateCode":"18","description":"Kentucky","regionId":4,"createdAt":"2018-03-27T20:44:04.927Z","updatedAt":"2018-03-27T20:44:04.927Z"},{"id":26,"code":"TN","ssaStateCode":"44","description":"Tennessee","regionId":4,"createdAt":"2018-03-27T20:44:04.927Z","updatedAt":"2018-03-27T20:44:04.927Z"},{"id":25,"code":"SC","ssaStateCode":"42","description":"South Carolina","regionId":4,"createdAt":"2018-03-27T20:44:04.927Z","updatedAt":"2018-03-27T20:44:04.927Z"},{"id":24,"code":"NC","ssaStateCode":"34","description":"North Carolina","regionId":4,"createdAt":"2018-03-27T20:44:04.927Z","updatedAt":"2018-03-27T20:44:04.927Z"},{"id":23,"code":"MS","ssaStateCode":"25","description":"Mississippi","regionId":4,"createdAt":"2018-03-27T20:44:04.927Z","updatedAt":"2018-03-27T20:44:04.927Z"},{"id":19,"code":"AL","ssaStateCode":"1","description":"Alabama","regionId":4,"createdAt":"2018-03-27T20:44:04.927Z","updatedAt":"2018-03-27T20:44:04.927Z"},{"id":20,"code":"FL","ssaStateCode":"10","description":"Florida","regionId":4,"createdAt":"2018-03-27T20:44:04.927Z","updatedAt":"2018-03-27T20:44:04.927Z"}]}]}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/pingDb":{"parameters":[],"get":{"summary":"db connection health check endpoint","description":"db connection health check endpoint","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ping"}},"500":{"description":"Error","schema":{"$ref":"#/definitions/error"}}},"tags":["Utility"]}},"/v1/ping":{"parameters":[],"get":{"summary":"health check endpoint","description":"health check endpoint","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ping"}}},"tags":["Utility"]}},"/v1/states/{id}":{"parameters":[]}},"definitions":{"RefDataItem":{"required":["id","description"],"properties":{"id":{"type":"integer"},"description":{"type":"string"}}},"ExtendedRefDataItem":{"allOf":[{"$ref":"#/definitions/RefDataItem"},{"type":"object","properties":{"childType":{"type":"string"},"children":{"type":"array","items":{"$ref":"#/definitions/RefDataItem"}}}}]},"State":{"type":"object","required":["id","name"],"properties":{"id":{"type":"integer","format":"int32"},"code":{"type":"string","description":"State code"},"name":{"type":"string","description":"State name"},"description":{"type":"string","description":"State description"},"ssaStateCode":{"type":"string","description":"State's ssa State Code"},"regionId":{"type":"integer","format":"int32","description":"Region Id"},"providerTypeIds":{"type":"array","description":"list of provider type Ids","items":{"properties":{"id":{"type":"integer","format":"int64"}}}},"childType":{"type":"string","description":"Type of Children"},"children":{"type":"array","items":{"$ref":"#/definitions/StateRegion"}}}},"StateRegion":{"type":"object","required":["id","description"],"properties":{"id":{"type":"integer","format":"int64"},"description":{"type":"string","description":"State Region Description"}}},"StateRegionResponse":{"type":"array","items":{"$ref":"#/definitions/StateRegion"}},"RefDataResponse":{"type":"array","items":{"$ref":"#/definitions/ExtendedRefDataItem"}},"PingResponse":{"required":["message"],"properties":{"message":{"type":"string"}}},"ErrorResponse":{"required":["message"],"properties":{"message":{"type":"string"}}}},"tags":[{"name":"location-referenceData"},{"name":"Utility"}]}