{"swagger":"2.0","info":{"version":"0.0.2","title":"iQIES My Reports Service","description":"This service handles interactions with myReports such as querying, creating, downloading, and deleting them."},"x-service":"myreports","host":"myreports.service.consul:32771","basePath":"","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/v1/report-validate":{"parameters":[],"post":{"description":"Check for duplicate My Reports name","tags":["My Reports"],"operationId":"validateReportDocumentName","parameters":[{"in":"body","name":"report","description":"Check for duplicate My Reports name","schema":{"type":"object"}}],"responses":{"200":{"description":"Success","schema":{"type":"object","required":["count"],"properties":{"count":{"type":"number","format":"int64"}}}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/NotFoundResponse"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/report-document":{"parameters":[],"get":{"description":"Get all of a user's Report Documents given a parentId","tags":["My Reports"],"operationId":"getReportDocuments","parameters":[{"name":"parentId","in":"query","type":"integer","description":"ID of directory parent"},{"name":"sortBy","in":"query","description":"An enum of various sorters.","type":"string","enum":["createdAt","updatedAt","fileName","id","s3ManifestKey"]},{"name":"sortDir","in":"query","description":"An enum of sort directions in reference to 'sortBy'.","type":"string","enum":["asc","desc"]},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer"},{"name":"offset","in":"query","description":"offset.","type":"integer"},{"name":"fileName","in":"query","description":"Report Filename.","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/GetReportDocumentsSuccess"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/NotFoundResponse"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"post":{"description":"Create new Report Document","tags":["My Reports"],"operationId":"createReportDocument","parameters":[{"in":"body","name":"report","description":"Report to link to ReportDocument","schema":{"type":"object","required":["reportId"],"properties":{"reportId":{"type":"integer"},"fileName":{"type":"string"},"s3ManifestKey":{"type":"string"},"s3FlatFileName":{"type":"string"},"parentId":{"type":"integer"},"isPDFAllowed":{"type":"boolean"},"isCSVAllowed":{"type":"boolean"},"userId":{"type":"integer"},"allowReRun":{"type":"boolean"},"allowRename":{"type":"boolean"},"allowDelete":{"type":"boolean"},"allowMove":{"type":"boolean"},"filters":{"type":"string"},"documentType":{"type":"string"},"autoGenerated":{"type":"boolean"}}}}],"responses":{"201":{"description":"Success","schema":{"type":"object","required":["id"],"properties":{"id":{"type":"number","format":"int64"}}}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"delete":{"description":"Delete a Report Document given its ID.","tags":["My Reports"],"operationId":"deleteReportDocument","parameters":[{"name":"id","in":"query","type":"integer","description":"ID of document to delete","required":true}],"responses":{"204":{"description":"Success"},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/NotFoundResponse"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/pingDb":{"parameters":[],"get":{"description":"db connection health check endpoint","tags":["Utilities"],"operationId":"pingDb","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ping"}},"500":{"description":"Success","schema":{"$ref":"#/definitions/error"}}}}},"/v1/ping":{"parameters":[],"get":{"description":"Health check endpoint.","tags":["Utilities"],"operationId":"ping","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ping"}},"500":{"description":"Success","schema":{"$ref":"#/definitions/error"}}}}},"/v1/report-document/{id}":{"parameters":[],"get":{"description":"Get a single Report Document given its ID.","tags":["My Reports"],"operationId":"getReportDocument","parameters":[{"name":"id","required":true,"in":"path","type":"integer","description":"report Id to download."}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ReportDocument"}},"406":{"description":"Not Found","schema":{"$ref":"#/definitions/NotFoundResponse"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"description":"Put a single report document","tags":["My Reports"],"operationId":"putReportDocument","parameters":[{"name":"id","required":true,"in":"path","type":"integer","description":"report Id to download."},{"in":"body","name":"report","description":"Report to link to ReportDocument","schema":{"type":"object","properties":{"fileName":{"type":"string"},"parentId":{"type":["null","integer"]}}}}],"responses":{"204":{"description":"Success"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BadRequestResponse"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/NotFoundResponse"}},"406":{"description":"Not Found","schema":{"$ref":"#/definitions/NotFoundResponse"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/ConflictResponse"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}}},"definitions":{"GetReportDocumentsSuccess":{"type":"object","required":["results","limit","count","pages","pageNumber","offset"],"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/ReportDocument"}},"limit":{"type":"integer"},"count":{"type":"integer"},"pages":{"type":"integer"},"pageNumber":{"type":"integer"},"offset":{"type":"integer"}}},"ReportDocument":{"type":"object","required":["id","createdAt"],"properties":{"id":{"type":"integer"},"fileName":{"type":["string","null"]},"s3ManifestKey":{"type":["string","null"]},"s3FlatFileName":{"type":["string","null"]},"reportId":{"type":["integer","null"]},"parentId":{"type":["integer","null"]},"isPDFAllowed":{"type":["boolean","null"]},"isCSVAllowed":{"type":["boolean","null"]},"allowReRun":{"type":["boolean","null"]},"allowDelete":{"type":["boolean","null"]},"allowRename":{"type":["boolean","null"]},"userId":{"type":["integer","null"]},"documentType":{"type":["string","null"]},"autoGenerated":{"type":["boolean","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"ping":{"required":["message"],"properties":{"message":{"type":"string"}}},"NotFoundResponse":{"required":["message"],"properties":{"message":{"type":"string"}}},"ErrorResponse":{"required":["message"],"properties":{"message":{"type":"string"}}},"BadRequestResponse":{"required":["message"],"properties":{"message":{"type":"string"}}},"ConflictResponse":{"required":["message"],"properties":{"message":{"type":"string"}}}},"tags":[{"name":"My Reports"},{"name":"Utilities"}]}