{"swagger":"2.0","info":{"version":"0.0.2","title":"iQIES Patient Assessment Service","description":"The Patient Assessment service maintains information about active and submitted assessments .Providers will submit and amend assessments via this service as well as query their in progress or submitted assessments for reference."},"x-service":"patientassessment","host":"patientassessment.service.consul:32776","basePath":"","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/v1/versions":{"parameters":[],"get":{"description":"get available subset types","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Version"}}},"500":{"description":"Failure","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["Reference Data"]}},"/v1/submissions":{"parameters":[],"get":{"description":"Get all submissions","parameters":[{"name":"offset","in":"query","description":"Starting point for results","type":"integer","default":0},{"name":"limit","in":"query","description":"Results per Page","type":"integer","default":10},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"asc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"fileName"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SearchResponse"}},"400":{"description":"Failure","schema":{"$ref":"#/definitions/ValidationError"}}},"tags":["Submissions"]}},"/v1/reason-types":{"parameters":[],"get":{"description":"get available reason types","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ReasonTypes"}}},"500":{"description":"Failure","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["Reference Data"]}},"/v1/processing-status":{"parameters":[],"get":{"description":"get all processing statuses","operationId":"get status","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/RefData"}}},"500":{"description":"Failure","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["Reference Data"]}},"/v1/pingDb":{"parameters":[],"get":{"description":"db connection health check endpoint","operationId":"pingDb","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}},"tags":["Utility"]}},"/v1/ping":{"parameters":[],"get":{"description":"health check endpoint","operationId":"ping","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}},"tags":["Utility"]}},"/v1/patients":{"parameters":[],"get":{"description":"Get patient IDs","parameters":[{"name":"admissionDate","in":"query","required":true,"description":"Admission date to find patient IDs","type":"string"},{"name":"providerId","in":"query","required":false,"description":"Provider ID","type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PatientIdsList"}},"400":{"description":"No results found","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/UnauthorizedResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["Assessments"]}},"/v1/items":{"parameters":[],"get":{"description":"get available reason types","parameters":[{"in":"query","name":"sectionCode","description":"Section code to get the items from.","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"object","properties":{"code":{"description":"ID of Submission","type":"object"}},"example":{"A0050":{"id":1,"code":"A0050","name":"Type of record","description":"Type of record","responses":[{"responseValue":"1","description":"Add new record"},{"responseValue":"3","description":"Inactivate existing record"},{"responseValue":"2","description":"Modify existing record"}]},"A0200":{"id":6,"code":"A0200","name":"Type of provider","description":"Type of provider","responses":[{"responseValue":"3","description":"Long-Term Care Hospital"}]}}}}},"tags":["Reference Data "]}},"/v1/dataset-types":{"parameters":[],"get":{"description":"get available dataset types","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/RefData"}}},"500":{"description":"Failure","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["Reference Data"]}},"/v1/correction-state":{"parameters":[],"get":{"description":"get all correction states","operationId":"get status","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/RefData"}}},"500":{"description":"Failure","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["Reference Data"]}},"/v1/config/version":{"parameters":[],"get":{"description":"get form config by versionDate or versionCode","parameters":[{"name":"versionDate","in":"query","description":"versionDate to determine config type","type":"string"},{"name":"versionCode","in":"query","description":"versionCode to determine config type","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/FormConfig"}},"500":{"description":"Failure","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/config/patient":{"parameters":[],"get":{"description":"get form config for patient","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/FormConfig"}},"500":{"description":"Failure","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/classification-types":{"parameters":[],"get":{"description":"get available classification types","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ClassificationTypes"}}},"500":{"description":"Failure","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["Reference Data"]}},"/v1/casper":{"parameters":[],"get":{"description":"get provider's facility ID and state code from casper","operationId":"get status","parameters":[{"name":"facilityId","in":"query","required":true,"description":"Facility ID (casper providerInternalNumber) from assessment","type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/RefData"}}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/UnauthorizedResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["Assessments"]}},"/v1/assessments/zipUpload":{"parameters":[],"post":{"description":"File upload endpoint to begin processing a zip file with assessments included in XML format. Note that this endpoint does not return metadata on how the uploaded assessment was processed. Processing is completed asynchronously and should be considered independent from this endpoint.","operationId":"upload","consumes":["multipart/form-data"],"parameters":[{"in":"formData","name":"assessmentZip","type":"file","description":"Zip file of assessments to upload.","required":true,"x-mimetype":"application/zip"}],"responses":{"201":{"description":"Submission Created","schema":{"$ref":"#/definitions/SubmissionCreatedResponse"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/UnauthorizedResponse"}}},"tags":["Assessments"]}},"/v1/assessments/patients/update-assessment-detail":{"parameters":[],"put":{"tags":["Assessments"],"description":"update all in progress assessments associated with the patient id with updated patient props","parameters":[{"name":"patientId","in":"query","description":"Patient ID to return patient assessments","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateAssessment"}}],"responses":{"200":{"description":"Success","schema":{"required":["returnCode"],"properties":{"returnCode":{"type":"integer","description":"successfully update returns 1, else returns 0"},"assessmentsUpdated":{"type":"integer","description":"number of assessment details updated"}}}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/assessments":{"parameters":[],"get":{"description":"Get all assessments","parameters":[{"name":"patientId","in":"query","description":"Patient ID to return patient assessments","type":"integer","format":"int64"},{"name":"sortBy","in":"query","description":"An enum of various sorters.","type":"string","enum":["createdAt","updatedAt","patientId","id","status","submissionId","filename","assessmentStatusId","submissionDate"]},{"name":"sortDir","in":"query","description":"An enum of sort directions in reference to 'sortBy'.","type":"string","enum":["asc","desc"]},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer"},{"name":"offset","in":"query","description":"offset.","type":"integer"},{"name":"pageNumber","in":"query","description":"pageNumber","type":"integer"},{"name":"id","in":"query","description":"Assessment ID","type":"integer"},{"name":"submissionId","in":"query","description":"Submission ID","type":"integer"},{"name":"searchBy","in":"query","description":"Search by submission ID or assessment ID","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AssessmentsList"}},"400":{"description":"No results found","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/UnauthorizedResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["Assessments"]},"post":{"description":"create an assessment","parameters":[{"in":"body","name":"body","description":"basic assessment information","required":true,"schema":{"$ref":"#/definitions/CreateAssessment"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AssessmentInfo"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["Utility"]}},"/v1/assessment-status":{"parameters":[],"get":{"description":"get all assessment statuses","operationId":"get status","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/RefData"}}},"500":{"description":"Failure","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["Reference Data"]}},"/v1/patients/providers/{providerId}/admitted":{"parameters":[],"get":{"description":"Get patient IDs","parameters":[{"name":"providerId","in":"path","description":"ID of provider","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PatientIdsList"}},"400":{"description":"No results found","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/UnauthorizedResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["Assessments"]}},"/v1/assessments/patients/{id}":{"parameters":[],"get":{"description":"Get assessments info for given patient","parameters":[{"name":"id","in":"path","required":true,"description":"Patient ID to return patients assessments info","type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PatientsAssessmentInfo"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["Assessments"]},"delete":{"description":"Delete assessments for given patient","parameters":[{"name":"id","in":"path","required":true,"description":"Patient ID to delete patient assessments","type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"405":{"description":"Unable to delete, patient has submitted assessments"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["Assessments"]}},"/v1/assessments/{assessmentId}/xml":{"parameters":[],"get":{"description":"Get assessments info for given patient","parameters":[{"name":"assessmentId","in":"path","required":true,"description":"Assessment ID for which XML will be returned","type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"type":"file"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No XML found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["Assessments"]}},"/v1/assessments/{assessmentId}/submit":{"parameters":[],"post":{"tags":["assessment"],"description":"Update basic assessment information","summary":"Update basic assessment information","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"assessmentId","in":"path","description":"Assessment id to update assessment info","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"Assessment status id","required":true,"schema":{"type":"object","properties":{"patientId":{"type":"integer","format":"int64"},"providerId":{"type":"integer","format":"int64"}}}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AssessmentStatus"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No Provider found","schema":{"$ref":"#/definitions/ErrorResponse"}},"406":{"description":"Not Acceptable","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/assessments/{assessmentId}/modify":{"parameters":[],"post":{"tags":["assessment"],"description":"Create modification assessment","summary":"Create modification assessment","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"assessmentId","in":"path","description":"Assessment id to update assessment info","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"Correction state id","required":true,"schema":{"$ref":"#/definitions/CorrectionState"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CorrectionState"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No Provider found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/assessments/{assessmentId}/inactivate":{"parameters":[],"post":{"tags":["assessment"],"description":"Update assessment correction state","summary":"Update assessment correction state","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"assessmentId","in":"path","description":"Assessment id to update assessment info","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"Correction state id","required":true,"schema":{"$ref":"#/definitions/CorrectionState"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CorrectionState"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No Provider found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/assessments/{assessmentId}/assessment-status":{"parameters":[],"put":{"tags":["assessment"],"description":"Update basic assessment information","summary":"Update basic assessment information","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"assessmentId","in":"path","description":"Assessment id to update assessment info","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"Assessment status id","required":true,"schema":{"$ref":"#/definitions/AssessmentStatus"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AssessmentStatus"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No Provider found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/assessments/{assessmentId}/assessment-detail":{"parameters":[],"put":{"tags":["Assessments"],"description":"update existing assessment detail","summary":"update existing assessment detail","parameters":[{"name":"assessmentId","in":"path","description":"ID of assessment","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateAssessment"}}],"responses":{"200":{"description":"Success","schema":{"required":["returnCode"],"properties":{"returnCode":{"type":"integer","description":"successfull update returns 1, else returns 0"}}}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/assessments/{assessmentId}":{"parameters":[],"get":{"tags":["Assessments"],"summary":"Find assessment by ID","description":"Returns single assessment details","produces":["application/json"],"parameters":[{"name":"assessmentId","in":"path","description":"ID of assessment to return assessment summary","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/UnauthorizedResponse"}},"404":{"description":"Assessment not found","schema":{"$ref":"#/definitions/NotFoundResponse"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"delete":{"description":"Delete an unsubmitted assessment","parameters":[{"name":"assessmentId","in":"path","description":"ID of assessment","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"Success"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/UnauthorizedResponse"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundResponse"}},"405":{"description":"Unable to delete, the assessment is submitted"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["Assessments"]}}},"definitions":{"AssessmentInfo":{"type":"object","properties":{"patientId":{"type":"integer","format":"int64"},"assessmentId":{"type":"integer","format":"int64"},"type":{"type":"integer","format":"int64"},"dueDate":{"type":"string","format":"date"},"status":{"type":"string","description":"Assessment status - in-progress/submitted/accepted/rejected"},"state":{"type":"string","description":"Assessment state - original/modified/inactivated"},"actions":{"type":"array","items":{"$ref":"#/definitions/AssessmentActions"}}}},"AssessmentsList":{"type":"array","items":{"$ref":"#/definitions/AssessmentInfo"}},"AssessmentStatus":{"properties":{"assessmentStatusId":{"type":"number","format":"int64"}}},"CorrectionState":{"properties":{"correctionStateId":{"type":"number","format":"int64"}}},"ClassificationTypes":{"type":"object","required":["id","subsetTypeId","reasonTypeId","assessmentTypeId"],"properties":{"id":{"description":"ID of Classification","type":"number","format":"int64"},"subsetTypeId":{"type":"number","format":"int64"},"reasonTypeId":{"type":"number","format":"int64"},"assessmentTypeId":{"type":"number","format":"int64"}}},"CreateAssessment":{"type":"object","required":["patientId","reasonTypeId","targetDate"],"properties":{"patientId":{"type":"integer","format":"int64"},"reasonTypeId":{"type":"integer","format":"int64"},"targetDate":{"description":"Date of admission or discharge","type":"string"},"assessment":{"type":"object"}}},"ErrorResponse":{"required":["message"],"properties":{"message":{"type":"string"}}},"UnauthorizedResponse":{"required":["message"],"properties":{"message":{"type":"string"}}},"NotFoundResponse":{"required":["message"],"properties":{"message":{"type":"string"}}},"PingResponse":{"required":["message"],"properties":{"message":{"type":"string"}}},"ReasonTypes":{"type":"object","required":["id","name","code"],"properties":{"id":{"description":"ID of Reason Type","type":"number","format":"int64"},"name":{"type":"string"},"code":{"type":"string"}}},"RefData":{"type":"object","properties":{"id":{"type":"integer"},"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"}}},"SearchResponse":{"type":"object","required":["results","count","numPages","page","offset","limit"],"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/SubmissionSearch"}},"count":{"description":"total results from filter","type":"number","format":"int32"},"numPages":{"type":"number","format":"int32"},"page":{"type":"number","format":"int32"},"offset":{"type":"number","format":"int32"},"limit":{"type":"number","format":"int32"}}},"SubmissionCreatedResponse":{"required":["submissionId"],"properties":{"submissionId":{"type":"string"}}},"SubmissionSearch":{"type":"object","required":["id","fileName","submittedBy","createdAt","providerType"],"properties":{"id":{"description":"ID of Submission","type":"number","format":"int64"},"providerType":{"description":"Provider type for this response","type":"string"},"fileName":{"type":"string"},"submittedBy":{"type":"string"},"createdAt":{"description":"Date file was submitted","type":"string","format":"date"}}},"UpdateAssessment":{"properties":{"assessmentDetailsObj":{"type":"string"}}},"PatientsAssessmentInfo":{"type":"object","required":["hasInProgress","hasSubmitted"],"properties":{"hasInProgress":{"description":"Are there in progress assessments for given patient","type":"boolean"},"hasSubmitted":{"description":"Are there submitted assessments for given patient","type":"boolean"}}},"Items":{"properties":{"id":{"type":"string"}}},"PatientIdsList":{"type":"array","items":{"$ref":"#/definitions/PatientId"}},"PatientId":{"type":"object","properties":{"patientId":{"type":"integer","format":"int64"}}},"Version":{"type":"object","properties":{"version":{"type":"string"},"from":{"type":"string"},"to":{"type":"string"}}},"FormConfig":{"type":"object","properties":{"component":{"type":"object"},"fields":{"type":"object"}}},"AssessmentActions":{"type":"object","properties":{"read":{"type":"array","items":{"$ref":"#/definitions/Items"}},"edit":{"type":"array","items":{"$ref":"#/definitions/Items"}},"delete":{"type":"array","items":{"$ref":"#/definitions/Items"}},"inactivate":{"type":"array","items":{"$ref":"#/definitions/Items"}}}}},"tags":[{"name":"Reference Data"},{"name":"Submissions"},{"name":"Utility"},{"name":"Assessments"},{"name":"Reference Data "},{"name":"assessment"}]}