{"swagger":"2.0","info":{"version":"0.0.2","title":"iQIES Patients Service"},"x-service":"patients","host":"patients.service.consul:32768","basePath":"","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/v1/pingDb":{"parameters":[],"get":{"description":"db connection health check endpoint","operationId":"pingDb","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ping"}},"500":{"description":"Failure","schema":{"$ref":"#/definitions/error"}}},"tags":["Utility"]}},"/v1/ping":{"parameters":[],"get":{"description":"health check endpoint","operationId":"ping","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ping"}}},"tags":["Utility"]}},"/v1/patients/search":{"parameters":[],"post":{"description":"Get all patients","operationId":"getAll","parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/PatientSearch"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SearchResponse"}},"400":{"description":"Failure","schema":{"$ref":"#/definitions/ValidationError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/UnauthorizedError"}}},"tags":["Patient"]}},"/v1/patients/match":{"parameters":[],"post":{"parameters":[{"name":"patientMatch","description":"Payload to match a patient","required":true,"in":"body","schema":{"$ref":"#/definitions/PatientMatch"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/MatchResponse"}},"204":{"description":"Success"},"400":{"description":"Failure","schema":{"$ref":"#/definitions/ValidationError"}}},"tags":["Patient"]}},"/v1/patients":{"parameters":[],"post":{"description":"Add a new patient","parameters":[{"name":"patient","in":"body","required":true,"schema":{"$ref":"#/definitions/PostPatient"}}],"responses":{"201":{"description":"Success","schema":{"type":"object","required":["id"],"properties":{"id":{"type":"number","format":"int64"}}}},"400":{"description":"Failure","schema":{"$ref":"#/definitions/ValidationError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/UnauthorizedError"}}},"tags":["Patient"]},"put":{"description":"Add a new patient with patient match","parameters":[{"name":"patient","in":"body","required":true,"schema":{"$ref":"#/definitions/PostPatient"}}],"responses":{"201":{"description":"Success","schema":{"type":"object","required":["id"],"properties":{"id":{"type":"number","format":"int64"}}}},"400":{"description":"Failure","schema":{"$ref":"#/definitions/ValidationError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/UnauthorizedError"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Conflict"}}},"tags":["Patient"]}},"/v1/patients/providers/{providerId}/admitted":{"parameters":[],"get":{"description":"Get provider's admitted patients","operationId":"getAll","parameters":[{"name":"providerId","in":"path","description":"ID of provider","required":true,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"Starting point for results","type":"integer","default":0},{"name":"limit","in":"query","description":"Results per Page","type":"integer","default":10},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"asc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"lastName"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SearchResponse"}},"400":{"description":"Failure","schema":{"$ref":"#/definitions/ValidationError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/UnauthorizedError"}}},"tags":["Patient"]}},"/v1/patients/{id}":{"parameters":[],"get":{"tags":["Patient"],"parameters":[{"name":"id","description":"ID of patient","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Patient"}},"400":{"description":"Failure","schema":{"$ref":"#/definitions/ValidationError"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/UnauthorizedError"}}}},"put":{"description":"This updates a patient.","parameters":[{"name":"id","in":"path","description":"Patient Id","required":true,"type":"integer","format":"int64"},{"name":"patient","in":"body","required":true,"schema":{"$ref":"#/definitions/Patient"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Patient"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/UnauthorizedError"}},"500":{"description":"Failure","schema":{"$ref":"#/definitions/error"}}},"tags":["Patient"]},"delete":{"summary":"Delete Patient","description":"This deletes a patient.","parameters":[{"name":"id","in":"path","description":"The unique patient id.","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/UnauthorizedError"}},"404":{"description":"Patient not found"},"405":{"description":"Can't delete, patient has submitted assessments"},"500":{"description":"Failure","schema":{"$ref":"#/definitions/error"}}},"tags":["Patient"]}}},"definitions":{"SearchResponse":{"type":"object","required":["results","count","numPages","page","offset","limit"],"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/PatientSearchResult"}},"count":{"description":"total results from filter","type":"number","format":"int32"},"numPages":{"type":"number","format":"int32"},"page":{"type":"number","format":"int32"},"offset":{"type":"number","format":"int32"},"limit":{"type":"number","format":"int32"}}},"Patient":{"type":"object","properties":{"id":{"description":"ID of patient","type":"integer","format":"int64","readOnly":true},"vehicle":{"type":"string","enum":["hha","irf","ltch"]},"firstName":{"type":"string","maxLength":12},"lastName":{"type":"string","maxLength":18},"middleInitial":{"type":"string","example":"T","maxLength":1},"suffix":{"type":"string","example":"Esq","maxLength":3},"ssn":{"type":"string","example":"123456789","minLength":1,"maxLength":9,"pattern":"^\\d{9}|\\^$"},"medicareId":{"description":"Medicare ID for patient","type":"string","example":"1234567890ab","minLength":1,"maxLength":12},"medicaidId":{"description":"Medicaid Number for patient","type":"string","example":"12345678901234","minLength":1,"maxLength":14},"birthdate":{"description":"DOB of patient","$ref":"#/definitions/Birthdate"},"ethnicity":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/EthnicityOptions"}},"gender":{"type":"string","enum":["male","female"]},"interpreter":{"type":"string","enum":["no","yes","unknown","na"]},"language":{"type":"string","maxLength":15},"maritalStatus":{"type":"string","enum":["never","married","divorced","widowed","separated","na"]},"payerInfo":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/PayerOptions"}},"stateId":{"type":"integer","format":"int64"},"providerId":{"type":["number","null"],"description":"id of the most recent provider that served the patient. Foreign key to provider service"},"patientChangeTimestamp":{"type":"string","format":"date"},"effectiveDate":{"description":"Effective date from patient's latest assessment","type":["string","null"],"format":"date"},"lastAdmissionDate":{"description":"Last admission date of patient","type":["string","null"],"format":"date"}}},"PostPatient":{"allOf":[{"$ref":"#/definitions/Patient"},{"type":"object","required":["firstName","lastName","providerId","birthdate","gender"]}]},"PatientSearchResult":{"type":"object","required":["id","firstName","lastName","birthdate"],"properties":{"id":{"description":"ID of patient","type":"integer","format":"int64"},"firstName":{"type":"string"},"lastName":{"type":"string"},"medicareId":{"description":"Medicare ID for patient","type":["string","null"]},"lastAdmissionDate":{"description":"Last admission date of patient","type":["string","null"],"format":"date"},"birthdate":{"description":"DOB of patient","type":"string","format":"date"}}},"PatientSearch":{"type":"object","properties":{"offset":{"description":"Starting point for results","type":"integer"},"limit":{"description":"Results per Page","type":"integer"},"sortDir":{"description":"direction to order results","type":"string","enum":["asc","desc"]},"sortBy":{"description":"field to order results by","type":"string"},"ssn":{"description":"SSN of patient","type":"string"},"birthdate":{"description":"DOB of patient","type":"string"},"admissionDate":{"description":"Admission date of patient","type":"string"},"firstName":{"description":"First name of patient","type":"string"},"lastName":{"description":"Last name of patient","type":"string"}}},"PatientMatch":{"type":"object","required":["stateId","firstName","lastName","birthdate","gender"],"properties":{"providerId":{"type":["integer","null"]},"stateId":{"type":"integer"},"firstName":{"type":"string"},"lastName":{"type":"string"},"ssn":{"type":"string"},"birthdate":{"description":"DOB of patient","type":"string","format":"date"},"gender":{"type":"string","enum":["male","female"]}}},"MatchResponse":{"type":"object","required":["criteriaSet","patient"],"properties":{"criteriaSet":{"type":"integer"},"patient":{"$ref":"#/definitions/Patient"},"matchCount":{"type":"integer"}}},"EthnicityOptions":{"type":"string","enum":["indianAlaskan","hawaiianIslander","asian","white","black","hispanic","na","skipped","notHispanicLatinoOrSpanish","mexicanMexicanAmericanChicano","puertoRican","cuban","anotherHispanicLatinoOrSpanish","patientUnableToRespond"]},"PayerOptions":{"type":"string","enum":["medicareTraditional","medicareManaged","medicaidTraditional","medicaidManaged","none","otherGov","workersComp","titleProgram","privateInsurance","privateManaged","self","other","unknown"]},"Birthdate":{"type":"object","properties":{"date":{"type":"string","format":"date","description":"Full date"},"monthYear":{"type":"string","pattern":"^[0-9]{4}-[0-9]{2}$","description":"Month and year when day unknown"},"year":{"type":"string","pattern":"^[0-9]{4}$","description":"Year when month and day unknown"}},"example":{"date":"1962-12-12"}},"ValidationError":{"type":"object","required":["message"],"properties":{"message":{"type":"string"}}},"UnauthorizedError":{"type":"object","required":["message"],"properties":{"message":{"type":"string"}}},"Conflict":{"type":"object","required":["message"],"properties":{"message":{"type":"string"}}},"NotFoundResponse":{"required":["message"],"properties":{"message":{"type":"string"}}},"ping":{"required":["message"],"properties":{"message":{"type":"string"}}},"error":{"required":["message"],"properties":{"message":{"type":"string"}}}},"tags":[{"name":"Utility"},{"name":"Patient"}]}
