{"swagger":"2.0","info":{"version":"0.0.3","title":"iQIES Provider Service"},"host":"provider.service.consul:32775","basePath":"","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/v1/user-accessable-provider-types":{"parameters":[],"get":{"tags":["provider"],"description":"fetch user accessable provider types and sub types","summary":"fetch user accessable provider types and sub types","parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UserAccessableProviderTypesResponse"}},"404":{"description":"Providers not found"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/state-licensure-types":{"parameters":[],"get":{"tags":["license"],"summary":"fetch State Licensure Types","description":"fetch State Licensure Types","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/StateLicensureTypeResponses"},"examples":{"value":[{"id":1,"code":"01","description":"Permanent"},{"id":2,"code":"02","description":"Annual"},{"id":3,"code":"03","description":"Bi-Annual"}]}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/salutations":{"parameters":[],"get":{"tags":["administrator"],"summary":"List of salutation","description":"List of salutation","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Salutation"}},"examples":{"value":[{"id":1,"code":"01","name":"Ms.","description":"Ms."},{"id":2,"code":"02","name":"Mr.","description":"Mr."}]}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/public/providers":{"parameters":[],"post":{"tags":["provider","public"],"summary":"Get all providers with the ability to search via iqiesIds parameter.","description":"Returns an array of providers based on a iqiesIds parameter.","produces":["application/json"],"parameters":[{"name":"body","in":"body","required":true,"description":"Multiple Provider's iQIES IDs ","schema":{"type":"object","properties":{"iqiesIds":{"type":"array","items":{"type":"integer","format":"int64"}}}}}],"responses":{"200":{"description":"successful operation","schema":{}},"404":{"description":"Provider not found","schema":{"$ref":"#/definitions/NotFoundResponse"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/public/iqies-providers":{"parameters":[],"get":{"tags":["provider","public"],"summary":"Get all providers with the ability to search via stateId and keyword","description":"Get all providers with the ability to search via stateId and keyword","produces":["application/json"],"parameters":[{"name":"stateIds","in":"query","description":"Provider's search by State IDs","type":"array","items":{"type":"integer"}},{"name":"iqiesIds","in":"query","description":"Provider's search by State iqiesIds","type":"array","items":{"type":"integer"}},{"name":"keywords","in":"query","description":"Provider's search by key word.","type":"string"},{"name":"sortBy","in":"query","description":"An enum of various sorters.","type":"string","enum":["id","name","legalProviderName","ccnId","addressLine1","addressLine2","stateId","stateName","city","county","zip","regionId"],"default":"id"},{"name":"sortDir","in":"query","description":"An enum of sort directions in reference to 'sortBy'.","type":"string","enum":["asc","desc"],"default":"asc"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer","default":10},{"name":"offset","in":"query","description":"offset.","type":"integer","default":0}],"responses":{"200":{"description":"successful operation","schema":{}},"400":{"description":"bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providertypes":{"parameters":[],"get":{"tags":["provider"],"description":"fetch provider-type reference data","summary":"fetch provider-type reference data","parameters":[{"name":"isDeemed","in":"query","description":"To get deemable provider types","type":"boolean"},{"name":"isActive","in":"query","description":"To get active provider types","type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ProviderTypeResponse"},"examples":{"value":[{"id":1,"description":"Hospitals","childType":"providerSubType","canBeDeemed":true,"children":[{"id":1,"description":"Short Term"},{"id":2,"description":"Long Term Care"}]},{"id":2,"description":"Nursing Homes","childType":"providerSubType","canBeDeemed":false,"children":[{"id":3,"name":"Dually Participating"},{"id":4,"name":"Distinct Part"}]}]}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Reference type not found"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providersubtypes":{"parameters":[],"get":{"tags":["provider"],"description":"fetch provider-type reference data","summary":"fetch provider-type reference data","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ProviderSubTypeResponse"},"examples":{"value":[{"id":1,"name":"Short Term"},{"id":2,"name":"Long Term Care"}]}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Reference type not found"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providers":{"parameters":[],"get":{"tags":["provider"],"summary":"Get all providers with the ability to search via specific filter parameters.","description":"Returns an array of providers based on a variety supplied search parameters.","produces":["application/json"],"parameters":[{"name":"name","in":"query","description":"Name of the provider","type":"string"},{"name":"searchAs","in":"query","description":"search for a provider using Legal Business Name, Doing Business As Name or both","type":"string","enum":["legalName","businessName","both"]},{"name":"providerTypeIds","in":"query","description":"Provider's Type IDs","type":"array","items":{"type":"integer"}},{"name":"providerSubTypeIds","in":"query","description":"Provider's SubType IDs","type":"array","items":{"type":"integer"}},{"name":"iqiesId","in":"query","description":"Provider's iQIES ID","type":"integer"},{"name":"iqiesIds","in":"query","description":"Multiple Provider's iQIES IDs - will not work if 'iqiesId' is set.","type":"array","items":{"type":"integer"}},{"name":"ccnId","in":"query","description":"Provider's CCN ID","type":"string"},{"name":"medicaidId","in":"query","description":"Provider's Medicaid ID","type":"integer"},{"name":"licenseId","in":"query","description":"Provider's License Number","type":"string"},{"name":"address","in":"query","description":"Address of the Provider","type":"string"},{"name":"address2","in":"query","description":"Address of the Provider","type":"string"},{"name":"city","in":"query","description":"City of the Provider","type":"string"},{"name":"zip","in":"query","description":"zip of the provider address","type":"string"},{"name":"county","in":"query","description":"County of the Provider","type":"string"},{"name":"stateIds","in":"query","description":"Provider's State IDs","type":"array","items":{"type":"integer"}},{"name":"regionIds","in":"query","description":"Provider's Region IDs","type":"array","items":{"type":"integer"}},{"name":"createdUserId","in":"query","description":"Filter by the user's ID associated with the creation of the provider.","type":"integer"},{"name":"status","in":"query","description":"Provider's Status (valid values: [1, 2]).","type":"array","items":{"type":"integer"}},{"name":"federalCertificationStatus","in":"query","description":"Provider's federal certification status (valid values: [1, 2,3,4]).","type":"array","items":{"type":"integer"}},{"name":"stateFacilityId","in":"query","description":"State Facility Id","type":"string"},{"name":"aoFacilityId","in":"query","description":"Provider's ao facility Id","type":"string"},{"name":"deemedStatus","in":"query","description":"Deemed status of the Provider","type":"boolean"},{"name":"startDate","in":"query","description":"Start Date of the Provider's deemed date","type":"string"},{"name":"endDate","in":"query","description":"End Date of the Provider's deemed date","type":"string"},{"name":"sortBy","in":"query","description":"An enum of various sorters.","type":"string","enum":["createdAt","updatedAt","name","providerSubTypeId","legalProviderName","providerTypeId","addressLine1","addressLine2","stateId","stateName","regionId","city","county","zip","operationStatus","ccnId","medicaidId","id","type","status","federalCertificationStatus","stateFacilityId","deemedStatus","fullTypeName"]},{"name":"sortDir","in":"query","description":"An enum of sort directions in reference to 'sortBy'.","type":"string","enum":["asc","desc"]},{"name":"addressFilter","in":"query","description":"An enum of option to search provider on Primary Practice Location or All Locations .","type":"string","enum":["primary","all"]},{"name":"managementUnitId","in":"query","description":"Filter by the provider's management unit id.","type":"integer"},{"name":"workUnitId","in":"query","description":"Filter by the provider's work unit id.","type":"integer"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer"},{"name":"offset","in":"query","description":"offset.","type":"integer"},{"name":"pageNumber","in":"query","description":"pageNumber","type":"integer"},{"name":"macId","in":"query","description":"Provider's mac Id","type":"string"},{"name":"isRestrictedToUserStates","in":"query","description":"Flag to restrict states to State Agency and Regional Office users","type":"boolean"}],"responses":{"200":{"description":"successful operation","schema":{},"examples":{"value":[{"legalProviderName":"Test provider1, Inc.","businessNameFlag":true,"name":"Test provider1, Inc.","providerTypeId":2,"providerSubTypeId":3,"providerStatusId":1,"medicaidId":"123456","ccnId":"asdf123","deemedStatus":true,"deemedDate":"2019-01-01","createdAt":"01/01/2018","updatedAt":"01/01/2018","providerAdministrators":[{"name":"1","phoneNumber":"7149621700","faxNumber":"8773041207","email":"test@testprovidercare.com"}],"addresses":[{"addressLine1":"1234 Bent Ridge Lane","addressLine2":"Suite 1234","city":"ABC City","county":"ABC County","stateId":1,"regionId":1,"stateRegionId":66,"zip":"60019","addressTypeId":1,"isSameAsPrimaryAddress":false},{"addressLine1":"1234 Bent Ridge Lane","addressLine2":"Suite 1000","city":"ABC City","county":"ABC County","stateId":1,"regionId":1,"stateRegionId":66,"zip":"60010","addressTypeId":2,"isSameAsPrimaryAddress":false}],"accreditations":[{"aoFacilityId":"AOF0000010"}]}]}},"404":{"description":"Provider not found","schema":{"$ref":"#/definitions/NotFoundResponse"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"post":{"tags":["provider"],"description":"Add a new provider with basic information","summary":"Add a new provider with basic information","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Provider basic information","required":true,"schema":{"$ref":"#/definitions/Provider"}}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/Provider"},"examples":{"value":{"id":"1","name":"XYZ Hospital","providerTypeId":1,"providerSubTypeId":1,"providerStatusId":1,"addresses":[{"id":"1","addressLine1":"2 Almo Center","addressLine2":"Suite 10","city":"XYZ City","stateId":10,"regionId":1,"stateRegionId":66,"zip":"20190","county":"ABC County","addressTypeId":1,"isSameAsPrimaryAddress":false}]}}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/provider-status":{"parameters":[],"get":{"tags":["provider"],"description":"fetch provider status","summary":"fetch provider status","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ProviderStatus"}},"examples":{"value":[{"id":1,"code":"01","name":"Pending","description":"Pending"},{"id":2,"code":"02","name":"Deeming","description":"Deeming"}]}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/provider-sections":{"parameters":[],"get":{"tags":["provider"],"description":"fetch provider-sections configurations","summary":"fetch provider-sections configurations","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ProviderSectionsResponse"},"examples":{"value":[{"providerTypeId":1,"providerSubTypeId":4,"sections":[{"id":1,"description":"Basic information"},{"id":2,"description":"Mailing Address"},{"id":3,"description":"Additional Branch Addresses"}]},{"providerTypeId":3,"providerSubTypeId":null,"sections":[{"id":8,"description":"Identifiers"},{"id":9,"description":"State License"},{"id":10,"description":"MAC Information"}]}]}},"404":{"description":"Reference type not found"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/provider-search":{"parameters":[],"get":{"tags":["provider"],"summary":"Get all providers with the ability to search via stateId and keyword","description":"Get all providers with the ability to search via stateId and keyword","produces":["application/json"],"parameters":[{"name":"stateIds","in":"query","description":"Provider's search by State IDs","type":"array","items":{"type":"integer"}},{"name":"iqiesIds","in":"query","description":"Provider's search by State iqiesIds","type":"array","items":{"type":"integer"}},{"name":"keywords","in":"query","description":"Provider's search by key word.","type":"string"},{"name":"sortBy","in":"query","description":"An enum of various sorters.","type":"string","enum":["id","name","legalProviderName","ccnId","addressLine1","addressLine2","stateId","stateName","city","county","zip","regionId"],"default":"id"},{"name":"sortDir","in":"query","description":"An enum of sort directions in reference to 'sortBy'.","type":"string","enum":["asc","desc"],"default":"asc"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer","default":10},{"name":"offset","in":"query","description":"offset.","type":"integer","default":0}],"responses":{"200":{"description":"successful operation","schema":{}},"400":{"description":"bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/pingDb":{"parameters":[],"get":{"description":"db connection health check endpoint","operationId":"pingDb","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}}}},"/v1/ping":{"parameters":[],"get":{"tags":["health-check"],"description":"health check endpoint","summary":"health check endpoint","produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}}}},"/v1/operating-statuslist":{"parameters":[],"get":{"tags":["operating-details"],"summary":"fetch operting status list","description":"fetch operting status list","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/OperatingStatusList"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/macs":{"parameters":[],"get":{"tags":["mac"],"description":"fetch all mac's information","summary":"fetch all mac's information","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RefMacs"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Reference type not found"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/federal-certification-termination-reasons":{"parameters":[],"get":{"tags":["federal certification termination reasons"],"description":"fetch federal certification termination reasons","summary":"fetch federal certification terminal reasons","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/TerminationReason"}},"examples":{"value":[{"id":0,"code":"00","name":"Active","description":"Active","isVoluntaryWithdrawal":null},{"id":1,"code":"01","name":"Merger/Closure","description":"Merger/Closure","isVoluntaryWithdrawal":true}]}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/federal-certification-statuses":{"parameters":[],"get":{"tags":["federal certification"],"description":"fetch federal certification statuses","summary":"fetch federal certification statuses","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/FederalCertificationStatus"}},"examples":{"value":[{"id":1,"code":"01","name":"Not Applicable","description":"Not Applicable"},{"id":2,"code":"02","name":"Pending Certification","description":"Pending Certification"}]}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/contact-types":{"parameters":[],"get":{"tags":["contact"],"summary":"fetch all provider contact types","description":"fetch all provider contact types","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ContactTypeList"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Reference type not found"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/contact-titleTypes":{"parameters":[],"get":{"tags":["contact"],"summary":"fetch all provider contact Title types","description":"fetch all provider contact Title types","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ContactTitleTypeList"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Reference type not found"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/branchtypes":{"parameters":[],"get":{"tags":["branch"],"summary":"fetch Branch Type","description":"fetch Branch Type","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/BranchType"}},"examples":{"value":[{"id":1,"code":"01","name":"Branch Office","description":"Branch Office"},{"id":2,"code":"02","name":"Child Affiliate Office","description":"Child Affiliate Office"},{"id":3,"code":"03","name":"Sibling Affiliate","description":"Sibling Affiliate"},{"id":4,"code":"04","name":"Sub-unit","description":"Sub-unit"}]}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/ao/submissions":{"parameters":[],"post":{"tags":["ao-facilities"],"description":"File upload endpoint to process AO CSV files","summary":"File upload endpoint to process AO CSV files","consumes":["application/json"],"parameters":[{"in":"body","name":"body","description":"AO file upload data","required":true,"schema":{"$ref":"#/definitions/AoUpload"}}],"responses":{"201":{"description":"Submission Created","schema":{"$ref":"#/definitions/AoUpload"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"get":{"tags":["ao-facilities"],"description":"get Accrediting organization file submission history.","summary":"get Accrediting organization file submission history","parameters":[{"name":"beginDate","in":"query","description":"field to get results by beginDate","type":"string"},{"name":"endDate","in":"query","description":"field to get results by endDate","type":"string"},{"name":"latest","in":"query","description":"field to get latest upload record","type":"boolean"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer","default":10},{"name":"offset","in":"query","description":"offset.","type":"integer","default":0},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"createdAt"}],"responses":{"200":{"description":"Success","schema":{"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/AoUpload"}},"numPages":{"type":"integer"},"page":{"type":"integer"},"totalResults":{"type":"integer"}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/ao/approvals/reconciliations":{"parameters":[],"get":{"tags":["ao-facilities"],"summary":"Get reconciliations pending approval.","description":"Returns an array of reconciliations pending approval for supplied filters.","produces":["application/json"],"parameters":[{"name":"regionIds","in":"query","description":"region IDs","type":"array","items":{"type":"integer"}},{"name":"sortBy","in":"query","description":"An enum of various sorters.","type":"string","default":"matchPercentage"},{"name":"sortDir","in":"query","description":"An enum of sort directions in reference to 'sortBy'.","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer"},{"name":"offset","in":"query","description":"offset.","type":"integer","default":0}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/AoReconciliationPendingApprovalList"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/ao-provider-reconciliation-statuses":{"parameters":[],"get":{"tags":["ao-facilities"],"summary":"fetch all ao provider reconciliation status values","description":"fetch all ao provider reconciliation status values","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ReferenceDataList"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/ao-provider-match-statuses":{"parameters":[],"get":{"tags":["ao-facilities"],"summary":"fetch all ao provider match status values","description":"fetch all ao provider match status values","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ReferenceDataList"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/ao-file-upload-statuses":{"parameters":[],"get":{"tags":["ao-facilities"],"summary":"fetch all ao file upload status values","description":"fetch all ao file upload status values","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ReferenceDataList"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/administrator-types":{"parameters":[],"get":{"tags":["administrator"],"summary":"List of Administrator Type","description":"List of Administrator Type","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/AdministratorType"}},"examples":{"value":[{"id":1,"code":"01","name":"Administrator","description":"Administrator","providerTypeIds":[2,3,4,5]},{"id":2,"code":"02","name":"Asst Administrator","description":"Asst Administrator","providerTypeIds":[2,3,4,5]}]}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/address-type":{"parameters":[],"get":{"tags":["provider"],"description":"retrieves all address types","summary":"retrieves all address types","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/AddressType"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/accrediting-organizations":{"parameters":[],"get":{"tags":["accreditation"],"summary":"fetch all Accrediting organizations","description":"fetch all Accrediting organizations","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AccreditingOrganizationList"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Reference type not found"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/accreditation-withdrawal-reason":{"parameters":[],"get":{"tags":["accreditation"],"description":"retrieves all accreditation withdrawal reasons","summary":"retrieves all accreditation withdrawal reasons","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/AccreditationWithdrawalReasons"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/accreditation-termination-reason":{"parameters":[],"get":{"tags":["accreditation"],"description":"retrieves all accreditation termination reasons","summary":"retrieves all accreditation termination reasons","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/AccreditationTerminationReasons"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/accreditation-status":{"parameters":[],"get":{"tags":["accreditation"],"summary":"fetch all accrditation status values","description":"fetch all accrditation status values","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AccreditationStatusList"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Reference type not found"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/accreditation-ro-status":{"parameters":[],"get":{"tags":["accreditation"],"description":"retrieves all accreditation status types","summary":"retrieves all accreditation status types","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/AccreditationRoStatuses"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/public/ccn/{ccn}/provider":{"parameters":[],"get":{"tags":["provider","public"],"summary":"Find provider by CCN","description":"Returns single provider details","produces":["application/json"],"parameters":[{"name":"ccn","in":"path","description":"CCN of provider to return provider summary","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{}},"404":{"description":"Provider not found","schema":{"$ref":"#/definitions/NotFoundResponse"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providers/{providerId}/status":{"parameters":[],"put":{"tags":["provider"],"description":"Checks if the status desired is available to the provider and applys it","summary":"Checks if the status desired is available to the provider and applys it","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","description":"Provider id to update status","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"Desired provider status","required":true,"schema":{"type":"object","required":["status"],"properties":{"status":{"type":"integer","format":"int64","description":"Provider Status"}}}}],"responses":{"200":{"description":"Success","schema":{"type":"object","required":["providerStatusId"],"properties":{"providerStatusId":{"type":"integer","format":"int64","description":"Provider Status"},"errors":{"type":"array","description":"Errors","items":{"type":"string"}}}}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No Provider found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providers/{providerId}/operating-details":{"parameters":[],"put":{"tags":["operating-details"],"description":"Update provider operating detail","summary":"Update provider operating detail","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","description":"Provider id to save operating details","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"Provider Operating detail","required":true,"schema":{"$ref":"#/definitions/OperatingDetails"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/OperatingDetails"}},"400":{"description":"Failure","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No Provider found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providers/{providerId}/mailing-address":{"parameters":[],"put":{"tags":["provider"],"description":"Add a provider's mailing information","summary":"Add a provider's mailing information","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"path","name":"providerId","description":"Provider id","required":true,"type":"integer","format":"int64"},{"in":"body","name":"body","description":"Provider mailing information","required":true,"schema":{"$ref":"#/definitions/Address"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Address"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No Provider found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providers/{providerId}/mac":{"parameters":[],"put":{"tags":["provider"],"description":"Update provider MAC information","summary":"Update provider MAC information","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","description":"Provider id to update contractorId","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"ID for Medicare Administrative Contractor","required":true,"schema":{"type":"object","required":["contractorId"],"properties":{"status":{"type":"integer","format":"int64","description":"Contractor ID"}}}}],"responses":{"200":{"description":"Success","schema":{}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No Provider found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providers/{providerId}/location-address":{"parameters":[],"put":{"tags":["provider"],"description":"Update provider with basic information","summary":"Update provider with basic information","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","description":"Provider id to update basic info","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"Provider basic information","required":true,"schema":{"$ref":"#/definitions/Address"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Address"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No Provider found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providers/{providerId}/contacts/{contactId}":{"parameters":[],"delete":{"tags":["contact"],"description":"Delete provider contacs","summary":"Delete provider contacs","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","description":"Provider id to delete contacts","required":true,"type":"integer","format":"int64"},{"name":"contactId","in":"path","description":"Provider contact id","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"Success"},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No Provider found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providers/{providerId}/contacts":{"parameters":[],"put":{"tags":["contact"],"description":"Update provider contac information","summary":"Update provider contac information","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","description":"Provider id to update contact","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"Provider contact information","required":true,"schema":{"$ref":"#/definitions/Contact"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Contact"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No Provider found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providers/{providerId}/certification-and-licensure":{"parameters":[],"put":{"tags":["provider"],"description":"Update provider with certification and licensure information","summary":"Update provider with certification and licensure information","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","description":"Provider id to update Certification and Licensure information","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"Provider Certification and Licensure information","required":true,"schema":{"$ref":"#/definitions/ProviderCertificationAndLicensure"}}],"responses":{"200":{"description":"Success"},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No Provider found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providers/{providerId}/branches/{branchId}":{"parameters":[],"delete":{"tags":["branch"],"summary":"Delete provider branch detail","description":"Delete provider branch detail","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","description":"providerId","required":true,"type":"integer","minimum":1,"format":"int64"},{"name":"branchId","in":"path","description":"branchId","required":true,"type":"integer","minimum":1,"format":"int64"}],"responses":{"204":{"description":"Success"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providers/{providerId}/branches":{"parameters":[],"get":{"tags":["branch"],"summary":"Get provider branches","description":"Get provider branches","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","description":"Provider id to save Branch detail","required":true,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"Starting point for results","type":"integer","default":0},{"name":"limit","in":"query","description":"Results per Page","type":"integer","default":5},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"createdAt"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BranchResponse"}},"400":{"description":"Failure","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"tags":["branch"],"summary":"Update provider branch detail","description":"Update provider branch detail","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","description":"Provider id to save Branch detail","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"Provider Branch detail","required":true,"schema":{"$ref":"#/definitions/Branch"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Branch"},"examples":{"id":1,"name":"Test Provider Branch","branchTypeId":1,"addressLine1":"123 mclean Dr","addressLine2":"Suite 123 ","city":"Abc City","county":"Derp","stateId":1,"zip":"12345"}},"400":{"description":"Failure","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No Provider found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providers/{providerId}/basic-info":{"parameters":[],"put":{"tags":["provider"],"summary":"Update provider with basic information","description":"Update provider with basic information","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","description":"Provider id to update basic info","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"Provider basic information","required":true,"schema":{"$ref":"#/definitions/providerBasicInfo"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/providerBasicInfo"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No Provider found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providers/{providerId}/attachments/{attachmentId}/signedurls/{operation}":{"parameters":[],"get":{"tags":["attachments"],"summary":"Get signed url for a given s3 operation and s3 object key.","description":"Get signed url for a given s3 operation and s3 object key.","parameters":[{"name":"operation","in":"path","description":"S3 operation - getObject, putObject, etc","required":true,"type":"string","enum":["getObject","putObject"]}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SignedUrl"}},"404":{"description":"Key not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providers/{providerId}/attachments/{attachmentId}":{"parameters":[],"delete":{"tags":["attachments"],"summary":"delete provider attachment","description":"delete provider attachment","parameters":[{"name":"providerId","in":"path","description":"Id of provider","required":true,"type":"integer","format":"int64"},{"name":"attachmentId","in":"path","description":"Id of attachment","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{}},"404":{"description":"No Attachment found for this provider.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"tags":["attachments"],"summary":"update provider attachment description","description":"update provider attachment description","parameters":[{"name":"providerId","in":"path","description":"Id of provider","required":true,"type":"integer","format":"int64"},{"name":"attachmentId","in":"path","description":"Id of attachment","required":true,"type":"integer","format":"int64"},{"name":"attachment","in":"body","description":"new attachment description","required":true,"schema":{"type":"object","required":["description"],"properties":{"description":{"type":"string"}}}}],"responses":{"204":{"description":"Success","schema":{}},"404":{"description":"No Attachment found for this provider.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providers/{providerId}/attachments":{"parameters":[],"post":{"tags":["attachments"],"description":"Add attachment to provider","summary":"Add attachment to provider","consumes":["multipart/form-data"],"parameters":[{"name":"providerId","in":"path","description":"Id of provider","required":true,"type":"integer","format":"int64"},{"in":"formData","name":"providerAttachment","type":"file","description":"File to be attached to provider","required":true},{"in":"formData","name":"attachmentDescription","type":"string","description":"attached file description","required":true}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/undefined"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"409":{"description":"Duplicate file","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"get":{"tags":["attachments"],"description":"get All provider attachments.","summary":"get All provider attachments.","parameters":[{"name":"providerId","in":"path","description":"Id of provider","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/Attachment"}},"numPages":{"type":"integer"},"page":{"type":"integer"},"totalResults":{"type":"integer"}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providers/{providerId}/administrators/{administratorId}":{"parameters":[],"delete":{"tags":["administrator"],"summary":"Delete provider's administrator detail","description":"Delete provider's administrator detail","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","description":"Provider id to delete administrator detail","required":true,"type":"integer","minimum":1,"format":"int64"},{"name":"administratorId","in":"path","description":"Administrator id to delete administrator detail","required":true,"type":"integer","minimum":1,"format":"int64"}],"responses":{"204":{"description":"Success"},"404":{"description":"Not found"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"tags":["administrator"],"summary":"Save provider's administrator detail","description":"Save provider's administrator detail","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","description":"Provider id to save administrator detail","required":true,"type":"integer","format":"int64"},{"name":"administratorId","in":"path","description":"Administrator to update","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"Provider administrator detail","required":true,"schema":{"$ref":"#/definitions/Administrator"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Administrator"},"examples":{"id":75,"firstName":"Gilemette","middleInitial":"G","lastName":"Ledrane","addressLine1":"311","addressLine2":"Milwaukee Plaza","city":"XYZ City","zip":"12345","phoneNumber":"9398655922","faxNumber":"3831680795","email":"gledrane0@thisdoesnotexits.gov","startDate":"2018-01-01","endDate":"3050-01-01","licenseNumber":"7057720033","licenseExpirationDate":"2038-01-01","isPrimary":true,"stateId":21,"administratorTypeId":1,"salutationId":1}},"400":{"description":"Failure","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No Provider found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providers/{providerId}/administrators":{"parameters":[],"get":{"tags":["administrator"],"summary":"Get all provider's administrators","description":"Get all provider's administrators","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","description":"Provider id to get administrators","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Administrator"}},"examples":{"id":1,"firstName":"Gilemette","middleInitial":"G","lastName":"Ledrane","addressLine1":"311","addressLine2":"Milwaukee Plaza","city":"XYZ city","zip":"12345","phoneNumber":"9398655922","faxNumber":"3831680795","email":"gledrane0@thisdoesnotexits.gov","startDate":"2018-01-01","endDate":"3050-01-01","licenseNumber":"7057720033","licenseExpirationDate":"2038-01-01","isPrimary":true,"stateId":21,"providerId":2,"administratorTypeId":1,"salutationId":1}},"404":{"description":"No Provider found"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"post":{"tags":["administrator"],"summary":"Create provider administrator","description":"Save provider's administrator detail","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","description":"Provider id to save administrator detail","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"Provider administrator detail","required":true,"schema":{"$ref":"#/definitions/Administrator"}}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/Administrator"},"examples":{"id":75,"firstName":"Gilemette","middleInitial":"G","lastName":"Ledrane","addressLine1":"311","addressLine2":"Milwaukee Plaza","city":"XYZ City","zip":"12345","phoneNumber":"9398655922","faxNumber":"3831680795","email":"gledrane0@thisdoesnotexits.gov","startDate":"2018-01-01","endDate":"3050-01-01","licenseNumber":"7057720033","licenseExpirationDate":"2038-01-01","isPrimary":true,"stateId":21,"administratorTypeId":1,"salutationId":1}},"400":{"description":"Failure","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No Provider found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providers/{providerId}/accreditations/{accreditationId}":{"parameters":[],"put":{"tags":["accreditation"],"description":"Update provider's Accreditation information","summary":"Update provider's Accreditation information","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","description":"Provider id to update Accreditation info","required":true,"type":"integer","format":"int64"},{"name":"accreditationId","in":"path","description":"ID to update accreditation","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"Accreditation info","required":true,"schema":{"$ref":"#/definitions/Accreditation"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Accreditation"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized","schema":{}},"404":{"description":"No accreditation found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"delete":{"tags":["accreditation"],"summary":"Delete an accreditation","description":"Delete an accreditation","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"providerId","in":"path","description":"Provider id to delete accreditation","required":true,"type":"integer","minimum":1,"format":"int64"},{"name":"accreditationId","in":"path","description":"ID to delete accreditation","required":true,"type":"integer","minimum":1,"format":"int64"}],"responses":{"204":{"description":"Success"},"401":{"description":"Unauthorized","schema":{}},"404":{"description":"No accreditation found"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providers/{providerId}/accreditations":{"parameters":[],"post":{"tags":["accreditation"],"description":"Add a new accreditation with basic information","summary":"Add a new accreditation with basic information","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Accreditation basic information","required":true,"schema":{"$ref":"#/definitions/Accreditation"}}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/Accreditation"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized","schema":{}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/providers/{providerId}":{"parameters":[],"get":{"tags":["provider"],"summary":"Find provider by ID","description":"Returns single provider details","produces":["application/json"],"parameters":[{"name":"providerId","in":"path","description":"ID of provider to return provider summary","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"successful operation","schema":{}},"404":{"description":"Provider not found","schema":{"$ref":"#/definitions/NotFoundResponse"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/mac/{macId}/providers":{"parameters":[],"get":{"tags":["provider"],"summary":"Get all providers for a specific MAC with the ability to search via specific filter parameters.","description":"Returns an array of providers based on a variety supplied search parameters.","produces":["application/json"],"parameters":[{"name":"macId","in":"path","description":"ID of MAC to return provider list","required":true,"type":"integer","format":"int64"},{"name":"name","in":"query","description":"Name of the provider","type":"string"},{"name":"searchAs","in":"query","description":"search for a provider using Legal Business Name, Doing Business As Name or both","type":"string","enum":["legalName","businessName","both"]},{"name":"providerTypeIds","in":"query","description":"Provider's Type IDs","type":"array","items":{"type":"integer"}},{"name":"providerSubTypeIds","in":"query","description":"Provider's SubType IDs","type":"array","items":{"type":"integer"}},{"name":"ccnId","in":"query","description":"Provider's CCN ID","type":"string"},{"name":"medicaidId","in":"query","description":"Provider's Medicaid ID","type":"integer"},{"name":"licenseId","in":"query","description":"Provider's License Number","type":"string"},{"name":"address","in":"query","description":"Address of the Provider","type":"string"},{"name":"address2","in":"query","description":"Address of the Provider","type":"string"},{"name":"city","in":"query","description":"City of the Provider","type":"string"},{"name":"zip","in":"query","description":"zip of the provider address","type":"string"},{"name":"county","in":"query","description":"County of the Provider","type":"string"},{"name":"stateIds","in":"query","description":"Provider's State IDs","type":"array","items":{"type":"integer"}},{"name":"regionIds","in":"query","description":"Provider's Region IDs","type":"array","items":{"type":"integer"}},{"name":"createdUserId","in":"query","description":"Filter by the user's ID associated with the creation of the provider.","type":"integer"},{"name":"status","in":"query","description":"Provider's Status (valid values: [1, 2]).","type":"array","items":{"type":"integer"}},{"name":"federalCertificationStatus","in":"query","description":"Provider's federal certification status (valid values: [1, 2,3,4]).","type":"array","items":{"type":"integer"}},{"name":"stateFacilityId","in":"query","description":"State Facility Id","type":"string"},{"name":"aoFacilityId","in":"query","description":"Provider's ao facility Id","type":"string"},{"name":"deemedStatus","in":"query","description":"Deemed status of the Provider","type":"boolean"},{"name":"startDate","in":"query","description":"Start Date of the Provider's deemed date","type":"string"},{"name":"endDate","in":"query","description":"End Date of the Provider's deemed date","type":"string"},{"name":"sortBy","in":"query","description":"An enum of various sorters.","type":"string","enum":["createdAt","updatedAt","name","providerSubTypeId","legalProviderName","providerTypeId","addressLine1","addressLine2","stateId","stateName","regionId","city","county","zip","operationStatus","ccnId","medicaidId","id","type","status","federalCertificationStatus","stateFacilityId","deemedStatus","fullTypeName"]},{"name":"sortDir","in":"query","description":"An enum of sort directions in reference to 'sortBy'.","type":"string","enum":["asc","desc"]},{"name":"addressFilter","in":"query","description":"An enum of option to search provider on Primary Practice Location or All Locations .","type":"string","enum":["primary","all"]},{"name":"managementUnitId","in":"query","description":"Filter by the provider's management unit id.","type":"integer"},{"name":"workUnitId","in":"query","description":"Filter by the provider's work unit id.","type":"integer"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer"},{"name":"offset","in":"query","description":"offset.","type":"integer"},{"name":"pageNumber","in":"query","description":"pageNumber","type":"integer"}],"responses":{"200":{"description":"successful operation","schema":{},"examples":{"value":[{"legalProviderName":"Test provider1, Inc.","businessNameFlag":true,"name":"Test provider1, Inc.","providerTypeId":2,"providerSubTypeId":3,"providerStatusId":1,"medicaidId":"123456","ccnId":"asdf123","deemedStatus":true,"deemedDate":"2019-01-01","createdAt":"01/01/2018","updatedAt":"01/01/2018","providerAdministrators":[{"name":"1","phoneNumber":"7149621700","faxNumber":"8773041207","email":"test@testprovidercare.com"}],"addresses":[{"addressLine1":"1234 Bent Ridge Lane","addressLine2":"Suite 1234","city":"ABC City","county":"ABC County","stateId":1,"regionId":1,"stateRegionId":66,"zip":"60019","addressTypeId":1,"isSameAsPrimaryAddress":false},{"addressLine1":"1234 Bent Ridge Lane","addressLine2":"Suite 1000","city":"ABC City","county":"ABC County","stateId":1,"regionId":1,"stateRegionId":66,"zip":"60010","addressTypeId":2,"isSameAsPrimaryAddress":false}],"accreditations":[{"aoFacilityId":"AOF0000010"}]}]}},"404":{"description":"Provider not found","schema":{"$ref":"#/definitions/NotFoundResponse"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/ao/submissions/{submissionId}/facilities/{facilityId}/reconciliations/{reconciliationId}":{"parameters":[],"put":{"tags":["ao-facilities"],"summary":"submit reconciliation for ro approval","description":"submit reconciliation for ro approval","parameters":[{"name":"reconciliationId","in":"path","description":"Id of reconciliation","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"Success","schema":{}},"404":{"description":"No reconciliation found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/ao/submissions/{submissionId}/facilities/{facilityId}/reconciliations":{"parameters":[],"get":{"tags":["ao-facilities"],"summary":"Get ao provider reconciliations for facility by reconciliationStatusId.","description":"Returns an array of results based for facility by reconciliationStatusId.","produces":["application/json"],"parameters":[{"name":"facilityId","in":"path","description":"Ao Provider Row ID","type":"integer","required":true},{"name":"reconciliationStatusId","in":"query","description":"Reconciliation status Id","type":"integer","format":"int32","required":true},{"name":"sortBy","in":"query","description":"An enum of various sorters.","type":"string","default":"matchPercentage"},{"name":"sortDir","in":"query","description":"An enum of sort directions in reference to 'sortBy'.","type":"string","enum":["asc","desc"],"default":"desc"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/AoProviderReconciliationList"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"tags":["ao-facilities"],"summary":"update Ao facility reconciliations and submit for Ro approval","description":"update Ao facility reconciliations and submit for Ro approval","parameters":[{"name":"facilityId","in":"path","description":"Id of facility","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{}},"404":{"description":"No facility found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/ao/submissions/{submissionId}/facilities/{facilityId}":{"parameters":[],"get":{"tags":["ao-facilities"],"summary":"Find Ao facility by ID","description":"Returns single Ao Provider Row details","produces":["application/json"],"parameters":[{"name":"facilityId","in":"path","description":"ID of aoProviderRow to return facility","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"successful operation","schema":{}},"404":{"description":"Ao facility not found","schema":{"$ref":"#/definitions/NotFoundResponse"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"delete":{"tags":["ao-facilities"],"summary":"delete ao facility","description":"delete ao facility","parameters":[{"name":"facilityId","in":"path","description":"Id of facility","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{}},"404":{"description":"No Ao faciity found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/ao/submissions/{submissionId}/facilities":{"parameters":[],"get":{"tags":["ao-facilities"],"summary":"Get all ao facilities with the ability to search via specific filter parameters.","description":"Returns an array of results based on a variety supplied search parameters.","produces":["application/json"],"parameters":[{"name":"submissionId","in":"path","description":"ID of file upload","required":true,"type":"integer","format":"int64"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"createdAt"},{"name":"sortDir","in":"query","description":"An enum of sort directions in reference to 'sortBy'.","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer"},{"name":"offset","in":"query","description":"offset.","type":"integer","default":0}],"responses":{"200":{"description":"successful operation","schema":{}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/ao/submissions/{submissionId}":{"parameters":[],"get":{"tags":["ao-facilities"],"description":"get Ao facilities details by entry","summary":"get Ao facility upload details by entry","parameters":[{"name":"submissionId","in":"path","description":"ID of file upload","required":true,"type":"integer","format":"int64"},{"name":"aoFileUploadStatusId","in":"query","description":"ID of file upload status","required":false,"type":"integer","format":"int32","default":2}],"responses":{"200":{"description":"Success","schema":{"properties":{"providers":{"type":"array","items":{"$ref":"#/definitions/object"}},"surveys":{"type":"array","items":{"$ref":"#/definitions/object"}}}}},"404":{"description":"No Submission found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/ao/approvals/reconciliations/{reconciliationId}":{"parameters":[],"put":{"tags":["ao-facilities"],"summary":"approve/reject pending reconciliation","description":"approve/reject pending reconciliation","parameters":[{"name":"reconciliationId","in":"path","description":"Id of reconciliation","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ApproveRejectReconciliation"}}],"responses":{"204":{"description":"Success","schema":{}},"404":{"description":"No reconciliation found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}}},"definitions":{"Providers":{"type":"array","items":{}},"Provider":{"type":"object","required":["name","providerTypeId","addresses"],"properties":{"id":{"type":"integer","format":"int64"},"legalProviderName":{"type":"string","description":"Provider name reported on  IRS."},"businessNameFlag":{"type":"boolean","description":"this flag determines legal provider name and doing Business Name fields are equal or not."},"name":{"type":"string","description":"provider name reported on CMS 855. This name is doing Business as name."},"providerTypeId":{"type":"integer","format":"int32","description":"Provider type ID"},"providerSubTypeId":{"type":["integer","null"],"format":"int32","description":"Provider sub type ID"},"providerStatusId":{"type":"integer","format":"int32","description":"Provider status"},"federalCertificationStatusId":{"type":"integer","format":"int32","description":"Provider federal certification status"},"medicaidId":{"type":"string","description":"Provider medicaid Id issued by state"},"ein":{"type":"string","description":"Provider Federal tax identification number known as the Employer Identification Number (EIN)"},"stateFacilityId":{"type":"string","description":"state facility Id issued by state"},"terminationDate":{"type":["string","null"],"description":"Date the provider was terminated"},"managementUnitId":{"type":"integer","format":"int32","description":"Provider management id"},"workUnitId":{"type":"integer","format":"int32","description":"Provider work unit id"},"createdAt":{"type":"string","description":"Provider's record created date"},"updatedAt":{"type":"string","description":"Provider's record updated date"},"administrators":{"type":"array","items":{"$ref":"#/definitions/Administrator"}},"addresses":{"type":"array","items":{"$ref":"#/definitions/Address"}},"contacts":{"type":"array","items":{"$ref":"#/definitions/Contact"}},"accreditation":{"type":"object","$ref":"#/definitions/Accreditation"},"operatingDetails":{"type":"object","$ref":"#/definitions/OperatingDetails"}}},"providerBasicInfo":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"legalProviderName":{"type":"string","description":"Provider name registered with IRS."},"businessNameFlag":{"type":"boolean","description":"this flag determines provider legal name and name fields equal or not."},"name":{"type":"string","description":"Provider name reported on CMS 855. this name is doing Business as Name."},"managementUnitId":{"type":["integer","null"],"format":"int32","description":"Provider management id"},"workUnitId":{"type":["integer","null"],"format":"int32","description":"Provider work unit id"},"address":{"type":"object","$ref":"#/definitions/Address"}}},"ProviderCertificationAndLicensure":{"type":"object","properties":{"medicaidId":{"type":"string","description":"Provider Medicaid Id - Number assigned to a provider by the state Medicaid agency for external control or billing purposes."},"ein":{"type":"string","description":"Provider Federal tax identification number known as the Employer Identification Number (EIN)"},"stateFacilityId":{"type":"string","description":"Provider state facility id issued by state"},"federalCertificationStatusId":{"type":["integer","null"],"description":"Provider federal certification status id"},"federalCertificationDate":{"type":["string","null"],"format":"date"},"isVoluntaryWithdrawal":{"type":["boolean","null"],"description":"Provider federal certificaton termination withdrawal type"},"terminationDate":{"type":["string","null"],"description":"Date the provider was terminated"},"originalParticipationDate":{"type":["string","null"],"description":"Provider's participation date"},"terminationReasonId":{"type":["integer","null"],"description":"Provider certification withdrawal termination reason id"},"stateLicensureTypeId":{"type":["integer","null"],"format":"int32","description":"Provider state licensure type ID"},"stateLicensureNumber":{"type":["string","null"]},"stateLicensureIssuedDate":{"type":["string","null"],"format":"date"},"stateLicensureEffectiveDate":{"type":["string","null"],"format":"date"},"stateLicensureExpirationDate":{"type":["string","null"],"format":"date"}}},"Administrator":{"type":"object","properties":{"id":{"type":["integer","null"],"format":"int64"},"firstName":{"type":["string","null"]},"lastName":{"type":["string","null"]},"middleInitial":{"type":["string","null"]},"addressLine1":{"type":["string","null"]},"addressLine2":{"type":["string","null"]},"city":{"type":["string","null"]},"zip":{"type":["string","null"]},"phoneNumber":{"type":["string","null"]},"faxNumber":{"type":["string","null"]},"email":{"type":["string","null"]},"startDate":{"type":["string","null"],"format":"date"},"endDate":{"type":["string","null"],"format":"date"},"licenseNumber":{"type":["string","null"]},"licenseExpirationDate":{"type":["string","null"],"format":"date"},"isPrimary":{"type":["boolean","null"]},"stateId":{"type":["integer","null"],"format":"int32"},"administratorTypeId":{"type":["integer","null"],"format":"int32"},"salutationId":{"type":["integer","null"],"format":"int32"},"providerId":{"type":["integer","null"],"format":"int32"}}},"Address":{"type":"object","properties":{"id":{"type":["integer","null"],"format":"int64"},"addressLine1":{"type":["string","null"]},"addressLine2":{"type":["string","null"]},"city":{"type":["string","null"]},"stateId":{"type":["integer","null"],"format":"int32"},"regionId":{"type":["integer","null"],"format":"int32"},"stateRegionId":{"type":["integer","null"],"format":"int32"},"county":{"type":["string","null"]},"zip":{"type":["string","null"]},"zip4":{"type":["string","null"]},"addressTypeId":{"type":["integer","null"],"format":"int32"},"isSameAsPrimaryAddress":{"type":["boolean","null"]}}},"Contact":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"contactTypeId":{"type":["integer","null"],"format":"int32"},"contactTitleTypeId":{"type":["integer","null"],"format":"int32"},"titleValue":{"type":"string"},"phoneNumber":{"type":"string"},"phoneNumberExt":{"type":"string"},"faxNumber":{"type":"string"},"website":{"type":"string"},"email":{"type":["string","null"]}}},"Accreditation":{"type":"object","required":["accreditorId","accreditationStatusId"],"properties":{"id":{"type":["integer","null"],"format":"int64"},"aoFacilityId":{"type":["string","null"]},"accreditationDate":{"type":["string","null"],"format":"date"},"expirationDate":{"type":["string","null"],"format":"date"},"initialAccreditationDate":{"type":["string","null"],"format":"date"},"isCmsNotified":{"type":["boolean","null"]},"cmsNotificationDate":{"type":["string","null"],"format":"date"},"roStatusDate":{"type":["string","null"],"format":"date"},"providerId":{"type":"integer","format":"int64"},"accreditorId":{"type":"integer","format":"int64"},"accreditationStatusId":{"type":"integer","format":"int32"},"accreditationRoStatusId":{"type":["integer","null"],"format":"int32"},"accreditationTerminationReasonId":{"type":["integer","null"],"format":"int32"},"accreditationWithdrawalReasonId":{"type":["integer","null"],"format":"int32"}}},"MacInformation":{"type":"object","required":["id","companyName"],"properties":{"id":{"type":"integer","format":"int64"},"companyName":{"type":"string"},"jurisdiction":{"type":"array","items":{"type":"string"}},"coverage":{"type":"string"},"workload":{"type":"string"},"phoneNumber":{"type":"string"},"website":{"type":"string"},"address":{"type":"object","$ref":"#/definitions/Address"},"macProviderTypes":{"type":"array","items":{"type":"integer","format":"int64"}}}},"RefMacs":{"type":"array","items":{"$ref":"#/definitions/MacInformation"}},"AccreditationStatus":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string","description":"Accreditation RO Status name"},"description":{"type":"string","description":"Accreditation RO Status dec"}}},"AccreditationRoStatuses":{"type":"array","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string","description":"Accreditation RO Status name"}}},"AccreditationWithdrawalReasons":{"type":"array","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string","description":"Accreditation Withdrawal Reason name"}}},"AccreditationTerminationReasons":{"type":"array","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string","description":"Accreditation Termination Reason name"}}},"ContactTypeList":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"type":{"type":"string"}}}},"ContactTitleTypeList":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"description":{"type":"string"}}}},"AccreditationStatusList":{"type":"array","items":{"$ref":"#/definitions/AccreditationStatus"}},"AccreditingOrganization":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"providerTypes":{"type":"array","items":{"properties":{"id":{"type":"integer","format":"int64"}}}}}},"AccreditingOrganizationList":{"type":"array","items":{"$ref":"#/definitions/AccreditingOrganization"}},"ProviderType":{"type":"object","required":["id","description","childType"],"properties":{"id":{"type":"integer","format":"int64"},"description":{"type":"string","description":"Provider Type Name"},"childType":{"type":"string","description":"Type of Children"},"children":{"type":"array","items":{"$ref":"#/definitions/ProviderSubType"}}}},"ProviderSubType":{"type":"object","required":["id","description"],"properties":{"id":{"type":"integer","format":"int64"},"description":{"type":"string","description":"Provider SubType Name"}}},"ProviderTypeResponse":{"type":"array","items":{"$ref":"#/definitions/ProviderType"}},"ProviderSubTypeResponse":{"type":"array","items":{"$ref":"#/definitions/ProviderSubType"}},"SingleProviderType":{"type":"object","required":["providerTypeId"],"properties":{"providerTypeId":{"type":"integer","description":"Provider Type ID"},"code":{"type":"string","description":"Provider Type Code"},"name":{"type":"string","description":"Provider Type Name"},"description":{"type":"string","description":"Provider Type Description"}}},"SingleProviderSubType":{"type":"object","required":["providerSubTypeId"],"properties":{"providerSubTypeId":{"type":"integer","description":"Provider SubType ID"},"code":{"type":"string","description":"Provider SubType Code"},"name":{"type":"string","description":"Provider SubType Name"},"description":{"type":"string","description":"Provider SubType Description"}}},"ProviderTypeAndSubType":{"type":"object","properties":{"providerType":{"type":"object","$ref":"#/definitions/SingleProviderType"},"providerSubType":{"type":"object","$ref":"#/definitions/SingleProviderSubType"}}},"UserAccessableProviderTypesResponse":{"type":"array","items":{"$ref":"#/definitions/ProviderTypeAndSubType"}},"ProviderSectionsResponse":{"type":"array","items":{"$ref":"#/definitions/ProviderSection"}},"ProviderSection":{"type":"object","required":["providerTypeId"],"properties":{"providerTypeId":{"type":"integer","format":"int32"},"providerSubTypeId":{"type":"integer","format":"int32"},"sections":{"type":"array","items":{"$ref":"#/definitions/Section"}}}},"Section":{"type":"object","required":["id","description"],"properties":{"id":{"type":"integer","format":"int32"},"description":{"type":"string"}}},"StateLicensureType":{"type":"object","required":["id","description"],"properties":{"id":{"type":"integer","format":"int32"},"code":{"type":"string","description":"State Licensure Type code"},"description":{"type":"string","description":"State Licensure Type description"}}},"StateLicensureTypeResponses":{"type":"array","items":{"$ref":"#/definitions/StateLicensureType"}},"ProviderLicense":{"type":"object","required":["licenseNumber"],"properties":{"licenseTypeId":{"type":["integer","null"],"format":"int32","description":"Provider License type ID"},"licenseNumber":{"type":"string"},"issuedDate":{"type":"string","format":"date"},"effectiveDate":{"type":"string","format":"date"},"expirationDate":{"type":"string","format":"date"}}},"OperatingStatus":{"type":"object","required":["id","name"],"properties":{"id":{"type":"integer","format":"int32"},"code":{"type":"string","description":"operating Status code"},"name":{"type":"string","description":"operating Status name"},"description":{"type":"string","description":"operating Status Long dec"}}},"OperatingStatusList":{"type":"array","items":{"$ref":"#/definitions/OperatingStatus"}},"AddressType":{"type":"array","items":{"properties":{"id":{"type":"integer","format":"int32"},"code":{"type":"string","description":"operating Status code"},"name":{"type":"string","description":"operating Status name"},"description":{"type":"string","description":"operating Status Long dec"}}}},"OperatingDetails":{"type":"object","properties":{"operatingStatusId":{"type":"integer","format":"int32","description":"Provider operating Status"},"dateOpened":{"type":["string","null"],"format":"date"},"insuranceExpirationDate":{"type":["string","null"],"format":"date"},"fiscalYearEndMonth":{"type":"integer","format":"int32"},"hasSpecialOperatingHours":{"type":"integer","format":"int32"},"specialOperatingHours":{"type":"string"}}},"BranchType":{"type":"object","required":["id","description"],"properties":{"id":{"type":"integer","format":"int32"},"code":{"type":"string","description":"Branch Type code"},"name":{"type":"string","description":"Branch Type name"},"description":{"type":"string","description":"Branch Type description"}}},"Salutation":{"type":"object","required":["id","name"],"properties":{"id":{"type":"integer","format":"int32"},"code":{"type":"string","description":"Salutation code"},"name":{"type":"string","description":"Salutation name"},"description":{"type":"string","description":"Salutation description"}}},"AdministratorType":{"type":"object","required":["id","name"],"properties":{"id":{"type":"integer","format":"int32"},"code":{"type":"string","description":"Salutation code"},"name":{"type":"string","description":"Salutation name"},"description":{"type":"string","description":"Salutation description"},"providerTypeIds":{"type":"array","items":{"type":"integer","format":"int64"}}}},"Branch":{"type":"object","required":["isOpen","name","addressLine1","city","stateId","zip"],"properties":{"id":{"type":["integer","null"],"format":"int64"},"name":{"type":["string"]},"isOpen":{"type":"boolean"},"openDate":{"type":["string","null"],"format":"date"},"closeDate":{"type":["string","null"],"format":"date"},"branchSequence":{"type":["string","null"]},"branchCcn":{"type":["string","null"]},"branchTypeId":{"type":["integer","null"],"format":"int32","description":"Branch type ID"},"addressLine1":{"type":["string"]},"addressLine2":{"type":["string","null"]},"city":{"type":["string"]},"stateId":{"type":["integer"],"format":"int32"},"county":{"type":["string","null"]},"zip":{"type":["string"]}}},"BranchResponse":{"type":"object","required":["results","count","numPages","page","offset","limit"],"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/Branch"}},"count":{"description":"total results from filter","type":"number","format":"int32"},"numPages":{"type":"number","format":"int32"},"page":{"type":"number","format":"int32"},"offset":{"type":"number","format":"int32"},"limit":{"type":"number","format":"int32"}}},"ProviderStatus":{"type":"object","required":["id","name"],"properties":{"id":{"type":"integer","format":"int32"},"code":{"type":"string","description":"Provider status code"},"name":{"type":"string","description":"Provider status name"},"description":{"type":"string","description":"Provider status description"}}},"Attachment":{"properties":{"id":{"type":"integer","format":"int64"},"originalFileName":{"type":"string"},"attachmentDesc":{"type":"string"},"s3Location":{"type":"string"},"fileSize":{"type":"string"},"providerId":{"type":"integer","format":"int64"},"surveyId":{"type":"integer","format":"int64"},"citationId":{"type":"integer","format":"int64"},"intakeId":{"type":"integer","format":"int64"},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date"}}},"SignedUrl":{"type":"object","required":["signedUrl"],"properties":{"signedUrl":{"type":"string"}}},"FederalCertificationStatus":{"type":"object","required":["id","name"],"properties":{"id":{"type":"integer","format":"int32"},"code":{"type":"string","description":"Federal certification status code"},"name":{"type":"string","description":"Federal certification status name"},"description":{"type":"string","description":"Federal certification status description"},"nextStatusIds":{"type":"array","description":"array of next status Id","items":{"type":"integer","format":"int64"}}}},"TerminationReason":{"type":"object","required":["id","name"],"properties":{"id":{"type":"integer","format":"int32"},"code":{"type":"string","description":"Federal certification termination reason code"},"name":{"type":"string","description":"Federal certification termination reason name"},"description":{"type":"string","description":"Federal certification termination reason description"},"voluntary":{"type":"boolean","description":"Federal certification termination reason is voluntary"}}},"AoUpload":{"required":["fileName","dataObject","isAoFileUpload"],"properties":{"id":{"type":"integer","format":"int64"},"fileName":{"type":"string","description":"file name"},"dataObject":{"type":"object","description":"parsed facilities csv file tables"},"isAoFileUpload":{"type":"boolean"},"totalRecords":{"type":"integer","format":"int32"},"aoFileUploadStatusId":{"type":"integer","format":"int32"}}},"AoProviderReconciliation":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"matchPercentage":{"type":"integer","format":"int32"},"providerId":{"type":"integer","format":"int32"},"name":{"type":"string"},"legalProviderName":{"type":"string"},"businessNameFlag":{"type":"integer","format":"int32"},"ccnId":{"type":"string"},"providerTypeId":{"type":"integer","format":"int32"},"providerAddressesId":{"type":"integer","format":"int32"},"addressTypeId":{"type":"integer","format":"int32"},"addressLine1":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"stateId":{"type":"integer","format":"int32"},"zip":{"type":"integer","format":"int32"}}},"AoProviderReconciliationList":{"type":"object","required":["results"],"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/AoProviderReconciliation"}},"sortBy":{"type":"string"},"sortDir":{"type":"string"}}},"AoReconciliationPendingApproval":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"aoDataUploadId":{"type":"integer","format":"int32"},"matchPercentage":{"type":"integer","format":"int32"},"aoProviderMatchStatusId":{"type":"integer","format":"int32"},"aoProviderRowId":{"type":"integer","format":"int32"},"name":{"type":"string"},"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"zip":{"type":"integer","format":"int32"},"ccn":{"type":"string"},"createdAt":{"type":"string"},"accreditorName":{"type":"string"}}},"AoReconciliationPendingApprovalList":{"type":"object","required":["results"],"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/AoReconciliationPendingApproval"}},"sortBy":{"type":"string"},"sortDir":{"type":"string"}}},"ApproveRejectReconciliation":{"required":["reconciliationStatusId"],"properties":{"reconciliationStatusId":{"type":"integer"}}},"ReferenceData":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string","description":"name"},"description":{"type":"string","description":"description"}}},"ReferenceDataList":{"type":"array","items":{"$ref":"#/definitions/ReferenceData"}},"PingResponse":{"required":["message"],"properties":{"message":{"type":"string"}}},"ErrorResponse":{"required":["message"],"properties":{"message":{"type":"string"}}},"NotFoundResponse":{"required":["message"],"properties":{"message":{"type":"string"}}}},"tags":[{"name":"provider"},{"name":"license"},{"name":"administrator"},{"name":"public"},{"name":"health-check"},{"name":"operating-details"},{"name":"mac"},{"name":"federal certification termination reasons"},{"name":"federal certification"},{"name":"contact"},{"name":"branch"},{"name":"ao-facilities"},{"name":"accreditation"},{"name":"attachments"}]}