{"swagger":"2.0","info":{"version":"0.0.2","title":"iQIES Regulation Service","description":"The regualation microservice provides regulation data"},"x-service":"Regulations","host":"regulation.service.consul:32772","basePath":"","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/v1/regulationSets":{"parameters":[],"get":{"tags":["regulationSets"],"summary":"get a list of regulation sets","description":"get a list of regulation sets. Query by isCurrent, providerTypeId, or surveyTypeId","parameters":[{"name":"isCurrent","in":"query","description":"isCurrent used to filter regularion sets","type":"boolean"},{"name":"isFed","in":"query","description":"isFed boolean filter on regulation sets. if this param value it ture, all federal regulation sets will be returned.","type":"boolean"},{"name":"providerTypeId","in":"query","description":"providerTypeId used to filter regularion sets","type":"integer","format":"int64"},{"name":"surveyTypeId","in":"query","description":"surveyTypeId used to filter regularion sets","type":"integer","format":"int64"},{"name":"regulationSetIds","in":"query","description":"array of regulationSetIds to return in search results.","type":"array","items":{"type":"integer"}},{"name":"isAo","in":"query","description":"isAo boolean filter on regulation sets","type":"boolean"},{"name":"stateId","in":"query","description":"stateId used to filter regularion sets. if isFed search param is true along with stateId param, results will contain federal regulation sets and state regulation sets.","type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/RegSet"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/regulations":{"parameters":[],"post":{"tags":["regulation-referenceData"],"summary":"fetch list of regulations","description":"fetch list of regulations","parameters":[{"name":"body","in":"body","description":"Regulation body","required":true,"schema":{"type":"object","required":["providerTypeId"],"properties":{"providerTypeId":{"type":"integer","format":"int64","description":"Provider type id"},"surveyTypeId":{"type":"integer","format":"int64","description":"Survey type id"},"regulationIds":{"type":"array","items":{"type":"integer","format":"int64"},"description":"regulation IDs"},"regulationSetIds":{"type":"array","items":{"type":"integer","format":"int64"},"description":"array of regulation set Id"},"regulationReferenceIds":{"type":"array","items":{"type":"integer","format":"int64"},"description":"array of regulation reference Id"},"tagTypeId":{"type":"integer","format":"int64","description":"Tag Type"},"isAo":{"type":"boolean","description":"isAo boolean filter on regulation sets"},"includeRegText":{"type":"boolean","description":"flag to check if search needs to expand and include regulation text in search"},"keyword":{"type":"string","description":"keyword to search on tagNumber,TagTitle & cfr section fields."},"offset":{"type":"integer","format":"int64","description":"Starting point for results"},"limit":{"type":"integer","format":"int64","description":"Results per Page"}}}}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/RegulationList"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/pingDb":{"parameters":[],"get":{"description":"db connection health check endpoint","summary":"db connection health check endpoint","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}}}},"/v1/ping":{"parameters":[],"get":{"description":"health check endpoint","summary":"health check endpoint","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}}}},"/v1/aoCfrMappings":{"parameters":[],"post":{"tags":["regulation-referenceData"],"summary":"fetch list of aoCfrMappings","description":"fetch list of aoCfrMappings","parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/AoCfrMappingRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AoCfrMappingList"}},"400":{"description":"Bad request.","schema":{"$ref":"#/definitions/ErrorResponse"}}}}}},"definitions":{"ErrorResponse":{"required":["message"],"properties":{"message":{"type":"string"}}},"RegSet":{"properties":{"id":{"type":"integer","format":"int64"},"effectiveDate":{"type":"string","format":"date"},"isFed":{"type":"boolean"},"title":{"type":"string"},"version":{"type":"string"},"isCurrent":{"type":"boolean"}}},"RegulationList":{"required":["tag"],"properties":{"id":{"type":"integer","format":"int64"},"tagCode":{"type":"string"},"tagTitle":{"type":"string"},"interpretiveGuideLine":{"type":"string"},"regulationText":{"type":"string"},"cfrName":{"type":"string"},"cfrTitle":{"type":"string"},"tagTypeName":{"type":"string"},"tagTypeDescription":{"type":"string"},"allowedRegulationReferenceId":{"type":"integer","format":"int64"},"regulationSetId":{"type":"integer","format":"int64"},"regulationSetTitle":{"type":"string"},"regulationSetIsFed":{"type":"boolean"},"regulationSetIsVersion":{"type":"string"},"regulationSetLetter":{"type":"string"}}},"AoCfrMappingRequest":{"required":["aoCfrIds","providerTypeId","surveyTypeIds","tagTypeIds"],"properties":{"aoCfrIds":{"description":"cfr IDs","type":"array","items":{"type":"integer"}},"providerTypeId":{"description":"providerType ID","type":"integer"},"surveyTypeIds":{"description":"surveyType IDs","type":"array","items":{"type":"integer"}},"tagTypeIds":{"description":"tagType IDs","type":"array","items":{"type":"integer"}}}},"AoCfrMapping":{"type":"object","properties":{"regulationId":{"type":"integer","format":"int32"},"cfrId":{"type":"integer","format":"int32"},"isAo":{"type":"boolean"},"isCurrent":{"type":"boolean"},"tagTypeId":{"type":"integer","format":"int32"},"tagTypeDescription":{"type":"string"},"allowedRegulationReferenceId":{"type":"integer","format":"int32"},"providerTypeId":{"type":"integer","format":"int32"},"surveyTypeId":{"type":"integer","format":"int32"}}},"AoCfrMappingList":{"type":"object","required":["results"],"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/AoCfrMapping"}}}},"PingResponse":{"required":["message"],"properties":{"message":{"type":"string"}}}},"tags":[{"name":"regulationSets"},{"name":"regulation-referenceData"}]}