{"swagger":"2.0","info":{"version":"0.0.2","title":"iQIES Report Generation Service","description":"This service provides a list of frequently run reports by user, generates reports in html, pdf, and csv."},"x-service":"reportgeneration","host":"reportgeneration.service.consul:32768","basePath":"","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/freq-run-reports":{"get":{"description":"Retrieves the most frequently reports that are run by a user","parameters":[{"name":"userId","required":false,"in":"query","type":"integer","description":"User ID for frequent reports to return","default":1},{"name":"num","required":false,"in":"query","type":"integer","description":"Number of frequent reports to return","default":10,"minimum":1,"maximum":10},{"name":"sortBy","in":"query","description":"An enum of various sorters.","type":"string","enum":["modifiedDate","name","category","id"]},{"name":"sortDir","in":"query","description":"An enum of sort directions in reference to 'sortBy'.","type":"string","enum":["asc","desc"]},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer"},{"name":"offset","in":"query","description":"offset.","type":"integer"},{"name":"pageNumber","in":"query","description":"pageNumber","type":"integer"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/GetFreqReportsSuccess"}},"204":{"description":"The operation returned no data"},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["Report Generation Frequent"]}},"/generate-html-report/{reportId}/{key}":{"get":{"summary":"Generate HTML Report","description":"Generate a html report and log the report","produces":["text/html"],"parameters":[{"name":"reportId","required":true,"in":"path","type":"integer","description":"Id for report"},{"name":"key","required":true,"in":"path","type":"string","description":"Key for data cache"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/GenerateReportSuccess"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["HTML Report Generation"]}},"/generate-csv-report/{reportId}/{key}":{"get":{"summary":"Generate a csv report","description":"Generate a csv report and log the report","produces":["text/csv"],"parameters":[{"name":"reportId","required":true,"in":"path","type":"integer","description":"Id for report"},{"name":"key","required":true,"in":"path","type":"string","description":"Key for data cache"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/GenerateReportSuccess"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["CSV Report Generation"]}},"/generate-csv-from-s3/{reportId}/{key}":{"get":{"summary":"Generate a csv report from S3","description":"Generate a csv report and log the report","produces":["text/csv"],"parameters":[{"name":"reportId","required":true,"in":"path","type":"integer","description":"Id for report"},{"name":"key","required":true,"in":"path","type":"string","description":"Key for data cache"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/GenerateReportSuccess"}},"204":{"description":"The operation returned no data"},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["CSV Report Generation"]}},"/generate-pdf-from-s3/{reportId}/{key}":{"get":{"summary":"Generate a pdf report from S3","description":"Generate a pdf report and log the report","produces":["application/pdf"],"parameters":[{"name":"reportId","required":true,"in":"path","type":"integer","description":"Id for report"},{"name":"key","required":true,"in":"path","type":"string","description":"Key for data cache"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/GenerateReportSuccess"}},"204":{"description":"The operation returned no data"},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["PDF Report Generation"]}},"/save-to-myreports":{"post":{"summary":"Saves Report","description":"Saves Report to My Reports","parameters":[{"name":"report","required":true,"in":"body","schema":{"type":"object","required":["reportId"],"properties":{"reportId":{"type":"integer"},"dataKey":{"type":"string"}}}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SaveReportSuccess"}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["HTML Report Generation"]}},"/get-report-data":{"post":{"summary":"Generate Report Data","description":"Cache the report data","produces":["text/json"],"parameters":[{"name":"report","required":true,"in":"body","schema":{"type":"object","required":["reportId","userId","filters"],"properties":{"reportId":{"type":"integer"},"userId":{"type":"integer"},"filters":{"type":"object"}}}}],"responses":{"200":{"description":"Success","schema":{"properties":{"key":{"type":"string"}}}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["HTML Report Generation"]},"get":{"summary":"Generate Report Data","description":"Return cached data","produces":["text/json"],"parameters":[{"name":"key","required":true,"in":"query","type":"string","description":"Key for data cache"},{"name":"limit","required":false,"in":"query","type":"integer","description":"Max number of rows to return"},{"name":"page","required":false,"in":"query","type":"integer","default":1,"description":"Page of results to return"},{"name":"sortBy","required":false,"in":"query","type":"string","description":"Column of data to sort by"},{"name":"sortDir","required":false,"in":"query","type":"string","description":"Sort direction"},{"name":"filterCol","required":false,"in":"query","type":"string","description":"Filter on column"},{"name":"filterVal","required":false,"in":"query","type":"string","description":"Filter on column"}],"responses":{"200":{"description":"Success","schema":{"properties":{"dataSet":{"type":"array","items":{"type":"object"}},"headers":{"type":"array","items":{"type":"object"}},"filters":{"type":"array","items":{"type":"object"}}}}},"default":{"description":"Error","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["HTML Report Generation"]}},"/ping":{"x-swagger-router-controller":"healthcheck","get":{"summary":"Service Ping","description":"Provides a health check ping for this service.","operationId":"ping","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}},"tags":["Utility"]}},"/pingDb":{"x-swagger-router-controller":"healthcheck","get":{"summary":"Database Ping","description":"Provides a health check ping for the database behind service.","operationId":"pingDb","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}},"tags":["Utility"]}},"/swagger":{"x-swagger-pipe":"swagger_raw"},"/v1/update-report-log":{"parameters":[]},"/v1/submission-check":{"parameters":[]},"/v1/save-to-myreports":{"parameters":[]},"/v1/pingDb":{"parameters":[]},"/v1/ping":{"parameters":[]},"/v1/pdfs":{"parameters":[]},"/v1/get-report-logs":{"parameters":[]},"/v1/get-report-data":{"parameters":[]},"/v1/freq-run-reports":{"parameters":[]},"/v1/add-report-log":{"parameters":[]},"/v1/pdfs/{documentId}/progress":{"parameters":[]},"/v1/pdfs/{documentId}/document":{"parameters":[]},"/v1/pdfs/{documentId}":{"parameters":[]},"/v1/get-metadata/csv/{reportId}":{"parameters":[]},"/v1/generate-csv-report/{reportId}/{dataKey}":{"parameters":[]},"/v1/generate-csv-from-s3/{reportId}/{key}":{"parameters":[]}},"definitions":{"GenerateReportSuccess":{"properties":{"status":{"type":"string"}}},"SaveReportSuccess":{"properties":{"id":{"type":"integer"},"reportId":{"type":"integer"},"fileName":{"type":"string"},"s3ManifestKey":{"type":"string"},"s3FlatFileName":{"type":"string"},"parentId":{"type":"integer"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"GetDataSuccess":{"properties":{"status":{"type":"string"}}},"GetSubmissionCheckSuccess":{"required":["message"],"properties":{"message":{"type":"string"}}},"GetFreqReportsSuccess":{"type":"array","items":{"type":"object","properties":{"modifiedDate":{"type":"string"},"name":{"type":"string"},"category":{"type":"string"},"id":{"type":"string"}}}},"ErrorResponse":{"required":["message"],"properties":{"message":{"type":"string"}}},"PingResponse":{"required":["message"],"properties":{"message":{"type":"string"}}}}}
