{"swagger":"2.0","info":{"version":"0.0.2","title":"iQIES Report Scheduler Service","description":"This service will help in scheduling report jobs"},"x-service":"template","host":"reportscheduler.service.consul:32769","basePath":"","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/v1/schedule-now":{"parameters":[],"post":{"summary":"Add a new schedule to run now","description":"This adds a new schedule to run now.","parameters":[{"name":"schedule","in":"body","required":true,"schema":{"$ref":"#/definitions/schedule_create_now"}}],"responses":{"201":{"description":"Success","schema":{"type":"object","required":["id"],"properties":{"id":{"type":"number","format":"int64"}}}},"500":{"description":"Errored","schema":{"$ref":"#/definitions/error"}}},"tags":["schedules"]}},"/v1/schedule-log":{"parameters":[],"get":{"summary":"Get All schedule Log","description":"This returns all the schedule Log.","parameters":[{"name":"sortBy","in":"query","description":"An enum of various sorters.","type":"string","enum":["name","reportName","reportCategory","nextScheduledDate"]},{"name":"sortDir","in":"query","description":"An enum of sort directions in reference to 'sortBy'.","type":"string","enum":["asc","desc"]},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer"},{"name":"offset","in":"query","description":"offset.","type":"integer"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/schedule_log_all"}},"500":{"description":"Success","schema":{"$ref":"#/definitions/error"}}},"tags":["schedules"]}},"/v1/schedule":{"parameters":[],"get":{"summary":"Get All schedules","description":"This returns all the schedules.","parameters":[{"name":"sortBy","in":"query","description":"An enum of various sorters.","type":"string","enum":["name","reportName","reportCategory","nextScheduledDate","status"]},{"name":"sortDir","in":"query","description":"An enum of sort directions in reference to 'sortBy'.","type":"string","enum":["asc","desc"]},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer"},{"name":"offset","in":"query","description":"offset.","type":"integer"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/schedule_all"}},"500":{"description":"Success","schema":{"$ref":"#/definitions/error"}}},"tags":["schedules"]},"post":{"summary":"Add a new schedule","description":"This adds a new schedule.","parameters":[{"name":"schedule","in":"body","required":true,"schema":{"$ref":"#/definitions/schedule_create"}}],"responses":{"201":{"description":"Success","schema":{"type":"object","required":["id"],"properties":{"id":{"type":"number","format":"int64"}}}},"500":{"description":"Errored","schema":{"$ref":"#/definitions/error"}}},"tags":["schedules"]}},"/v1/run-tasks":{"parameters":[],"post":{"summary":"Add a new schedule","description":"This adds a new schedule.","responses":{"200":{"description":"Success"},"500":{"description":"Errored","schema":{"$ref":"#/definitions/error"}}},"tags":["runTasks"]}},"/v1/report-query":{"parameters":[],"post":{"summary":"Report Query","description":"Return report query based on the task","parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/schedule_all"}},"500":{"description":"Errored","schema":{"$ref":"#/definitions/error"}}},"tags":["query"]}},"/v1/pingDb":{"parameters":[],"get":{"description":"db connection health check endpoint","operationId":"pingDb","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ping"}},"500":{"description":"Failed","schema":{"$ref":"#/definitions/error"}}},"tags":["Utility"]}},"/v1/ping":{"parameters":[]},"/v1/healthcheck":{"parameters":[]},"/v1/complete-task":{"parameters":[]},"/v1/schedules/{jobId}":{"parameters":[],"get":{"summary":"Get a scheduled Job","description":"Get a scheduled Job","parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/schedule"}},"204":{"description":"Success","schema":{"$ref":"#/definitions/status"}},"500":{"description":"Success","schema":{"$ref":"#/definitions/error"}}},"tags":["query"]}},"/v1/query/{taskId}":{"parameters":[],"get":{"summary":"Report Query","description":"Return report query based on the task","parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/schedule_all"}},"204":{"description":"No Data","schema":{"$ref":"#/definitions/schedule_all"}},"500":{"description":"Success","schema":{"$ref":"#/definitions/error"}}},"tags":["query"]}},"/v1/cancelJob/{jobId}":{"parameters":[],"post":{"summary":"Cancel Job","description":"Cancel Job","parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/status"}},"204":{"description":"No Data","schema":{"$ref":"#/definitions/status"}},"500":{"description":"Success","schema":{"$ref":"#/definitions/error"}}},"tags":["query"]}}},"definitions":{"schedule":{"required":["id","name"],"properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"reportName":{"type":"string"},"reportCategory":{"type":"string"},"status":{"type":"string"},"nextScheduledDate":{"type":"string"},"scheduleDetails":{"type":"object","items":{"$ref":"#/definitions/schedule-details"}},"filters":{"type":"string"}}},"schedule_log":{"required":["id","reportName"],"properties":{"id":{"type":"integer","format":"int64"},"reportSchedulerJobId":{"type":"integer","format":"int64"},"reportName":{"type":"string"},"reportCategory":{"type":"string"},"status":{"type":"string"},"scheduledDate":{"type":"string"},"errorMessage":{"type":"string"}}},"schedule_details":{"required":["repeatType"],"properties":{"repeatType":{"type":"string"},"beginDate":{"type":"string"},"endDate":{"type":"string"},"runDate":{"type":"string"},"runTime":{"type":"string"},"weekDays":{"type":"array","items":{"type":"string"}},"months":{"type":"array","items":{"type":"string"}},"dayOfMonth":{"type":"number","format":"int64"}}},"schedule_create":{"required":["name"],"properties":{"id":{"type":"number","format":"int64"},"name":{"type":"string"},"reportId":{"type":"number","format":"int64"},"reportName":{"type":"string"},"reportCategory":{"type":"string"},"filters":{"type":"object"},"scheduleDetails":{"type":"object","items":{"$ref":"#/definitions/schedule-details"}}}},"schedule_create_now":{"required":["name","reportId"],"properties":{"reportId":{"type":"number","format":"int64"},"reportName":{"type":"string"},"reportCategory":{"type":"string"},"filters":{"type":"object"}}},"schedule_all":{"type":"object","required":["results","limit","count","pages","pageNumber"],"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/schedule"}},"limit":{"type":"number","format":"int64"},"count":{"type":"number","format":"int64"},"pages":{"type":"number","format":"int64"},"pageNumber":{"type":"number","format":"int64"}}},"schedule_log_all":{"type":"object","required":["results","limit","count","pages","pageNumber"],"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/schedule_log"}},"limit":{"type":"number","format":"int64"},"count":{"type":"number","format":"int64"},"pages":{"type":"number","format":"int64"},"pageNumber":{"type":"number","format":"int64"}}},"status":{"required":["message"],"properties":{"message":{"type":"string"}}},"ping":{"required":["message"],"properties":{"message":{"type":"string"}}},"error":{"required":["message"],"properties":{"message":{"type":"string"}}}},"tags":[{"name":"schedules"},{"name":"runTasks"},{"name":"query"},{"name":"Utility"}]}
