{"swagger":"2.0","info":{"version":"0.0.2","title":"iQIES Survey Service","description":"The survey microservice provides survey data gathered by surveyors on health providers of various kinds throughout the country. \n The surveys are performed for various reasons such as complaints, re-certifications, and more."},"x-service":"surveys","host":"survey-8080.service.consul:32770","basePath":"","schemes":["http"],"securityDefinitions":{"Bearer":{"type":"apiKey","name":"Authorization","in":"header"}},"consumes":["application/json"],"produces":["application/json"],"paths":{"/v1/types":{"parameters":[],"get":{"description":"get all survey types","parameters":[{"name":"isAo","in":"query","description":"flag to retrieve Ao survey Types","type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SurveyRefDataResponse"}}}}},"/v1/tasks":{"parameters":[],"get":{"description":"get all survey task list","operationId":"get tasks","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SurveyRefDataResponse"}}}}},"/v1/surveys":{"parameters":[],"get":{"description":"get all surveys","summary":"get all surveys","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"offset","in":"query","description":"Starting point for results","type":"integer","default":0},{"name":"limit","in":"query","description":"Results per Page","type":"integer"},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"exitDate","enum":["exitDate","id","surveyEventIdCode","surveyType","surveyCategory","status","latestExitDate","startDate"]},{"name":"providerId","in":"query","type":"number","format":"int32","required":true},{"name":"beginDate:","description":"Filter survey having exit date greater or equal to begin date","in":"query","type":"string","format":"date"},{"name":"endDate:","description":"Filter survey having exit date less or equal to end date","in":"query","type":"string","format":"date"},{"name":"surveyTypeIds","description":"Array of survey Type Id","in":"query","type":"array","items":{"type":"integer"}},{"name":"surveyCategoryIds","description":"survey Category Ids","in":"query","type":"array","items":{"type":"integer"}},{"name":"regulationSetIds","description":"Array of regulationSetAllowedIds","in":"query","type":"array","items":{"type":"integer"}},{"name":"immediateJeopardy","in":"query","type":"string","enum":["yes","no","both"]},{"name":"excludeFutureSurveys","in":"query","description":"Future surveys for disallowed users will have most of their data stripped. This flag will remove these future surveys from the results if the UI doesnt require their (limited) info","type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SurveyCollection"}}}},"post":{"description":"create new survey","summary":"create new survey","parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateSurvey"}}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/CreateSurveyResponse"}},"400":{"description":"Bad request.","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/survey-citation-attachments":{"parameters":[],"get":{"description":"get all survey and citation attachments by providerId","summary":"get all survey and citation attachments by providerId.","parameters":[{"name":"providerId","in":"query","description":"Id of provider","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/Attachment"}}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/status":{"parameters":[],"get":{"description":"get all survey statuses","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SurveyRefDataResponse"}}}}},"/v1/revisit-status":{"parameters":[],"get":{"description":"get all survey revisit statuses","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SurveyRefDataResponse"}}}}},"/v1/provider-classifications":{"parameters":[],"get":{"description":"get all mapping of Provider Type - Survey Type - Survey Category","summary":"get all mapping of Provider Type - Survey Type - Survey Category","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ProviderClassificationResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/pocStatuses":{"parameters":[],"get":{"description":"get all POC statuses","tags":["poc"],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/RefData"}}}}}},"/v1/pingDb":{"parameters":[],"get":{"description":"db connection health check endpoint","summary":"db connection health check endpoint","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}}}},"/v1/ping":{"parameters":[],"get":{"description":"health check endpoint","summary":"health check endpoint","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}}}},"/v1/classifications":{"parameters":[],"get":{"description":"get all survey classifications","operationId":"get classification","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SurveyRefDataResponse"}}}}},"/v1/citationStatus":{"parameters":[],"get":{"description":"get all citation status list","operationId":"get citationStatusTypes","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SurveyRefDataResponse"}}}}},"/v1/categories":{"parameters":[],"get":{"description":"get all survey categories","parameters":[{"name":"isAo","in":"query","description":"flag to retrieve Ao categories","type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/SurveyCategory"}}}}}},"/v1/ao/surveys":{"parameters":[],"post":{"description":"create new Ao survey","tags":["Ao-Survey"],"summary":"create new Ao survey","parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateAoSurvey"}}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/CreateSurveyResponse"}},"400":{"description":"Bad request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/ao/submissions":{"parameters":[],"post":{"description":"validate and submit AO uploaded surveys when RO approves facility.","summary":"validate and submit Ao uploaded surveys when Ro approves facility","tags":["Ao-Survey"],"parameters":[{"name":"body","in":"body","required":true,"schema":{"properties":{"aoSurveys":{"type":"array","description":"parsed surveys from AO csv file uploads"}}}},{"name":"businessValidations","in":"query","description":"flag to execute only business rule validations.","type":"boolean"}],"responses":{"200":{"description":"ao submission business validations performed","schema":{}},"201":{"description":"ao survey created successfully.","schema":{}},"400":{"description":"invalid request","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/ao-triage-levels":{"parameters":[],"get":{"description":"get all Ao Triage level list","tags":["Ao-Survey"],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/RefData"}}}}}},"/v1/ao-survey-requestTypes":{"parameters":[],"get":{"description":"get all Ao survey request types","tags":["Ao-Survey"],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/RefData"}}}}}},"/v1/ao-finalOutCome-accreditationStatuses":{"parameters":[],"get":{"description":"get all Ao final outcome accreditation statuses","tags":["Ao-Survey"],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/RefData"}}}}}},"/v1/ao-extended-accreditationStatuses":{"parameters":[],"get":{"description":"get all Ao extended accreditation statuses","tags":["Ao-Survey"],"parameters":[{"name":"isActive","in":"query","description":"flag to retrieve active accreditation Decisions","type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/RefData"}}}}}},"/v1/ao-correction-methods":{"parameters":[],"get":{"description":"get all Ao Correction Methods","tags":["Ao-Survey"],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/RefData"}}}}}},"/v1/ao-accreditation-decisions":{"parameters":[],"get":{"description":"get all Ao accreditation Decisions","tags":["Ao-Survey"],"parameters":[{"name":"isActive","in":"query","description":"flag to retrieve active accreditation Decisions","type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/RefData"}}}}}},"/v1/types/{id}":{"parameters":[],"get":{"description":"get survey type by id","summary":"get survey type by id","parameters":[{"name":"id","in":"path","description":"ID of survey type to return","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SurveyRefData"}}}}},"/v1/surveys/{surveyId}/time-card/{timeCardId}":{"parameters":[],"get":{"summary":"get survey team member time card by id","description":"get survey team member time card by id","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"timeCardId","in":"path","description":"ID of survey TimeCard","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SurveyTimeCard"}}}},"delete":{"summary":"delete survey team member time card by id","description":"delete survey team member time card by id","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"timeCardId","in":"path","description":"ID of survey TimeCard","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{}}}},"put":{"summary":"update survey team member's time card","description":"update survey team member's time card","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"timeCardId","in":"path","description":"ID of survey TimeCard","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/SurveyTimeCard"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SurveyTimeCard"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No team member found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/time-card":{"parameters":[],"post":{"summary":"update survey team member's time card","description":"update survey team member's time card","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/SurveyTimeCard"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SurveyTimeCard"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No team member found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"get":{"summary":"get survey team member time cards","description":"get survey team member time cards","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/SurveyTimeCard"}}}}}},"/v1/surveys/{surveyId}/team-members/{teamMemberId}":{"parameters":[],"put":{"description":"updates teamCoordinator or updates member arrival departure dates based on the request.","summary":"updates team coordinator  or update member arrival departure dates based on query parm flag","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"teamMemberId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"isSurveyCoordinator":{"type":"boolean","default":false,"description":"This flag is true if survey team member is coordinator"},"arrivalDate":{"type":"string","description":"Servy Team Member arrival date for survey"},"departureDate":{"type":"string","description":"Servy Team Member departure date for survey"}}}}],"responses":{"200":{"description":"Success","schema":{}},"304":{"description":"Team Member Not updated ","schema":{"$ref":"#/definitions/ErrorResponse"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No Team Member found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"delete":{"summary":"remove team member from survey team","description":"remove team member from survey team","operationId":"removeMemberFromSurveyTeam","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"teamMemberId","in":"path","description":"ID of team member","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"Success","schema":{}},"404":{"description":"No Team Member found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"get":{"description":"get team member of a survey","summary":"get team member of survey by teamMemberId","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"teamMemberId","in":"path","description":"Id of team member","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/TeamMember"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/team-members":{"parameters":[],"get":{"description":"get team members for a survey","summary":"get team members for a survey","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/TeamMemberCollection"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"post":{"description":"add team members for a survey","summary":"add team members for a survey","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/NewTeamMember"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/TeamMember"}},"400":{"description":"Validation Error","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/survey-responsible-staffs/{staffId}":{"parameters":[],"delete":{"summary":"delete survey responsible staff","description":"delete survey responsible staff by id","parameters":[{"name":"surveyId","in":"path","description":"Id of Survey","required":true,"type":"integer","format":"int64"},{"name":"staffId","in":"path","description":"Id of staff","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"Success","schema":{}},"404":{"description":"No staff found for this survey.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/survey-responsible-staffs":{"parameters":[],"get":{"description":"get all survey responsible staffs for a survey","summary":"get all survey responsible staffs for a survey","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer"},{"name":"offset","in":"query","description":"offset.","type":"integer","default":0},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"createdAt"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/SurveyResponsibleStaff"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"post":{"description":"add responsible staffs to a survey","summary":"add responsible staffs to a survey","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["staffIds"],"properties":{"staffIds":{"type":"array","items":{"type":"integer"}}}}}],"responses":{"201":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/SurveyResponsibleStaff"}}},"400":{"description":"Validation Error","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Survey id not found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/pocs/{pocId}":{"parameters":[],"put":{"tags":["poc"],"description":"updates poc for survey","summary":"updates poc for survey","parameters":[{"name":"surveyId","in":"path","description":"Id of survey","required":true,"type":"integer","format":"int64"},{"name":"pocId","in":"path","description":"Id of poc","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/Poc"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Poc"}},"404":{"description":"POC not exists.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"get":{"tags":["poc"],"description":"get survey poc by pocId.","summary":"get survey poc by pocId.","parameters":[{"name":"surveyId","in":"path","description":"Id of survey","required":true,"type":"integer","format":"int64"},{"name":"pocId","in":"path","description":"Id of poc","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Poc"}},"404":{"description":"No Poc found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/pocs":{"parameters":[],"get":{"tags":["poc"],"description":"get all poc for  survey","summary":"get all poc for survey","parameters":[{"name":"surveyId","in":"path","description":"Id of survey","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Poc"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/notes/{noteId}":{"parameters":[],"get":{"description":"get survey notes by noteId.","summary":"get survey notes by noteId.","parameters":[{"name":"surveyId","in":"path","description":"Id of survey","required":true,"type":"integer","format":"int64"},{"name":"noteId","in":"path","description":"note Id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SurveyNotes"}},"404":{"description":"No Notes found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"delete":{"summary":"delete survey notes","description":"delete survey notes","parameters":[{"name":"surveyId","in":"path","description":"Id of survey","required":true,"type":"integer","format":"int64"},{"name":"noteId","in":"path","description":"Id of notes","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{}},"404":{"description":"No Notes found for this survey.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"description":"updates note for survey","summary":"updates note for survey","parameters":[{"name":"surveyId","in":"path","description":"Id of survey","required":true,"type":"integer","format":"int64"},{"name":"noteId","in":"path","description":"Id of note","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["note"],"properties":{"note":{"type":"string"}}}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SurveyNotes"}},"400":{"description":"Validation Error","schema":{"$ref":"#/definitions/ErrorResponse"}},"403":{"description":"user not authorized to update this Note","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Note not exists.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/notes":{"parameters":[],"get":{"description":"get all notes for an survey","summary":"get all notes for an survey","parameters":[{"name":"surveyId","in":"path","description":"Id of survey","required":true,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer","default":10},{"name":"offset","in":"query","description":"offset.","type":"integer","default":0},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"createdAt"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SurveyNotesCollection"}},"404":{"description":"No notes found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"post":{"description":"this end point adds note to survey","summary":"add note to survey","parameters":[{"name":"surveyId","in":"path","description":"Id of survey","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["note"],"properties":{"note":{"type":"string"}}}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SurveyNotes"}},"400":{"description":"Validation Error","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/generate-pdf":{"parameters":[],"post":{"description":"Generates CMS 2567 report for a survey","summary":"Generates CMS 2567 report for a survey","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/Form2567Request"}}],"responses":{"200":{"description":"Success"},"503":{"description":"service communication Error","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/form-data":{"parameters":[],"get":{"summary":"gets HHA form data","description":"gets HHA form data","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/FormData"}},"404":{"description":"No form exists","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"summary":"adds or updates HHA form data","description":"adds or updates HHA form data","parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/FormData"}},{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/FormData"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/citations/{citationId}/merges/{citationMergeId}":{"parameters":[],"put":{"operationId":"put","description":"Edit Merged citation text","summary":"Edit Merged citation text","tags":["citation"],"parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"citationId","in":"path","description":"ID of citation","required":true,"type":"integer","format":"int64"},{"name":"citationMergeId","in":"path","description":"ID of merged citation","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/EditCitationMergeRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CitationMerge"}}}}},"/v1/surveys/{surveyId}/citations/{citationId}/merges":{"parameters":[],"get":{"summary":"Get the merged citation text for a citation","description":"Get the merged citation text for a citation","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"citationId","in":"path","description":"ID of citation","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CitationMerge"}},"404":{"description":"No merged citation text found for this id.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"description":"Merge individual citation texts that have been marked as Done writing into one single merged text and save it as a merge.","summary":"Merge citation texts.","tags":["citation"],"parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"citationId","in":"path","description":"ID of citation","required":true,"type":"integer","format":"int64"}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/CitationMerge"}}}}},"/v1/surveys/{surveyId}/citations/{citationId}/citationDetail/{citationDetailId}":{"parameters":[],"put":{"description":"save citation detail for a survey","summary":"save citation detail for a survey","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"citationId","in":"path","description":"ID of citation","required":true,"type":"integer","format":"int64"},{"name":"citationDetailId","in":"path","description":"ID of citation detail","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ReOrderCitationDetailRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ReOrderCitationDetailResponse"}},"400":{"description":"Validation Error","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"citation details not found"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"delete":{"summary":"delete citation text record from citation","description":"delete citation text record from citation","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"citationId","in":"path","description":"ID of citation","required":true,"type":"integer","format":"int64"},{"name":"citationDetailId","in":"path","description":"ID of citation","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{}},"404":{"description":"No Citation Detail text record found for this citation.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/citations/{citationId}/citationDetail":{"parameters":[],"put":{"description":"save citation detail for a survey","summary":"save citation detail for a survey","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"citationId","in":"path","description":"ID of citation","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/SaveCitationDetail"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CitationDetailSave"}},"400":{"description":"Validation Error","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/citations/{citationId}/attachments/{attachmentId}/signedurls/{operation}":{"parameters":[],"get":{"tags":["attachments"],"summary":"Get signed url for a given s3 operation and s3 object key.","description":"Get signed url for a given s3 operation and s3 object key.","parameters":[{"name":"operation","in":"path","description":"S3 operation - getObject etc","required":true,"type":"string","enum":["getObject"]}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SignedUrl"}},"404":{"description":"Key not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/citations/{citationId}/attachments/{attachmentId}":{"parameters":[],"delete":{"summary":"delete citation attachment","description":"delete citation attachment","security":[{"Bearer":[]}],"parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"citationId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"attachmentId","in":"path","description":"ID of attachment","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{}},"404":{"description":"No Attachment found for this survey.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"summary":"update citation attachment description","description":"update citation attachment description","security":[{"Bearer":[]}],"parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"citationId","in":"path","description":"ID of citation","required":true,"type":"integer","format":"int64"},{"name":"attachmentId","in":"path","description":"ID of attachment","required":true,"type":"integer","format":"int64"},{"name":"attachment","in":"body","description":"new attachment description","required":true,"schema":{"type":"object","required":["description"],"properties":{"description":{"type":"string"}}}}],"responses":{"204":{"description":"Success","schema":{}},"404":{"description":"No Attachment found for this survey.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/citations/{citationId}/attachments":{"parameters":[],"get":{"description":"get attachments for a citation","summary":"get attachments for a citation","security":[{"Bearer":[]}],"parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"citationId","in":"path","description":"ID of citation","required":true,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer","default":10},{"name":"offset","in":"query","description":"offset.","type":"integer","default":0},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"createdAt"}],"responses":{"200":{"description":"Success","schema":{"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/Attachment"}}}}},"404":{"description":"No Citation found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"post":{"description":"Add attachement to a citation","summary":"Add attachement to a citation","consumes":["multipart/form-data"],"security":[{"Bearer":[]}],"parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"citationId","in":"path","description":"ID of citation","required":true,"type":"integer","format":"int64"},{"in":"formData","name":"citationAttachment","type":"file","description":"File to be attached to a survey","required":true},{"in":"formData","name":"attachmentDescription","type":"string","description":"attached file description","required":true}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/Attachment"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"403":{"description":"This file contains a virus. Please upload a valid file.","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Survey not found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/citations/{citationId}":{"parameters":[],"delete":{"summary":"delete citation from survey","description":"delete citation from survey","operationId":"deleteCitationFromSurvey","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"citationId","in":"path","description":"ID of citation","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"Success","schema":{}},"404":{"description":"No Citation found for this survey.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"get":{"summary":"get citation details by id","description":"get citation details by id","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"citationId","in":"path","description":"ID of citation","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"Success","schema":{"$ref":"#/definitions/Citation"}},"404":{"description":"No Citation found for this id.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"summary":"Updates citation categories,Deficient Practice statement,Immediate Jeopardy and memo texts based on request.","description":"Updates citation categories,Deficient Practice statement,Immediate Jeopardy and memo texts based on request.","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"citationId","in":"path","description":"ID of citation","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","schema":{"type":"object","required":["tagTypeId"],"properties":{"deficientPracticeStatement":{"type":"string","description":"deficientPracticeStatement text of citation."},"isImmediateJeopardy":{"type":"boolean","description":"deficientPracticeStatement text of citation"},"memoText":{"type":"string","description":"memo text of citation"},"isDoneWritingMemo":{"type":"boolean","description":"flag memo text completion status"},"tagTypeId":{"type":"integer","description":"id of Tag type"},"isFed":{"type":"boolean","description":"describes the regulation/tag is Federal or not"},"categoryIds":{"type":"array","items":{"type":"integer"}},"allegationIds":{"type":"array","items":{"type":"integer"}}}}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Citation"}},"400":{"description":"Validation error","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No Citation found for this survey.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/citations":{"parameters":[],"post":{"description":"add citations for a survey","summary":"add citations for a survey","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateCitation"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateCitationResponse"}},"400":{"description":"Validation Error","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"get":{"description":"get citations for a survey","summary":"get citations for a survey","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"includeCitationDetails","in":"query","description":"flag to include citation Details","type":"boolean"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer","default":10},{"name":"offset","in":"query","description":"offset.","type":"integer","default":0},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"createdAt"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CitationCollection"}},"404":{"description":"No Survey found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"description":"associates citation with survey category.","summary":"associates citation with survey category.","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"deleteExistingCitationCategory","in":"query","description":"flag to keep existing citation categories.","required":false,"type":"boolean"},{"name":"body","in":"body","required":true,"schema":{"required":["citations"],"properties":{"citations":{"type":"array","items":{"$ref":"#/definitions/CitationCategoryAssociation"}},"isBulk":{"type":"boolean"}}}}],"responses":{"200":{"description":"Success","schema":{}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/bulk-update-poc-dates":{"parameters":[],"put":{"description":"update POC dates in bulk","tags":["poc"],"summary":"update POC dates in bulk","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/BulkUpdateCitationDates"}}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BulkUpdateCitationDates"}},"404":{"description":"One or more citations do not exist","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/attachments/{attachmentId}/signedurls/{operation}":{"parameters":[],"get":{"tags":["attachments"],"summary":"Get signed url for a given s3 operation and s3 object key.","description":"Get signed url for a given s3 operation and s3 object key.","parameters":[{"name":"operation","in":"path","description":"S3 operation - getObject etc","required":true,"type":"string","enum":["getObject"]}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SignedUrl"}},"404":{"description":"Key not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/attachments/{attachmentId}":{"parameters":[],"delete":{"summary":"delete survey attachment","description":"delete survey attachment","security":[{"Bearer":[]}],"parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"attachmentId","in":"path","description":"ID of attachment","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{}},"404":{"description":"No Attachment found for this survey.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"summary":"update survey attachment description","description":"update survey attachment description","security":[{"Bearer":[]}],"parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"attachmentId","in":"path","description":"ID of attachment","required":true,"type":"integer","format":"int64"},{"name":"attachment","in":"body","description":"new attachment description","required":true,"schema":{"type":"object","required":["description"],"properties":{"description":{"type":"string"}}}}],"responses":{"204":{"description":"Success","schema":{}},"404":{"description":"No Attachment found for this survey.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}/attachments":{"parameters":[],"get":{"description":"get attachments for a survey","summary":"get attachments for a survey","security":[{"Bearer":[]}],"parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"number of rows to return in search results.","type":"integer"},{"name":"offset","in":"query","description":"offset.","type":"integer","default":0},{"name":"sortDir","in":"query","description":"direction to order results","type":"string","enum":["asc","desc"],"default":"desc"},{"name":"sortBy","in":"query","description":"field to order results by","type":"string","default":"createdAt"},{"name":"citationAttachments","in":"query","description":"flag to include associated citation attachments","type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/Attachment"}}}}},"404":{"description":"No Survey found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"post":{"description":"Add attachement to a survey","summary":"Add attachement to a survey","security":[{"Bearer":[]}],"consumes":["multipart/form-data"],"parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"surveyAttachment","in":"formData","type":"file","description":"File to be attached to a survey","required":true},{"in":"formData","name":"attachmentDescription","type":"string","description":"attached file description","required":true}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/Attachment"}},"400":{"description":"Bad request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"403":{"description":"This file contains a virus. Please upload a valid file.","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Survey not found","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/surveys/{surveyId}":{"parameters":[],"get":{"description":"get survey by id","summary":"get survey by id","parameters":[{"name":"surveyId","in":"path","description":"ID of survey to return","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Survey"}},"400":{"description":"Invalid request","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"description":"update existing survey","summary":"update existing survey","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateSurvey"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Survey"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"post":{"description":"update statement of deficiencies dates for survey","summary":"update statement of deficiencies dates for survey","parameters":[{"name":"surveyId","in":"path","description":"ID of survey","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateSurveyStatementDeficienciesDates"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Survey"}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/v1/categories/{id}":{"parameters":[],"get":{"description":"get survey category by id","summary":"get survey category by id","parameters":[{"name":"id","in":"path","description":"ID of survey category to return","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SurveyRefData"}}}}},"/v1/ao/surveys/{aoSurveyId}":{"parameters":[],"get":{"description":"get Ao survey by id","summary":"get Ao survey by id","tags":["Ao-Survey"],"parameters":[{"name":"aoSurveyId","in":"path","description":"ID of survey to return","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Survey"}},"404":{"description":"No AO Survey found","schema":{"$ref":"#/definitions/Survey"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}},"put":{"description":"update Ao survey","summary":"update Ao survey","tags":["Ao-Survey"],"parameters":[{"name":"aoSurveyId","in":"path","description":"Id of survey","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateAoSurvey"}}],"responses":{"200":{"description":"Success","schema":{}},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"No AO Survey found","schema":{"$ref":"#/definitions/Survey"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}}},"definitions":{"SignedUrl":{"type":"object","required":["signedUrl"],"properties":{"signedUrl":{"type":"string"}}},"Survey":{"required":["certificationId","providerId","surveyTypeId","aoIsIjFound","aoIsDfcncyFound"],"properties":{"id":{"type":"integer"},"certificationId":{"type":"integer"},"providerId":{"type":"integer"},"stateId":{"type":["integer","null"]},"visitNumber":{"type":["integer","null"]},"revisitSurveyId":{"type":["integer","null"]},"revisitSurveyInfo":{"type":"object","properties":{"id":{"type":"integer"},"surveyEventIdCode":{"type":"integer"},"providerId":{"type":"integer"},"exitDate":{"type":["string","null"],"format":"date"}}},"originalSurveyStatusId":{"type":["integer","null"]},"startDate":{"type":["string","null"],"format":"date"},"exitDate":{"type":["string","null"],"format":"date"},"surveyTypeId":{"type":"integer"},"surveyClassificationBridges":{"type":"array","items":{"$ref":"#/definitions/SurveyClassificationBridge"}},"surveyAddedAllowedRegulations":{"type":"array","items":{"type":"integer"}},"citations":{"type":"array","items":{"$ref":"#/definitions/Citation"}},"pocs":{"type":"array","items":{"$ref":"#/definitions/Poc"}},"aoId":{"type":["integer","null"]},"aoLscSurveyorHours":{"type":["number","null"]},"aoHealthSurveyorHours":{"type":["number","null"]},"aoEffectiveTermDscn":{"type":["integer","null"],"format":"int32"},"aoIsMedicareCrtfctnRcmdtn":{"type":["boolean","null"]},"aoIsAcrdtnExtended":{"type":["boolean","null"]},"aoComplaintRcptDate":{"type":["string","null"],"format":"date"},"aoComplaintSurveyAuthrzdDate":{"type":"string","format":"date"},"aoIsComplaintSubstntd":{"type":["boolean","null"]},"aoFinalAcrdtnStatusEfctvDate":{"type":["string","null"],"format":"date"},"aoIsIjFound":{"type":"boolean"},"aoIsIjNtfctn":{"type":["boolean","null"]},"aoCmsIjNtfctnDate":{"type":["string","null"],"format":"date"},"aoIsDfcncyFound":{"type":"boolean"},"aoCorrectionPeriod":{"type":["integer","null"],"format":"int32"},"aoCorrectionDueDate":{"type":["string","null"],"format":"date"},"aoProviderNtfctnDate":{"type":["string","null"],"format":"date"},"aoCorrectionDate":{"type":["string","null"],"format":"date"},"aoSurveyId":{"type":"string"},"aoAccreditationDecisionId":{"type":["integer","null"],"format":"int32"},"aoExtendedAccreditationStatusId":{"type":["integer","null"],"format":"int32"},"aoFinalOutComeAccreditationStatusId":{"type":["integer","null"],"format":"int32"},"aoTriageLevelId":{"type":["integer","null"],"format":"int32"},"aoCorrectionMethodIds":{"type":"array","items":{"type":"integer"}},"aoSurveyRequestTypeId":{"type":["integer","null"],"format":"int32"},"aoRegulationIds":{"type":"array","items":{"type":"integer"}},"linkedIntakes":{"type":"array","items":{"$ref":"#/definitions/Intake"}},"createdBy":{"type":["integer","null"],"format":"int64"},"updatedBy":{"type":["integer","null"],"format":"int64"}}},"SurveyClassificationBridge":{"required":["surveyId","surveyClassificationReferenceId"],"properties":{"id":{"type":"integer"},"surveyId":{"type":"integer"},"surveyClassificationReferenceId":{"type":"integer"}}},"Poc":{"properties":{"id":{"type":"integer"},"dueDate":{"type":["string","null"],"format":"date"},"providerSignOffDate":{"type":["string","null"],"format":"date"},"receivedDate":{"type":["string","null"],"format":"date"},"statusDate":{"type":["string","null"],"format":"date"},"latestCompleteDate":{"type":["string","null"],"format":"date"},"revisedDueDate":{"type":["string","null"],"format":"date"},"surveyId":{"type":"integer"},"pocStatusId":{"type":"integer"},"isCarriedOver":{"type":"boolean","default":false},"applyReceivedDateToAllCitations":{"type":"boolean","default":true},"applyAcceptedDateToAllCitations":{"type":"boolean","default":true}}},"TeamMember":{"required":["surveyId","userId","isSurveyCoordinator"],"properties":{"id":{"type":"integer"},"surveyId":{"type":"integer"},"userId":{"type":"integer"},"isSurveyCoordinator":{"type":"boolean"},"arrivalDate":{"type":"string"},"departureDate":{"type":"string"}}},"UpdateCoordinator":{"required":["id","userId"],"properties":{"id":{"type":"integer"},"userId":{"type":"integer"}}},"CreateSurvey":{"required":["providerId","providerTypeId","stateId","surveyTypeId","categories","regulationSetIds"],"properties":{"providerId":{"type":"integer"},"providerTypeId":{"type":"integer"},"stateId":{"type":"integer","format":"int64"},"startDate":{"type":["string","null"],"format":"date"},"exitDate":{"type":["string","null"],"format":"date"},"surveyTypeId":{"type":"integer","format":"int64"},"categories":{"type":"array","items":{"type":"integer"}},"intakes":{"type":"array","items":{"type":"integer"}},"surveyDueDate":{"type":["string","null"],"format":"date"},"regulationSetIds":{"type":"array","items":{"type":"integer"}},"aoOriginalSurveyId":{"type":["integer","null"],"format":"int32"}}},"CreateAoSurvey":{"required":["providerId","providerTypeId","categoryId","startDate","exitDate","aoIsIjFound"],"properties":{"providerId":{"type":"integer"},"providerTypeId":{"type":"integer"},"aoSurveyRequestTypeId":{"type":["integer","null"],"format":"int32"},"startDate":{"type":["string","null"],"format":"date"},"exitDate":{"type":["string","null"],"format":"date"},"categoryId":{"type":"integer"},"aoLscSurveyorHours":{"type":["number","null"]},"aoHealthSurveyorHours":{"type":["number","null"]},"aoEffectiveTermDscn":{"type":["integer","null"],"format":"int32"},"aoIsMedicareCrtfctnRcmdtn":{"type":["boolean","null"]},"aoIsAcrdtnExtended":{"type":["boolean","null"]},"aoComplaintRcptDate":{"type":["string","null"],"format":"date"},"aoComplaintSurveyAuthrzdDate":{"type":["string","null"],"format":"date"},"aoIsComplaintSubstntd":{"type":["boolean","null"]},"aoTriageLevelId":{"type":["integer","null"],"format":"int32"},"aoIsIjFound":{"type":"boolean"},"aoIsIjNtfctn":{"type":["boolean","null"]},"aoCmsIjNtfctnDate":{"type":["string","null"],"format":"date"},"aoIsDfcncyFound":{"type":["boolean","null"]},"aoRegulations":{"type":["array","null"],"items":{"type":"object","properties":{"aoRegulationId":{"type":"integer"},"aoTagTypeId":{"type":"integer"}}}},"aoCorrectionPeriod":{"type":["integer","null"],"format":"int32"},"aoCorrectionDueDate":{"type":["string","null"],"format":"date"},"aoProviderNtfctnDate":{"type":["string","null"],"format":"date"},"aoCorrectionDate":{"type":["string","null"],"format":"date"},"aoSurveyId":{"type":"string"},"aoAccreditationDecisionId":{"type":["integer","null"],"format":"int32"},"aoExtendedAccreditationStatusId":{"type":["integer","null"],"format":"int32"},"aoFinalOutComeAccreditationStatusId":{"type":["integer","null"],"format":"int32"},"aoCorrectionMethodIds":{"type":["array","null"],"items":{"type":"integer"}},"aoFinalAcrdtnStatusEfctvDate":{"type":["string","null"],"format":"date"},"teamCoordinatorUserId":{"type":["integer","null"],"format":"int32"}}},"UpdateSurvey":{"required":["providerTypeId"],"properties":{"isClosed":{"type":"boolean"},"isLocked":{"type":"boolean"},"startDate":{"type":["string","null"],"format":"date"},"exitDate":{"type":["string","null"],"format":"date"},"surveyTypeId":{"type":"integer","format":"int64"},"providerTypeId":{"type":"integer","format":"int64"},"categories":{"type":"array","items":{"type":"integer"}},"regulationSetIds":{"type":"array","items":{"type":"integer"}}}},"UpdateSurveyStatementDeficienciesDates":{"properties":{"statementOfDeficiencyDateSent":{"type":["string","null"],"format":"date"},"statementOfDeficiencyDueToProvider":{"type":["string","null"],"format":"date"},"dueBackDateFromProvider":{"type":["string","null"],"format":"date"}}},"CreateSurveyResponse":{"type":"array","items":{"$ref":"#/definitions/Survey"}},"SurveyCollection":{"type":"object","required":["results","count","numPages","page","offset","limit"],"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/Survey"}},"count":{"description":"total results from filter","type":"number","format":"int32"},"numPages":{"type":"number","format":"int32"},"page":{"type":"number","format":"int32"},"offset":{"type":"number","format":"int32"},"limit":{"type":"number","format":"int32"}}},"SurveyResponsibleStaff":{"type":"object","required":["id","surveyId","staffId"],"properties":{"id":{"type":"integer"},"surveyId":{"type":"integer"},"staffId":{"type":"integer"}}},"TeamMemberCollection":{"type":"object","required":["results","count","numPages","page","offset","limit"],"properties":{"results":{"type":"array","items":{"$ref":"#/definitions/TeamMember"}}}},"NewTeamMember":{"type":"object","required":["userIds"],"properties":{"userIds":{"type":"array","items":{"type":"integer"}}}},"CreateSurveyTime":{"type":"object","required":["taskId","userId"],"properties":{"userId":{"type":"integer","format":"int64"},"time":{"type":"number"},"taskId":{"type":"integer","format":"int32"}}},"SurveyTimeCard":{"type":"object","required":["surveyTimeCardUserId","surveyClassificationBridgeId"],"properties":{"surveyTimeCardUserId":{"type":"integer","format":"int64"},"surveyClassificationBridgeId":{"type":"integer","format":"int64"},"timeEntries":{"type":"array","items":{"$ref":"#/definitions/SurveyTime"}},"arrivalDate":{"type":"string"},"departureDate":{"type":"string"}}},"SurveyTime":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"time":{"type":"number"},"taskId":{"type":"integer","format":"int32"},"timeCardId":{"type":"integer","format":"int32"}}},"SurveyTimeEntries":{"type":"array","items":{"$ref":"#/definitions/SurveyTime"}},"SurveyRefData":{"type":"object","properties":{"id":{"type":"integer"},"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"}}},"SurveyRefDataResponse":{"type":"array","items":{"$ref":"#/definitions/SurveyRefData"}},"SurveyCategory":{"properties":{"id":{"type":"integer"},"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"isFed":{"type":"boolean"}}},"SurveyCategoryResponse":{"type":"array","items":{"$ref":"#/definitions/SurveyCategory"}},"CitationDetail":{"required":["citationId","surveyId"],"properties":{"id":{"type":"integer"},"citationId":{"type":"integer"},"citationText":{"type":"string"},"surveyId":{"type":"integer"},"citationTextAuthorUserId":{"type":"string"}}},"CitationDetailSave":{"required":["citationId","surveyId"],"properties":{"id":{"type":"integer"},"citationId":{"type":"integer"},"citationText":{"type":"string"},"surveyId":{"type":"integer"},"citationTextAuthorUserId":{"type":"string"},"citationStatusId":{"type":"integer"}}},"CitationMerge":{"required":["citationId","citationText"],"properties":{"id":{"type":"integer"},"citationId":{"type":"integer"},"citationText":{"type":"string"}}},"Regulation":{"properties":{"id":{"type":"integer"},"tagCode":{"type":"string"},"tagTitle":{"type":"string"},"interpretiveGuideLine":{"type":"string"},"regulationText":{"type":"string"},"cfrName":{"type":"string"},"cfrTitle":{"type":"string"},"tagTypeDescription":{"type":"string"},"allowedRegulationReferenceId":{"type":"integer"},"regulationSetId":{"type":"integer"},"regulationSetTitle":{"type":"string"},"regulationSetIsFed":{"type":"boolean"},"regulationSetIsVersion":{"type":"string"}}},"Citation":{"required":["regulationId","citationStatusId","surveyId"],"properties":{"id":{"type":"integer"},"regulationId":{"type":"integer"},"citationStatusId":{"type":"integer"},"surveyId":{"type":"integer"},"deficientPracticeStatement":{"type":"string"},"createdBy":{"type":"integer"},"tagDetail":{"type":"object","$ref":"#/definitions/Regulation"},"hasCitationText":{"type":"boolean"},"citationDetails":{"type":"array","items":{"$ref":"#/definitions/CitationDetail"}}}},"BulkUpdateCitationDates":{"required":["id"],"properties":{"id":{"type":"integer","format":"int64"},"pocReceivedDate":{"type":["string","null"],"format":"date"},"pocAcceptedDate":{"type":["string","null"],"format":"date"},"completeDate":{"type":["string","null"],"format":"date"},"correctedDate":{"type":["string","null"],"format":"date"}}},"Attachment":{"properties":{"id":{"type":"integer","format":"int64"},"originalFileName":{"type":"string"},"attachmentDesc":{"type":"string"},"s3Location":{"type":"string"},"fileSize":{"type":"string"},"surveyId":{"type":"integer","format":"int64"},"citationId":{"type":"integer","format":"int64"},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date"}}},"CreateCitation":{"required":["regulations"],"properties":{"regulations":{"type":"array","items":{"required":["regulationId","tagTypeId","isFed"],"type":"object","properties":{"regulationId":{"type":"integer"},"tagTypeId":{"type":"integer"},"isFed":{"type":"boolean","description":"describes the regulation/tag is Federal or not"}}}}}},"CitationCategoryAssociation":{"type":"object","required":["citationId","tagTypeId","isFed","categoryIds"],"properties":{"citationId":{"type":"integer"},"tagTypeId":{"type":"integer"},"isFed":{"type":"boolean","description":"describes the regulation/tag is Federal or not"},"categoryIds":{"type":"array","items":{"type":"integer"}},"allegationIds":{"type":"array","items":{"type":"integer"}}}},"CreateCitationResponse":{"properties":{"citations":{"type":"array","items":{"$ref":"#/definitions/Citation"}}}},"SaveCitationDetail":{"properties":{"id":{"type":"integer","description":"Citation finding id.this is required filed to edit citation finding."},"citationText":{"type":"string"},"order":{"type":"integer"},"isDoneWriting":{"type":"boolean"}}},"ReOrderCitationDetailRequest":{"properties":{"direction":{"type":"string","enum":["up","down"]}}},"ReOrderCitationDetailResponse":{"properties":{"orderedList":{"type":"array","items":{"$ref":"#/definitions/ReOrderCitationDetail"}}}},"ReOrderCitationDetail":{"properties":{"id":{"type":"integer"},"order":{"type":"integer"}}},"CitationCollection":{"properties":{"citations":{"type":"array","items":{"$ref":"#/definitions/Citation"}}}},"EditCitationMergeRequest":{"properties":{"citationText":{"type":"string"},"isDoneMerging":{"type":"boolean"}}},"ProviderClassificationResponse":{"required":["providerTypeId","surveyTypes","categories"],"properties":{"providerTypeId":{"type":"integer"},"surveyTypes":{"type":"integer","format":"int64"},"categories":{"type":"array","items":{"type":"integer"}}}},"FormData":{"required":["data"],"properties":{"data":{"type":"object"}}},"SurveyNotes":{"type":"object","required":["surveyId","note"],"properties":{"id":{"type":"integer"},"note":{"type":"string"},"noteWrittenBy":{"type":"string"},"noteDate":{"type":"string"},"surveyId":{"type":"integer"}}},"SurveyNotesCollection":{"type":"array","items":{"$ref":"#/definitions/SurveyNotes"}},"RefData":{"type":"object","properties":{"id":{"type":"integer"},"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"}}},"ErrorResponse":{"required":["message"],"properties":{"message":{"type":"string"}}},"PingResponse":{"required":["message"],"properties":{"message":{"type":"string"}}},"Form2567Request":{"type":"object","required":["statementOfDeficiencies","regulationSetIds","formatOptions"],"properties":{"statementOfDeficiencies":{"type":"object","properties":{"isState":{"type":"boolean","default":false}}},"regulationSetIds":{"type":"array","items":{"type":"integer"}},"formatOptions":{"type":"object","properties":{"includeTag9999":{"type":"boolean"},"useLargeFont":{"type":"boolean"}}}}},"Intake":{"type":"object","properties":{"id":{"type":"integer"},"surveyId":{"type":"integer"},"surveyDueDate":{"type":["string","null"],"format":"date"},"providerId":{"type":"integer"},"intakeTypeId":{"type":"integer"},"intakeSubTypeId":{"type":["integer","null"]},"intakeStatusId":{"type":"integer"}}}},"tags":[{"name":"poc"},{"name":"Ao-Survey"},{"name":"citation"},{"name":"attachments"}]}
