{"swagger":"2.0","info":{"version":"0.0.2","title":"iQIES Virus Scan Service","description":"The virus scan service detects the existence or absence of viruses in an S3 file."},"x-service":"virusscan","host":"virusscan.service.consul:32769","basePath":"","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/v2/scanS3":{"parameters":[],"post":{"description":"Scanning endpoint","operationId":"scan","parameters":[{"name":"FileScanRequest","description":"Payload required to scan file.","in":"body","required":true,"schema":{"$ref":"#/definitions/FileScanRequest"}}],"responses":{"200":{"description":"Queued to scan."},"400":{"description":"Bad Request"}},"tags":["Utility"]}},"/v1/scanS3":{"parameters":[],"post":{"description":"Scanning endpoint","operationId":"scan","parameters":[{"name":"FileScanRequest","description":"Payload required to scan file.","in":"body","required":true,"schema":{"$ref":"#/definitions/FileScanRequest"}}],"responses":{"200":{"description":"Queued to scan."},"400":{"description":"Bad Request"}},"tags":["Utility"]}},"/v1/ping":{"parameters":[],"get":{"description":"health check endpoint","operationId":"ping","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}},"tags":["Utility"]}}},"definitions":{"PingResponse":{"required":["message"],"properties":{"message":{"type":"string"}}},"FileScanRequest":{"type":"object","required":["s3Key","filename"],"properties":{"s3Key":{"description":"Name of the key in the purgatory S3 bucket.","type":"string"},"filename":{"description":"Name of the file.","type":"string"},"serviceQueueUrl":{"description":"URL for the service queue that points to the hostname the virus scan will dispatch messages to.","type":"string"},"messageAttributes":{"description":"Object to be passed through to the queue","type":"object"}}}},"tags":[{"name":"Utility"}]}
