{"swagger":"2.0","info":{"version":"0.0.2","title":"iQIES VUT Service","description":"The Validation Utility Tool (VUT) Service runs the iqies Spec Implementation Framework (SIF) on uploaded xml and zip files"},"x-service":"vut","host":"vut.service.consul:32772","basePath":"","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/v1/ping":{"parameters":[],"get":{"description":"health check endpoint","operationId":"ping","responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}},"tags":["Utility"]}},"/v1/dataset-types":{"parameters":[],"get":{"description":"get available dataset types","responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/RefData"}}},"500":{"description":"Failure","schema":{"$ref":"#/definitions/ErrorResponse"}}},"tags":["Reference Data"]}},"/v1/assessmentUpload":{"parameters":[],"post":{"description":"VUT endpoint for uploading and validating assessments","consumes":["multipart/form-data"],"parameters":[{"in":"formData","name":"assessmentFile","type":"file","description":"File to be validated","required":true}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/undefined"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"403":{"description":"This file contains a virus. Please upload a valid file.","schema":{"$ref":"#/definitions/ErrorResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}}},"definitions":{"ErrorResponse":{"required":["message"],"properties":{"message":{"type":"string"}}},"PingResponse":{"required":["message"],"properties":{"message":{"type":"string"}}}},"tags":[{"name":"Utility"},{"name":"Reference Data"}]}
