<!DOCTYPE html>
<html lang="en">

{% include '_head.html' %}

<body class="sb-nav-fixed">
    {% include '_topNav.html' %}
    <div id="layoutSidenav">
        <!-- Side Navbar -->
        <div id="layoutSidenav_nav">
            {% include '_sideNav.html' %}    
        </div>
        <div id="layoutSidenav_content">
            <main>
                {% block content %} {% endblock %}
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Creative Commons 1.0</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src={{ url_for('static', filename='js/moment.js') }}></script>
    
</body>

</html>